.btn-top {
  width: 5em;
}

.cards-col {
  width: 100%;
  perspective: 1500px;
  transform-style: preserve-3d;
  --rotator-transition: all .6s ease-out;

  --rotator-global-rotate-y: 0deg;
  --rotator-rotate-x: 0deg;
  --rotator-rotate-y: 0deg;
  --pseudo-opacity: 0;
  --pseudo-left: 50%;
  --pseudo-top: 50%;

  --holo-sheet-bottom: none;
  --holo-sheet-middle: none;
  --holo-sheet-top: none;
}

.card-picking {
  --rotator-global-rotate-y: 360deg;
}

.card-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .8;
  top: 0;
  left: 0;
  z-index: 1099;
  transition: opacity 1s linear;
  visibility: visible;
}

.card-backdrop-hidden {
  visibility: hidden;
  opacity: .0;
  transition: opacity 1s linear, visibility 0s linear 1s;
}

.card-details-table{

}

.card-details-table td{
  width: 50%;
}
