<div class="not-found position-relative">
  <img class="not-found-img cannot-drag" src="./assets/not_found.webp" alt="">
  <div #faultTurtle class="turtle">
    <img class="ongekiHead cannot-drag" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_06202201.webp" alt="">
<!--    <img class="not-found-turtle cannot-drag" src="./assets/not-found-turtle.webp" alt="">-->
    <svg class="not-found-turtle cannot-drag" viewBox="0 0 128 128">
      <g style="fill: #e8daa9">
        <use href="assets/turtle.svg#body"/>
      </g>
      <g style="fill: #efc75b">
        <use href="assets/turtle.svg#shell"/>
      </g>
      <g style="fill: #f48a00">
        <use href="assets/turtle.svg#lines"/>
      </g>
      <use href="assets/turtle.svg#face"/>
    </svg>
  </div>
</div>
