.logo {
  width: 25%;
}

.cannot-drag {
  -webkit-user-drag: none;
}

.not-found {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-drag: none;
}

.not-found-img {
  position: absolute;
}

.not-found-turtle {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 18rem;
}

.turtle {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 18rem;
  height: 18rem;
  /*background: url('src/assets/not-found-turtle.png') no-repeat center center / 100%;*/
}

.not-found-turtle {
  position: absolute;
  z-index: 99;
  max-height: 100%;
  max-width: 100%;
  top: 0;
  transform: translate(-50%, 0);
  left: 50%;
  height: 100%;
}

.ongekiHead {
  width: 92%;
  position: absolute;
  /*top: 4.5%;*/
  top: 3.5%;
  left: -24%;
  z-index: 9999;
}

.logo-img_fault {
  background-blend-mode: screen;
}

.logo-img_fault::after {
  transform: translateX(-2%);
  background-color: #f00;
}

.logo-img_fault::before{
  transform: translateX(2%);
  background-color: #00f;
}

@media only screen and (max-width: 575px) {
  .logo {
    width: 50%;
  }
  .not-found-img {
    width: 100%;
  }
  .not-found-turtle {
    max-width: 80%;
    max-height: 80%;
    left: 45.2%;
  }
  .ongekiHead {
    width: 72%;
    position: absolute;
    top: 2.5%;
    left: -13%;
    z-index: 9999;
  }
}
