<div class="d-flex justify-content-center">
  <div class="card authorization-card col-12 mb-5">
    <div class="pt-2 pt-lg-4 px-3 px-sm-5 mb-3">
      <div class="mb-4">
        <div class="fs-1 fw-bold">RinNET</div>
        <div class="fs-5 fw-bold">{{'ResetPasswordPage.Title' | translate}}</div>
      </div>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="d-grid gap-1 small fw-bold mb-3">
          <div>
            <label for="email" class="form-label small">{{'ResetPasswordPage.EmailAddress' | translate}}</label>
            <div class="input-group input-group-sm has-validation">
              <input type="email" class="form-control form-control-sm" id="email" formControlName="email"
                     placeholder=""
                     [class.is-invalid]="email.touched && !email.valid && email.errors">
              <div *ngIf="email.errors" class="invalid-tooltip">
                <div *ngIf="email.errors.required">{{'ResetPasswordPage.EmailErrors.Required' | translate}}</div>
                <div *ngIf="email.errors.maxlength">{{'ResetPasswordPage.EmailErrors.Maxlength' | translate}}</div>
                <div *ngIf="email.errors.email">{{'ResetPasswordPage.EmailErrors.Email' | translate}}</div>
              </div>
            </div>
          </div>

          <div>
            <label for="verifyCode" class="form-label small">{{'ResetPasswordPage.VerificationCode' | translate}}</label>
            <div class="input-group input-group-sm has-validation">
              <input type="text" class="form-control form-control-sm" id="verifyCode" formControlName="verifyCode"
                     placeholder=""
                     [class.is-invalid]="verifyCode.touched && !verifyCode.valid && verifyCode.errors">
              <div *ngIf="verifyCode.errors" class="invalid-tooltip">
                <div *ngIf="verifyCode.errors.required">{{'ResetPasswordPage.VerificationCodeErrors.Required' | translate}}</div>
                <div *ngIf="verifyCode.errors.minlength">{{'ResetPasswordPage.VerificationCodeErrors.Length' | translate}}</div>
                <div *ngIf="verifyCode.errors.maxlength">{{'ResetPasswordPage.VerificationCodeErrors.Length' | translate}}</div>
              </div>
              <button class="btn btn-primary input-group-btn" type="button" (click)="getVerifyCode()" [disabled]="isButtonDisabled">
                {{ isButtonDisabled ? remainingTime : ('ResetPasswordPage.Send' | translate) }}
              </button>
            </div>
          </div>

          <div>
            <label for="password" class="form-label small">{{'ResetPasswordPage.Password' | translate}}</label>
            <div class="input-group input-group-sm has-validation">
              <input type="password" class="form-control form-control-sm" id="password" formControlName="password"
                     placeholder=""
                     [class.is-invalid]="password.touched && !password.valid && password.errors">
              <div *ngIf="password.errors" class="invalid-tooltip">
                <div *ngIf="password.errors.required">{{'ResetPasswordPage.PasswordErrors.Required' | translate}}</div>
                <div *ngIf="password.errors.minlength">{{'ResetPasswordPage.PasswordErrors.Minlength' | translate}}</div>
                <div *ngIf="password.errors.maxlength">{{'ResetPasswordPage.PasswordErrors.Maxlength' | translate}}</div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-sm mt-4 mb-2" [class.disabled]="resetPasswordForm.disabled" (click)="onSubmit()">{{'ResetPasswordPage.Reset' | translate}}</button>
          <div class="fw-normal d-flex align-items-center justify-content-center">
            <button class="btn btn-link btn-sm text-decoration-none p-0" (click)="navigateToSignIn()">{{'ResetPasswordPage.Back' | translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
