<h1>Music List</h1>

<ng-template #pagination>
  <pagination-template *ngIf="true" #p="paginationApi" class="user-select-none" id="server" maxSize="7"
                       style="cursor: default"
                       (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)">
    <ul class="pagination pagination-sm justify-content-center">
      <li class="page-item" [class.disabled]="p.isFirstPage()">
        <a class="page-link" (click)="p.previous()">&nbsp;<&nbsp;</a>
      </li>
      <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value" class="page-item">
        <a *ngIf="p.getCurrent() == page.value" class="page-link">{{ page.label }}</a>
        <a *ngIf="p.getCurrent() != page.value" (click)="p.setCurrent(page.value)"
           class="page-link">{{ page.label }}</a>
      </li>
      <li class="page-item" [class.disabled]="p.isLastPage()">
        <a class="page-link" (click)="p.next()">&nbsp;>&nbsp;</a>
      </li>
    </ul>
  </pagination-template>
</ng-template>
<ng-container *ngTemplateOutlet="pagination;"></ng-container>
<input type="text" class="form-control mb-2" placeholder="Filter" [(ngModel)]="searchTerm" (input)="filterSongs()">

<div class="song-container card btn mb-1 text-start"  (click)="showDetail(item)"
     *ngFor="let item of filteredSongList | paginate: { id: 'server', itemsPerPage: 15, currentPage: currentPage, totalItems: totalElements }">
  <div class="song-info card-body hstack gap-2">
    <div class="jacket-container ratio ratio-1x1">
      <!--jacket-->
      <img class="position-absolute"
           src="{{host}}assets/ongeki/jacket/UI_Jacket_{{item.id|formatNumber:4}}.jpg"
           alt="">
    </div>
    <div class="overflow-hidden">
      <!--title-->
      <div class="song-info-title text-truncate fw-bold">
        <span>
          {{item.id}}.「{{item.name}}」
        </span>
      </div>
      <!--artist-->
      <div class="song-info-artist text-truncate ">
          <span>
            {{item.artistName}}
          </span>
      </div>
      <!--difficulty-->
      <!--      <div>-->
      <!--        <span *ngIf="!(parseFloat(item.level0) == 0)"-->
      <!--          class="song-info-difficulty song-info-difficulty-Basic badge rounded-pill me-2">-->
      <!--              Basic-->
      <!--          {{(item.level0 | toLevelDecimal)}}-->
      <!--            </span>-->
      <!--        <span *ngIf="!(parseFloat(item.level1) == 0)"-->
      <!--          class="song-info-difficulty song-info-difficulty-Advanced badge rounded-pill me-2">-->
      <!--              Advanced-->
      <!--          {{(item.level1 | toLevelDecimal)}}-->
      <!--            </span>-->
      <!--        <span *ngIf="!(parseFloat(item.level2) == 0)"-->
      <!--          class="song-info-difficulty song-info-difficulty-Expert badge rounded-pill me-2">-->
      <!--              Expert-->
      <!--          {{(item.level2 | toLevelDecimal)}}-->
      <!--            </span>-->
      <!--        <span *ngIf="!(parseFloat(item.level3) == 0)"-->
      <!--          class=" song-info-difficulty song-info-difficulty-Master badge rounded-pill me-2">-->
      <!--              Master-->
      <!--          {{(item.level3 | toLevelDecimal)}}-->
      <!--            </span>-->
      <!--        <span *ngIf="parseFloat(item.level3) == 0"-->
      <!--          class="song-info-difficulty song-info-difficulty-Lunatic badge rounded-pill border border-danger text-danger me-2">-->
      <!--              Lunatic-->
      <!--          {{(item.level4 | toLevelDecimal)}}-->
      <!--            </span>-->
      <!--      </div>-->
    </div>
  </div>
</div>
<ng-container *ngTemplateOutlet="pagination;"></ng-container>

