<h1>Music List</h1>

<ng-template #pagination>
  <pagination-template *ngIf="true" #p="paginationApi" class="user-select-none" id="server" maxSize="7"
                       style="cursor: default"
                       (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)">
    <ul class="pagination pagination-sm justify-content-center">
      <li class="page-item" [class.disabled]="p.isFirstPage()">
        <a class="page-link" (click)="p.previous()">&nbsp;<&nbsp;</a>
      </li>
      <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value" class="page-item">
        <a *ngIf="p.getCurrent() == page.value" class="page-link">{{ page.label }}</a>
        <a *ngIf="p.getCurrent() != page.value" (click)="p.setCurrent(page.value)"
           class="page-link">{{ page.label }}</a>
      </li>
      <li class="page-item" [class.disabled]="p.isLastPage()">
        <a class="page-link" (click)="p.next()">&nbsp;>&nbsp;</a>
      </li>
    </ul>
  </pagination-template>
</ng-template>
<ng-container *ngTemplateOutlet="pagination;"></ng-container>
<input type="text" class="form-control mb-2" placeholder="Filter" [(ngModel)]="searchTerm" (input)="filterSongs()">
<div class="card mb-3">
  <div class="card-body">
    <table class="table table-borderless table-striped align-middle">
      <thead>
      <th>Id.</th>
      <th>Name</th>
      <th>Artist</th>
      </thead>
      <tbody>
      <tr *ngFor="let item of filteredSongList | paginate: { id: 'server', itemsPerPage: 15, currentPage: currentPage, totalItems: totalElements }">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.artistName }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-container *ngTemplateOutlet="pagination;"></ng-container>

