input[type=checkbox] {
  width: 0;
  height: 0;
  border: 0;
  visibility: hidden;
}

.checkbox-label{
  text-wrap: nowrap;
  user-select: none;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  color: var(--bs-link-color);
  background-color: var(--bs-body-bg);
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


input[type=checkbox] + .checkbox-label:hover{
  color: var(--bs-link-hover-color);
  background-color: var(--bs-tertiary-bg);
}

input[type=checkbox]:checked + .checkbox-label{
  color: var(--bs-light);
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-mdc-table {
  background: transparent;
}

.song-info {
  padding: 4px;
}

.song-info .jacket-container {
  width: 5.6rem;
  min-width: 5.6rem;
  aspect-ratio: 1;
}

.song-info .song-info-id {
  font-size: 20px;
}

.song-info .song-info-title {
  font-size: 16px;
}

.song-info .song-info-artist {
  font-size: 12px;
}

.difficulty {
  font-size: 12px;
}

.difficulty-basic {
  background: #2da060;
  border: 1px solid #145830;
  color: white;
}

.difficulty-advanced {
  background: #e6a047;
  border: 1px solid #995014;
  color: white;
}

.difficulty-expert {
  background: #e55353;
  border: 1px solid #7B1F18;
  color: white;
}

.difficulty-master {
  background: #9d5cb9;
  border: 1px solid #381C47;
  color: white;
}

.difficulty-lunatic {
  background: var(--bs-white);
  border: 1px solid var(--bs-danger);
  color: var(--bs-danger);
}
