.song-info {
  padding: 4px;
}

.song-info .jacket-container {
  width: 96px;
  min-width: 96px;
}

.song-info .song-info-title {
  font-size: 18px;
}

.song-info .song-info-artist {
  font-size: 12px;
}

.song-info .song-info-difficulty {
  font-size: 12px;
}

.song-info .song-info-difficulty-Basic {
  background: var(--bs-green);
}

.song-info .song-info-difficulty-Advanced {
  background: var(--bs-yellow);
}

.song-info .song-info-difficulty-Expert {
  background: var(--bs-red);
}

.song-info .song-info-difficulty-Master {
  background: var(--bs-purple);
}

.song-info .song-info-difficulty-Lunatic {
  background: #FFFFFF;
}

.play-result {
  padding-bottom: 0;
}

.play-result .score-area {
  margin-bottom: 8px;
  margin-top: 16px;
  text-shadow: 1px 1px 1px #888888;
}

.play-result .score-area .item-header {
  font-size: 12px;
}

.play-result .score-area .battle-item-header {
  color: darkorange;
}

.play-result .score-area .technical-item-header {
  color: darkcyan;
}

.play-result .score-area .score-font-large {
  font-size: 22px;
}

.play-result .score-area .score-font-small {
  font-size: 16px;
}

.play-result .score-area .score {
  color: gold;
}

.play-result .score-area .score-stamp {
  object-fit: contain;
  max-height: 64px;
  max-width: 100%;
}

.play-result .score-area .score-honor {
  max-width: 128px;
}

.judge-table {
  min-width: 224px;
  text-shadow: 1px 1px 1px #222222;
  font-size: 14px;
  text-align: center;
  height: 100%;
}

.judge-table .combo{
  color: palegoldenrod;
}

.judge-table .critical-break{
  color: gold;
}

.judge-table .break{
  color: orange;
}

.judge-table .hit{
  color: cyan;
}

.judge-table .miss{
  color: darkgray;
}

.judge-table .bell{
  color: gold;
}

.judge-table .damage{
  color: orangered;
}

.battle-area{
  margin-bottom: 10px;
}

.battle-area .chara-container{
  margin-inline: auto;
  max-width: 128px;
  min-width: 48px;
  aspect-ratio: 0.730038022813688;
}

.battle-area .chara-container .chara-center{
  height: 50%;
}

.battle-area .chara-container .chara-center .chara-center-img{
  right: 0;
  height: 100%;
  min-width: 0;
  aspect-ratio: 1;
  object-fit: cover;
}

.battle-area .chara-container .chara-center .chara-center-level{
  width: 60%;
  left: 0;
  bottom: 0;
}

.battle-area .chara-container .chara-side{
  height: 25%;
}

.battle-area .chara-container .chara-side .chara-side-img{
  right: 0;
  height: 100%;
  min-width: 0;
  aspect-ratio: 1.8;
  object-fit: cover;
}

.battle-area .chara-container .chara-side .chara-side-level{
  width: 50%;
  left: 10%;
  bottom: 0;
}

.battle-area .boss{
  margin-inline: auto;
  max-width: 128px;
  min-width: 48px;
  aspect-ratio: 0.730038022813688;
  overflow: hidden;
}

.battle-area .boss .boss-img{
  height: 100%;
}

.battle-area .boss .boss-level{
  width: 60%;
  left: 0;
  bottom: 0;
}
