<div class="card">
  <div class="song-info card-header hstack gap-2">
    <div class="jacket-container ratio ratio-1x1">
      <!--jacket-->
      <img class="position-absolute"
           src="{{host}}assets/ongeki/jacket/UI_Jacket_{{playLog.musicId|formatNumber:4}}.jpg"
           alt="">
    </div>
    <div class="overflow-hidden">
      <!--title-->
      <div class="song-info-title text-truncate fw-bold">
          <span>
            {{playLog.songInfo != null ? playLog.songInfo.name : 'musicId:' + playLog.musicId}}
          </span>
      </div>
      <!--artist-->
      <div class="song-info-artist text-truncate ">
          <span>
            {{playLog.songInfo != null ? playLog.songInfo.artistName : '&nbsp;'}}
          </span>
      </div>
      <!--difficulty-->
      <div *ngIf="playLog.songInfo" [ngSwitch]="difficulty[playLog.level]">
            <span *ngSwitchCase="'Basic'"
                  class="song-info-difficulty song-info-difficulty-Basic badge rounded-pill">
              Basic
              {{playLog.songInfo.level0 | toLevelDecimal}}
            </span>
        <span *ngSwitchCase="'Advanced'"
              class="song-info-difficulty song-info-difficulty-Advanced badge rounded-pill">
              Advanced
          {{playLog.songInfo.level1 | toLevelDecimal}}
            </span>
        <span *ngSwitchCase="'Expert'"
              class="song-info-difficulty song-info-difficulty-Expert badge rounded-pill">
              Expert
          {{playLog.songInfo.level2 | toLevelDecimal}}
            </span>
        <span *ngSwitchCase="'Master'"
              class=" song-info-difficulty song-info-difficulty-Master badge rounded-pill">
              Master
          {{playLog.songInfo.level3 | toLevelDecimal}}
            </span>
        <span *ngSwitchCase="'Lunatic'"
              class="song-info-difficulty song-info-difficulty-Lunatic badge rounded-pill border border-danger text-danger">
              Lunatic
          {{playLog.songInfo.level4 | toLevelDecimal}}
            </span>
      </div>
    </div>
  </div>
  <div class="play-result card-body ">
    <div class="row align-items-center">
      <div class="score-area col-12 col-md-6">
        <div class="row text-nowrap">
          <div class="col-6 col-sm-3 col-md-6 col-lg-3 text-end">
            <!--battle score-->
            <div class="item-header battle-item-header">
              <span>BATTLE SCORE</span>
            </div>
            <div class="score">
              <span class="score-font-large">{{Math.floor(playLog.battleScore / 10000)}}</span>
              <span class="score-font-small">{{playLog.battleScore % 10000|formatNumber:4}}</span>
            </div>
            <!--over damage-->
            <div class="item-header battle-item-header">
              <span>OVER DAMAGE</span>
            </div>
            <div>
              <span class="score-font-large">{{Math.floor(playLog.overDamage / 100)}}</span>
              <span class="score-font-small">.{{playLog.overDamage % 100|formatNumber:2}}%</span>
            </div>
          </div>
          <!--score stamp-->
          <div class="col-6 col-sm-3 col-md-6 col-lg-3 align-items-center d-flex">
            <img class="score-stamp" src="{{host}}assets/ongeki/gameUi/{{playLog.battleScoreRank | toBattleSprite}}"
                 alt="{{battleRank[playLog.battleScoreRank]}}">
          </div>
          <div class="col-6 col-sm-3 col-md-6 col-lg-3 text-end">
            <!--technical score-->
            <div class="item-header technical-item-header">
              <span>TECHNICAL SCORE</span>
            </div>
            <div class="score">
              <span class="score-font-large">{{Math.floor(playLog.techScore / 10000)}}</span>
              <span class="score-font-small">{{playLog.techScore % 10000|formatNumber:4}}</span>
            </div>
            <!--rating-->
            <div class="item-header technical-item-header">
              <span>RATING</span>
            </div>
            <div *ngIf="playLog.songInfo" class="score-font-large" [ngSwitch]="difficulty[playLog.level]">
              <span
                *ngSwitchCase="'Basic'">{{((playLog.songInfo.level0 | toLevelDecimal) | toTechRating : playLog.techScore : 2)}}</span>
              <span
                *ngSwitchCase="'Advanced'">{{((playLog.songInfo.level1 | toLevelDecimal) | toTechRating : playLog.techScore : 2)}}</span>
              <span
                *ngSwitchCase="'Expert'">{{((playLog.songInfo.level2 | toLevelDecimal) | toTechRating : playLog.techScore : 2)}}</span>
              <span
                *ngSwitchCase="'Master'">{{((playLog.songInfo.level3 | toLevelDecimal) | toTechRating : playLog.techScore : 2)}}</span>
              <span
                *ngSwitchCase="'Lunatic'">{{((playLog.songInfo.level4 | toLevelDecimal) | toTechRating : playLog.techScore : 2)}}</span>
            </div>
          </div>
          <!--score rank-->
          <div class="col-6 col-sm-3 col-md-6 col-lg-3 align-items-center d-flex" style="max-width: 150px">
            <img class="score-stamp"
                 src="{{host}}assets/ongeki/gameUi/{{playLog.techScoreRank | toTechSprite}}"
                 alt="{{technicalRank[playLog.techScoreRank]}}">
          </div>
        </div>
        <div class="row row-cols-2 align-items-center">
          <!--full bell-->
          <div class="col-6 col-sm-auto col-md-6 col-xl-auto text-end">
            <img class="score-honor" alt=""
                 src="{{host}}assets/ongeki/gameUi/UI_RES_Score_FB_{{playLog.isFullBell ? 'Badge' : 'Base'}}.png">
          </div>
          <!--all break-->
          <div class="col-6 col-sm-auto col-md-6 col-xl-auto text-start">
            <img class="score-honor" alt=""
                 src="{{host}}assets/ongeki/gameUi/UI_RES_Score_{{playLog.isAllBreak ? 'AB' : 'FC'}}_{{playLog.isFullCombo ? 'Badge' : 'Base'}}.png">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row" style="margin-bottom: 10px">
          <div class="col-6">
            <div style="margin-inline: auto;max-width: 128px;min-width: 48px;aspect-ratio: 0.730038022813688">
              <div class="position-relative" style="height: 50%">
                <img class="position-absolute"
                     style="right: 0;height: 100%;min-width: 0;aspect-ratio: 1;object-fit: cover"
                     src="{{host}}assets/ongeki/card-icon/UI_Card_Icon_{{playLog.cardInfo2.id | formatNumber:6}}.png">
                <app-ongeki-card-level class="position-absolute" style="width: 60%;left: 0;bottom: 0"
                                       [level]="playLog.cardLevel2"
                                       [attribute]="playLog.cardInfo2.attribute"></app-ongeki-card-level>
              </div>
              <div class="position-relative" style="height: 25%">
                <!--            <div>LV.75</div>-->
                <img class="position-absolute"
                     style="right: 0;height: 100%;min-width: 0;aspect-ratio: 1.8;object-fit: cover"
                     src="{{host}}assets/ongeki/card-icon/UI_Card_Icon_{{playLog.cardInfo1.id | formatNumber:6}}.png">
                <app-ongeki-card-level class="position-absolute" style="width: 50%;left: 10%;bottom: 0"
                                       [level]="playLog.cardLevel1"
                                       [attribute]="playLog.cardInfo1.attribute"></app-ongeki-card-level>
              </div>
              <div class="position-relative" style="height: 25%">
                <!--            <div>LV.75</div>-->
                <img class="position-absolute"
                     style="right: 0;height: 100%;min-width: 0;aspect-ratio: 1.8;object-fit: cover"
                     src="{{host}}assets/ongeki/card-icon/UI_Card_Icon_{{playLog.cardInfo3.id | formatNumber:6}}.png">
                <app-ongeki-card-level class="position-absolute" style="width: 50%;left: 10%;bottom: 0"
                                       [level]="playLog.cardLevel3"
                                       [attribute]="playLog.cardInfo3.attribute"></app-ongeki-card-level>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="position-relative" style="margin-inline: auto;max-width: 128px;min-width: 48px">
              <img class="w-100" style="aspect-ratio: 0.730038022813688"
                   src="{{host}}assets/ongeki/card/UI_Card_Chara_{{playLog.songInfo.bossCardId | formatNumber:6}}.png">
              <app-ongeki-card-level class="position-absolute" style="width: 60%;left: 0;bottom: 0"
                                     [level]="playLog.bossLevel"
                                     [attribute]="attributeType[playLog.bossAttribute]"></app-ongeki-card-level>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer fw-bold">
    <div class="float-start">
      <a type="button" class="text-primary" (click)="open(judgeContent)">Details</a>
    </div>
    <div class="float-end">
      <span>{{playLog.userPlayDate}}</span>
    </div>
  </div>
</div>

<ng-template #judgeContent let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Details</h5>
      <button type="button" class="btn-close " style="--bs-btn-close-focus-shadow: 0" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <table class="judge-table table table-borderless table-sm table-striped align-middle">
        <tbody>
        <tr>
          <td class="combo">COMBO</td>
          <td class="combo">{{playLog.maxCombo}}</td>
        </tr>
        <tr>
          <td class="critical-break">C.BREAK</td>
          <td class="critical-break">{{playLog.judgeCriticalBreak}}</td>
        </tr>
        <tr>
          <td class="break">BREAK</td>
          <td class="break">{{playLog.judgeBreak}}</td>
        </tr>
        <tr>
          <td class="hit">HIT</td>
          <td class="hit">{{playLog.judgeHit}}</td>
        </tr>
        <tr>
          <td class="miss">MISS</td>
          <td class="miss">{{playLog.judgeMiss}}</td>
        </tr>
        <tr>
          <td class="bell">BELL</td>
          <td class="bell">{{playLog.bellCount}}/{{playLog.totalBellCount}}</td>
        </tr>
        <tr>
          <td class="damage">DAMAGE</td>
          <td class="damage">{{playLog.damageCount}}</td>
        </tr>
        <tr>
          <td>TAP</td>
          <td>{{playLog.rateTap}}%</td>
        </tr>
        <tr>
          <td>HOLD</td>
          <td>{{playLog.rateHold}}%</td>
        </tr>
        <tr>
          <td>FLICK</td>
          <td>{{playLog.rateFlick}}%</td>
        </tr>
        <tr>
          <td>SIDE TAP</td>
          <td>{{playLog.rateSideTap}}%</td>
        </tr>
        <tr>
          <td>SIDE HOLD</td>
          <td>{{playLog.rateSideHold}}%</td>
        </tr>
        </tbody>
      </table>
  </div>
</ng-template>
