<h1 class="page-heading">Music List</h1>

<ng-template #pagination>
  <pagination-template *ngIf="true" #p="paginationApi" class="user-select-none" id="server" maxSize="7"
                       style="cursor: default"
                       (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)">
    <ul class="pagination pagination-sm justify-content-center mb-2">
      <li class="page-item" [class.disabled]="p.isFirstPage()">
        <a class="page-link" (click)="p.previous()">&nbsp;<&nbsp;</a>
      </li>
      <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value" class="page-item">
        <a *ngIf="p.getCurrent() == page.value" class="page-link">{{ page.label }}</a>
        <a *ngIf="p.getCurrent() != page.value" (click)="p.setCurrent(page.value)"
           class="page-link">{{ page.label }}</a>
      </li>
      <li class="page-item" [class.disabled]="p.isLastPage()">
        <a class="page-link" (click)="p.next()">&nbsp;>&nbsp;</a>
      </li>
    </ul>
  </pagination-template>
</ng-template>
<ng-container *ngTemplateOutlet="pagination;"></ng-container>

<div class="row justify-content-start mb-2 g-2">
  <div *ngFor="let genre of genres; let i = index" class="col-auto">
    <input type="checkbox" class="form-check-input checkbox-btn" [value]="genre" [id]="'genre' + i" [formControl]="genreControls.controls[i]">
    <label class="checkbox-label" [for]="'genre' + i">{{genresMap.get(genre)}}</label>
  </div>
  <div class="col-auto">
    <input type="checkbox" class="form-check-input checkbox-btn" value="lunatic" id="lunatic" [formControl]="weControl">
    <label class="checkbox-label" for="lunatic">World's End</label>
  </div>
</div>

<input type="text" #search class="form-control mb-2" placeholder="Filter" [formControl]="patternControl">

<div class="card-btn card mb-2 text-start user-select-none"  (click)="showDetail(item)"
     *ngFor="let item of filteredSongList | async | paginate: { id: 'server', itemsPerPage: 15, currentPage: currentPage, totalItems: totalElements }">
  <div class="song-info card-body hstack gap-2 p-0">
    <div class="jacket-container ratio ratio-1x1">
      <!--jacket-->
      <img class="position-absolute rounded-start"
           src="{{host}}assets/chuni/jacket/CHU_UI_Jacket_{{item.musicId|formatNumber:4}}.webp"
           alt="">
    </div>
    <div class="overflow-hidden">
      <!--title-->
      <div class="song-info-title text-truncate fw-bold">
        <span>
          {{item.musicId}}.「{{item.name}}」
        </span>
      </div>
      <!--artist-->
      <div class="song-info-artist text-truncate mb-1">
        <span>
          {{item.artistName}}
        </span>
      </div>
      <!--difficulty-->
      <div class="row m-0 align-items-center gap-2">
        <span *ngIf="item.levels['0'].enable" class="col-auto difficulty difficulty-basic badge rounded-pill">
          {{item.levels['0'] | toLevelString}}
        </span>
        <span *ngIf="item.levels['1'].enable" class="col-auto difficulty difficulty-advanced badge rounded-pill">
          {{item.levels['1'] | toLevelString}}
        </span>
        <span *ngIf="item.levels['2'].enable" class="col-auto difficulty difficulty-expert badge rounded-pill">
          {{item.levels['2'] | toLevelString}}
        </span>
        <span *ngIf="item.levels['3'].enable" class="col-auto difficulty difficulty-master badge rounded-pill">
          {{item.levels['3'] | toLevelString}}
        </span>
        <span *ngIf="item.levels['4'].enable" class="col-auto difficulty difficulty-ultima badge rounded-pill">
          {{item.levels['4'] | toLevelString}}
        </span>
        <span *ngIf="item.levels['5'].enable" class="col-auto difficulty difficulty-we badge rounded-pill">
          <span class="color-we">World's End</span>
        </span>
      </div>
    </div>
  </div>
</div>
<ng-container *ngTemplateOutlet="pagination;"></ng-container>
