<h1 class="mat-display-1">Profile</h1>
<div>
  <mat-card>
    <mat-card-title>Overview</mat-card-title>
    <mat-card-subtitle *ngIf="profile">{{profile.userName}}</mat-card-subtitle>
    <mat-card-content>
      <table *ngIf="profile" class="zebra">
        <tr>
          <th>Rating</th>
          <td>{{profile.playerRating / 100}} (max {{profile.highestRating / 100}})</td>
        </tr>
        <tr>
          <th>Level</th>
          <td>{{profile.level}}</td>
        </tr>
        <tr>
          <th>Play Count</th>
          <td>{{profile.playCount}}</td>
        </tr>
        <tr>
          <th>Name Plate ID</th>
          <td>{{profile.nameplateId}}</td>
        </tr>
        <tr>
          <th>Frame ID</th>
          <td>{{profile.frameId}}</td>
        </tr>
        <tr>
          <th>Character ID</th>
          <td>{{profile.characterId}}</td>
        </tr>
        <tr>
          <th>Last Play</th>
          <td>{{profile.lastPlayDate}}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <mat-card>
    <mat-card-title>Score Statistics</mat-card-title>
    <mat-card-content>
      <table *ngIf="profile" class="zebra">
        <tr>
          <th>Total High Score</th>
          <td>{{profile.totalHiScore}}</td>
        </tr>
        <tr>
          <th>Total Basic High Score</th>
          <td>{{profile.totalBasicHighScore}}</td>
        </tr>
        <tr>
          <th>Total Advanced High Score</th>
          <td>{{profile.totalAdvancedHighScore}}</td>
        </tr>
        <tr>
          <th>Total Expert High Score</th>
          <td>{{profile.totalExpertHighScore}}</td>
        </tr>
        <tr>
          <th>Total Master High Score</th>
          <td>{{profile.totalMasterHighScore}}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>