.freedom-pass {
  border: 1px solid #3d91cd;
  color: transparent;
  background: #e625bf linear-gradient(to right, #6db1f6, #11c1ea);
  -webkit-background-clip: text;
  background-clip: text;
}


.gold-pass {
  border: 1px solid #995014;
  color: transparent;
  background: #d1aa79 linear-gradient(45deg, #f4b400, #d1aa79, #b77a3b);
  -webkit-background-clip: text;
  background-clip: text;
}


.normal-pass {
  background: #451d0c;
  border: 1px solid #374908;
  color: white;
}

.silver-pass {
  background: #09343c;
  border: 1px solid #3a4165;
  color: #6394d5;
}

.expired-pass {
  background: #686363;
  border: 1px solid #c6b1b1;
  color: white;
}

.pass-text {
  display: flex;
  align-items: center;
  b {
    padding: 0 3px;
  }
}

.card {
  position: relative; /* 使子元素可以绝对定位 */
}

.overlay-image {
  position: absolute; /* 用绝对定位确保图像重叠 */
  top: 0; /* 根据需求设置偏移 */
  left: 0; /* 根据需求设置偏移 */
  width: 100%; /* 确保图像填满父容器 */
  height: auto; /* 高度自适应 */
  opacity: 1; /* 如果需要，可以调整此值以实现透明效果 */
  z-index: 1; /* 设置图层顺序 */
}

/* 框架图像可能需要更高的 z-index */
.frame-image {
  z-index: 2; /* 若要确保框架在最上层 */
}
