<h1>Card</h1>

<ng-template #pagination>
  <pagination-template *ngIf="!loading" #p="paginationApi" class="user-select-none" id="server" maxSize="7"
                       style="cursor: default"
                       (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)">
    <ul class="pagination pagination-sm justify-content-center">
      <li class="page-item" [class.disabled]="p.isFirstPage()">
        <a class="page-link" (click)="p.previous()">&nbsp;<&nbsp;</a>
      </li>
      <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value" class="page-item">
        <a *ngIf="p.getCurrent() == page.value" class="page-link">{{ page.label }}</a>
        <a *ngIf="p.getCurrent() != page.value" (click)="p.setCurrent(page.value)"
           class="page-link">{{ page.label }}</a>
      </li>
      <li class="page-item" [class.disabled]="p.isLastPage()">
        <a class="page-link" (click)="p.next()">&nbsp;>&nbsp;</a>
      </li>
    </ul>
  </pagination-template>
</ng-template>

<ng-container *ngTemplateOutlet="pagination;"></ng-container>
<div>
  <button type="button" class="btn btn-link" routerLink="all">Show All Cards</button>
  <button type="button" class="btn btn-link" routerLink="gacha">Gacha</button>
</div>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="holeSwitch" [(ngModel)]="showHolo">
  <label class="form-check-label" for="holeSwitch">Holo</label>
</div>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="elementsSwitch" [(ngModel)]="showElements">
  <label class="form-check-label" for="elementsSwitch">Elements</label>
</div>


<div *ngIf="cardList" class="text-center px-2">
  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4">
    <div class="col d-flex p-2"
         *ngFor="let item of cardList | async | paginate: { id: 'server', itemsPerPage: 12, currentPage: currentPage, totalItems: totalElements }">
      <div class="cards-col"
           (mousemove)="onMouseMove($event, cardRotator)"
           (mouseleave)="onMouseLeave(cardRotator)">
        <div #cardRotator class="card-rotator w-100">
          <div *ngIf="item.cardInfo" class="card-container user-select-none"
               style="background-image: {{getCardBackground(item, showHolo)}}">
            <div *ngIf="showElements && (item.cardInfo.rarity == 'N' || item.cardInfo.rarity == 'R')" class="card-frame"
                 style="background-image: {{getFrame(item)}}"></div>
            <div class="card-chara" style="background-image: {{getChara(item)}}"></div>
            <div *ngIf="showHolo" class="position-absolute w-100 h-100">
              <div class="card-holo-bg" style="-webkit-mask-image: {{getHoloBGMask(item, showElements)}}"></div>
              <div class="card-holo" style="-webkit-mask-image: {{getHoloBGMask(item, showElements)}}"></div>
            </div>
            <div *ngIf="showElements && !showHolo && !(item.cardInfo.rarity == 'N' || item.cardInfo.rarity == 'R')"
                 class="card-frame" style="background-image: {{getFrame(item)}}"></div>
            <div *ngIf="showHolo" class="position-absolute w-100 h-100">
              <div *ngIf="!(item.cardInfo.rarity == 'N' || item.cardInfo.rarity == 'R')" class="card-frame"
                   style="background-image: {{getHoloFrame(item)}}"></div>
              <div class="card-holo-frame-bg"
                   style="-webkit-mask-image: {{getHoloFrameMask(item, showElements)}}"></div>
              <div class="card-holo" style="-webkit-mask-image: {{getHoloFrameMask(item, showElements)}}"></div>
            </div>
            <div *ngIf="showElements" class="position-absolute w-100 h-100">
              <div [ngSwitch]="item.cardInfo.attribute">
                <img *ngSwitchCase="'Fire'" class="card-attribute"
                     src="{{host}}assets/ongeki/gameUi/UI_Card_Attribute_00_Red.png">
                <img *ngSwitchCase="'Aqua'" class="card-attribute"
                     src="{{host}}assets/ongeki/gameUi/UI_Card_Attribute_01_Bule.png">
                <img *ngSwitchCase="'Leaf'" class="card-attribute"
                     src="{{host}}assets/ongeki/gameUi/UI_Card_Attribute_02_Green.png">
              </div>
              <div [ngSwitch]="item.cardInfo.rarity">
                <img *ngSwitchCase="'N'" class="card-rare" src="{{host}}assets/ongeki/gameUi/UI_Card_Rare_00_N.png">
                <img *ngSwitchCase="'R'" class="card-rare" src="{{host}}assets/ongeki/gameUi/UI_Card_Rare_01_R.png">
                <img *ngSwitchCase="'SR'" class="card-rare" src="{{host}}assets/ongeki/gameUi/UI_Card_Rare_02_SR.png">
                <img *ngSwitchCase="'SSR'" class="card-rare" src="{{host}}assets/ongeki/gameUi/UI_Card_Rare_03_SSR.png">
                <img *ngSwitchCase="'SRPlus'" class="card-rare"
                     src="{{host}}assets/ongeki/gameUi/UI_Card_Rare_05_SRPlus.png">
              </div>
              <div [ngSwitch]="item.cardInfo.gakunen">
                <img *ngSwitchCase="'高校1年生'" class="card-gakunen"
                     src="{{host}}assets/ongeki/gameUi/UI_Card_Grade_00001.png">
                <img *ngSwitchCase="'高校2年生'" class="card-gakunen"
                     src="{{host}}assets/ongeki/gameUi/UI_Card_Grade_00002.png">
                <img *ngSwitchCase="'高校3年生'" class="card-gakunen"
                     src="{{host}}assets/ongeki/gameUi/UI_Card_Grade_00003.png">
                <img *ngSwitchCase="'中学1年生'" class="card-gakunen"
                     src="{{host}}assets/ongeki/gameUi/UI_Card_Grade_00004.png">
                <img *ngSwitchCase="'中学2年生'" class="card-gakunen"
                     src="{{host}}assets/ongeki/gameUi/UI_Card_Grade_00005.png">
                <img *ngSwitchCase="'中学3年生'" class="card-gakunen"
                     src="{{host}}assets/ongeki/gameUi/UI_Card_Grade_00006.png">
              </div>
              <img *ngIf="(item.kaikaDate != '0000-00-00 00:00:00.0')" class="card-kaika-state"
                   draggable="false"
                   src="{{host}}assets/ongeki/gameUi/{{item.choKaikaDate == '0000-00-00 00:00:00.0'?'UI_CMN_PrintMark_01_kaika':'UI_CMN_PrintMark_02_tyoukaika'}}.png">
              <div *ngIf="item.skillInfo">
                <div [ngSwitch]="item.skillInfo.category">
                  <img *ngSwitchCase="'Attack'" class="card-skill-bg" draggable="false"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_00_Attack.png">
                  <img *ngSwitchCase="'DangerAttack'" class="card-skill-bg" draggable="false"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_00_Attack_Danger.png">
                  <img *ngSwitchCase="'Assist'" class="card-skill-bg" draggable="false"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_01_Assist.png">
                  <img *ngSwitchCase="'DangerAssist'" class="card-skill-bg" draggable="false"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_01_Assist_Danger.png">
                  <img *ngSwitchCase="'Guard'" class="card-skill-bg" draggable="false"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_02_Guard.png">
                  <img *ngSwitchCase="'DangerGuard'" class="card-skill-bg" draggable="false"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_02_Guard_Danger.png">
                  <img *ngSwitchCase="'Boost'" class="card-skill-bg" draggable="false"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_03_Boost.png">
                  <img *ngSwitchCase="'DangerBoost'" class="card-skill-bg" draggable="false"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_03_Boost_Danger.png">
                </div>
              </div>
              <div class="card-star-container">
                <img *ngFor="let _ of getArrayFromNumber(getStarCount(item))" class="card-star"
                     src="{{host}}assets/ongeki/gameUi/UI_Card_star_00.png">
                <img *ngFor="let _ of getArrayFromNumber((item.cardInfo.rarity == 'N'?11:5) - getStarCount(item))"
                     class="card-star" src="{{host}}assets/ongeki/gameUi/UI_Card_star_01.png">
              </div>
              <!--        <div class="card-qr-code-container">-->
              <!--          <img class="card-qr-code" src="{{host}}assets/ongeki/gameUi/UI_Card_qr_dummy_00.png">-->
              <!--        </div>-->

              <img class="card-max-atk-title" draggable="false"
                   src="{{host}}assets/ongeki/gameUi/UI_Card_max_00.png">
              <div
                *ngIf="calculateAtk(item.maxLevel, convertToNumberArray(item.cardInfo?.levelParam), item.choKaikaDate != '0000-00-00 00:00:00.0'); let maxAtk"
                class="card-max-atk-value-container">
                <img *ngIf="maxAtk>=100"
                     class="card-max-atk-value-number"
                     src="{{host}}assets/ongeki/gameUi/UI_Card_NUM_attack/{{Math.floor(maxAtk/100)}}.png">
                <img *ngIf="maxAtk>=10"
                     class="card-max-atk-value-number"
                     src="{{host}}assets/ongeki/gameUi/UI_Card_NUM_attack/{{Math.floor((maxAtk%100)/10)}}.png">
                <img class="card-max-atk-value-number"
                     src="{{host}}assets/ongeki/gameUi/UI_Card_NUM_attack/{{maxAtk%10}}.png">
              </div>
              <div class="card-name">
                <div class="card-name-shadow">
                  <div class="card-name-nick">
                    {{item.cardInfo.nickName}}
                  </div>
                  <div class="card-name-chara">
                    {{getCardName(item.cardInfo.name, item.cardInfo.rarity, item.cardInfo.nickName)}}
                  </div>
                </div>
                <div class="card-name-text">
                  <div class="card-name-nick card-text-shadow">
                    {{item.cardInfo.nickName}}
                  </div>
                  <div class="card-name-chara card-text-shadow">
                    {{getCardName(item.cardInfo.name, item.cardInfo.rarity, item.cardInfo.nickName)}}
                  </div>
                </div>
              </div>
              <div class="card-info-footer">
            <span>
              {{item.cardId}}
            </span>
                <span *ngIf="item.cardInfo">
              {{item.cardInfo.cardNumber}}
            </span>
              </div>
            </div>
            <div class="card-highlight"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngTemplateOutlet="pagination;"></ng-container>
<!--<mat-card-->
<!--  *ngFor="let item of cardList | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: currentPage, totalItems: totalElements }">-->
<!--  <mat-card-title>-->
<!--    {{item.cardInfo ? item.cardInfo.name : 'ID:' + item.cardId}}-->
<!--  </mat-card-title>-->
<!--  <mat-card-content>-->
<!--    <div class="card-display">-->
<!--      <div class="image">-->
<!--        <img *ngIf="enableImages" src="{{host}}assets/ongeki/card/UI_Card_{{item.cardId|formatNumber:6}}_S.jpg">-->
<!--        <div *ngIf="item.characterInfo">-->
<!--          {{item.characterInfo.name}}<br>-->
<!--          {{item.characterInfo.cv ? '(CV: ' + item.characterInfo.cv + ')' : ''}}-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="content">-->
<!--        <table class="zebra">-->
<!--          <tr>-->
<!--            <th>Level</th>-->
<!--            <td>{{item.level}}</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Current Max Level</th>-->
<!--            <td>{{item.maxLevel}}</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Star</th>-->
<!--            <td>{{item.digitalStock}}</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Skill</th>-->
<!--            <td>{{item.skillInfo ? item.skillInfo.name : 'ID:' + item.skillId}}</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Kaika</th>-->
<!--            <td>{{item.kaikaDate == '0000-00-00 00:00:00.0' ? 'No' : 'Yes'}}</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>ChoKaika</th>-->
<!--            <td>{{item.choKaikaDate == '0000-00-00 00:00:00.0' ? 'No' : 'Yes'}}</td>-->
<!--          </tr>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
<!--  </mat-card-content>-->
<!--  <mat-card-actions>-->
<!--    <div fxFlex></div>-->
<!--    <button (click)="kaika(item.cardId, 'kaika')" [disabled]="item.kaikaDate != '0000-00-00 00:00:00.0'"-->
<!--            mat-button>-->
<!--      Kaika-->
<!--    </button>-->
<!--    <button (click)="kaika(item.cardId, 'choKaika')" [disabled]="item.choKaikaDate != '0000-00-00 00:00:00.0'"-->
<!--            mat-button>-->
<!--      ChoKaika-->
<!--    </button>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->
