<h1 class="page-heading">{{ 'Ongeki.Card.Title' | translate }}</h1>
<div class="row mb-2 g-1">
  <div class="col-12 col-sm-auto pt-1 me-3">{{ 'Ongeki.Card.EditFor' | translate }}</div>
  <div class="col-12 col-sm">
    <div class="row justify-content-start align-items-center g-1">
      <div class="col-auto">
        <button class="tab-selector" [class.tab-selector-active]="type === CardType.SKILL" [routerLink]="[]"
                [queryParams]="{type: CardType.SKILL.toLowerCase()}">{{ 'Ongeki.Card.Deck' | translate }}
        </button>
      </div>
      <div class="col-auto">
        <button class="tab-selector" [class.tab-selector-active]="type === CardType.SKIN" [routerLink]="[]"
                [queryParams]="{type: CardType.SKIN.toLowerCase()}">{{ 'Ongeki.Card.Skin' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row mb-2 g-1">
  <div class="col-12 col-sm-auto pt-1 me-3">{{ 'Ongeki.Card.DeckID' | translate }}</div>
  <div class="col-12 col-sm">
    <div class="row justify-content-start align-items-center g-1">
      <ng-container *ngFor="let id of deckIDs">
        <div class="col-auto">
          <button class="tab-selector" [class.tab-selector-active]="currentDeckID === id"
                  (click)="selectDeck(id)">{{ id }}
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="mb-2">
  <a class="btn btn-primary btn-sm" routerLink="./gallery">{{ 'Ongeki.Card.CardGallery' | translate }}</a>
</div>
<div class="hstack alert alert-warning mb-1" role="alert">
  <ng-icon class="me-2" name="bootstrap-exclamation-triangle-fill"></ng-icon>
  <div>{{ 'Ongeki.Card.Warning1' | translate }}</div>
</div>
<ng-container *ngIf="currentDeck">
  <div class="deck-row row row-cols-3">
    <ng-container *ngFor="let item of currentDeck;let i = index">
      <div class="col">
        <div class="cards-col">
          <app-ongeki-card-item
            (click)="open(selectCard)"
            [item]="getCard(item)"
            [showHolo]="false"
            [showElements]="true"
          ></app-ongeki-card-item>
        </div>
      </div>
      <ng-template #selectCard let-modal>
        <div class="modal-header">
          <h4 class="modal-title">{{ 'Ongeki.Card.SelectCard' | translate }}</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss();"></button>
        </div>
        <div class="modal-body">
          <app-ongeki-card-gallery isModal="true" [showDummyCard]="type === CardType.SKIN"
                                   [callback]="getSelectCardCallback(currentDeckID, i)"></app-ongeki-card-gallery>
        </div>
      </ng-template>
    </ng-container>
  </div>

  <div *ngIf="type === CardType.SKIN" class="form-check form-check-inline form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="showAllItemsSwitch"
           [(ngModel)]="skinValid[currentDeckID - 1]" (change)="this.ChangeCardSkin(this.currentDeckID, -1, 0)">
    <label class="form-check-label user-select-none"
           for="showAllItemsSwitch">{{ 'Ongeki.Card.Valid' | translate }}</label>
  </div>
</ng-container>
