.deck-row{
  max-width: 720px;
}

.cards-col {
  transition: all .2s cubic-bezier(0.00, 0.00, 0.00, 1.00);
  width: 100%;
  --pseudo-opacity: 0;
  --pseudo-left: 50%;
  --pseudo-top: 50%;
}

.cards-col:hover {
  transform: scale(104%);
}
