<h1 class="page-heading">{{'Ongeki.CardPage.Title' | translate}}</h1>

<ng-template #pagination>
  <pagination-template *ngIf="!loading" #p="paginationApi" class="user-select-none" id="server" maxSize="7"
                       style="cursor: default"
                       (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)">
    <ul class="pagination pagination-sm justify-content-center my-2">
      <li class="page-item" [class.disabled]="p.isFirstPage()">
        <a class="page-link" (click)="p.previous()">&nbsp;<&nbsp;</a>
      </li>
      <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value" class="page-item">
        <a *ngIf="p.getCurrent() == page.value" class="page-link">{{ page.label }}</a>
        <a *ngIf="p.getCurrent() != page.value" (click)="p.setCurrent(page.value)"
           class="page-link">{{ page.label }}</a>
      </li>
      <li class="page-item" [class.disabled]="p.isLastPage()">
        <a class="page-link" (click)="p.next()">&nbsp;>&nbsp;</a>
      </li>
    </ul>
  </pagination-template>
</ng-template>

<div class="row mb-2 g-1">
  <div class="col-12 col-sm-auto pt-1 me-3">{{'Ongeki.CardPage.Display' | translate}}</div>
  <div class="col-12 col-sm">
    <div class="row justify-content-start align-items-center g-1">
      <div class="col-auto">
        <input class="checkbox" type="checkbox" role="switch" id="holoSwitch" [(ngModel)]="showHolo">
        <label class="checkbox-label" for="holoSwitch">{{'Ongeki.CardPage.Holo' | translate}}</label>
      </div>
      <div class="col-auto">
        <input class="checkbox" type="checkbox" role="switch" id="elementsSwitch" [(ngModel)]="showElements">
        <label class="checkbox-label" for="elementsSwitch">{{'Ongeki.CardPage.Elements' | translate}}</label>
      </div>
    </div>
  </div>
</div>

<div class="collapse" id="filterCollapse">
  <div class="row mb-2 g-1">
    <div class="col-12 col-sm-auto pt-1 me-3">{{'Ongeki.CardPage.IsAcquired' | translate}}</div>
    <div class="col-12 col-sm">
      <div class="row justify-content-start align-items-center g-1">
        <div class="col-auto">
          <input class="checkbox" type="checkbox" role="switch" id="showUnacquired" [formControl]="showAllControl" >
          <label class="checkbox-label" for="showUnacquired">{{'Ongeki.CardPage.Unacquired' | translate}}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2 g-1">
    <div class="col-12 col-sm-auto pt-1 me-3">{{'Ongeki.CardPage.Rarity' | translate}}</div>
    <div class="col-12 col-sm">
      <div class="row justify-content-start align-items-center g-1">
        <div *ngFor="let rarity of rarities; let i = index" class="col-auto">
          <input class="checkbox" type="checkbox" role="switch" [value]="rarity" [id]="'rarity' + i" [formControl]="rarityControls.controls[i]">
          <label class="checkbox-label" [for]="'rarity' + i">{{toDisplayRarity(rarity)}}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2 g-1">
    <div class="col-12 col-sm-auto pt-1 me-3">{{'Ongeki.CardPage.Attribute' | translate}}</div>
    <div class="col-12 col-sm">
      <div class="row justify-content-start align-items-center g-1">
        <div *ngFor="let attr of attrs; let i = index" class="col-auto">
          <input class="checkbox" type="checkbox" role="switch" [value]="attr" [id]="'attr' + i" [formControl]="attrControls.controls[i]">
          <label class="checkbox-label" [for]="'attr' + i">{{attr}}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2 g-1">
    <div class="col-12 col-sm-auto pt-1 me-3">{{'Ongeki.CardPage.SkillCategory' | translate}}</div>
    <div class="col-12 col-sm">
      <div class="row justify-content-start align-items-center g-1">
        <div *ngFor="let skillCategory of skillCategorys; let i = index" class="col-auto">
          <input class="checkbox" type="checkbox" role="switch" [value]="skillCategory" [id]="'skillCategory' + i" [formControl]="skillCategoryControls.controls[i]">
          <label class="checkbox-label" [for]="'skillCategory' + i">{{toDisplaySkillCategory(skillCategory)}}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2 g-1">
    <div class="col-12 col-sm-auto pt-1 me-3">{{'Ongeki.CardPage.SortBy' | translate}}</div>
    <div class="col-12 col-sm">
      <div class="row justify-content-start align-items-center g-1">
        <div class="col-12 p-0">
          <select class="form-select form-select-sm" [formControl]="sortControl" >
            <option value="0" selected>{{'Ongeki.CardPage.Acquisition' | translate}}</option>
            <option value="1">{{'Ongeki.CardPage.CardID' | translate}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2 g-1">
    <div class="col-12 p-0">
      <input type="text" #search class="form-control form-control-sm" placeholder="{{'Ongeki.CardPage.FilterPlaceholder' | translate}}" [formControl]="searchTermControl">
    </div>
  </div>
</div>

<div *ngIf="cardList" class="mb-2">
  <span>{{'Ongeki.CardPage.TotalCardNum' | translate: {num: totalElements} }}</span>
  <a class="link-btn ms-3" (click)="toggleFilter()">{{filterCollapsed?('Ongeki.CardPage.ShowFilter' | translate):('Ongeki.CardPage.HideFilter' | translate)}}</a>
  <a *ngIf="!isDefaultFilter()" class="link-btn ms-3" (click)="resetFilter()">{{'Ongeki.CardPage.ResetFilter' | translate}}</a>
</div>

<div class="callout callout-info mt-0 mb-1">
  <div>{{'Ongeki.CardPage.Info1' | translate}}</div>
</div>

<ng-container *ngTemplateOutlet="pagination;"></ng-container>
<div *ngIf="cardList" class="text-center px-1">
  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4">
    <div class="col p-2"
         *ngFor="let item of cardList | async | paginate: { id: 'server', itemsPerPage: 12, currentPage: currentPage, totalItems: totalElements }; let i = index">
      <div class="w-100">
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title">{{'Ongeki.CardPage.Details' | translate}}</h4>
            <button type="button" class="btn-close shadow-none" aria-label="Close" (click)="modal.dismiss()"></button>
          </div>
          <div *ngIf="cardIds.includes(item.cardId)" class="modal-body">
            <table class="card-details-table table table-borderless table-sm table-striped align-middle text-center small">
              <tbody>
              <tr>
                <td>ID</td>
                <td>{{item.cardId}}</td>
              </tr>
              <tr *ngIf="item.cardInfo">
                <td>{{'Ongeki.CardPage.Character' | translate}}</td>
                <td>{{getCardName(item.cardInfo.name, item.cardInfo.rarity, item.cardInfo.nickName)}}</td>
              </tr>
              <tr *ngIf="item.cardInfo">
                <td>{{'Ongeki.CardPage.NickName' | translate}}</td>
                <td>{{item.cardInfo.nickName}}</td>
              </tr>
              <tr>
                <td>{{'Ongeki.CardPage.Level' | translate}}</td>
                <td>{{item.level}}/{{item.maxLevel}}</td>
              </tr>
              <tr *ngIf="item.cardInfo">
                <td>{{'Ongeki.CardPage.Attack' | translate}}</td>
                <td>{{calculateAtk(item.level, convertToNumberArray(item.cardInfo.levelParam), item.choKaikaDate != '0000-00-00 00:00:00.0')}}</td>
              </tr>
              <tr>
                <td>{{'Ongeki.CardPage.Skill' | translate}}</td>
                <td>{{item.skillInfo?item.skillInfo.name:item.skillId}}</td>
              </tr>
              <tr *ngIf="item.skillInfo">
                <td>{{'Ongeki.CardPage.Info' | translate}}</td>
                <td>{{item.skillInfo.info}}</td>
              </tr>
              </tbody>
            </table>
            <div class="hstack gap-1 float-end">
              <button class="btn btn-sm btn-outline-secondary" (click)="kaika(item.cardId, 'kaika');modal.dismiss()"
                      [disabled]="item.kaikaDate != '0000-00-00 00:00:00.0'">{{'Ongeki.CardPage.Kaika' | translate}}</button>
              <button class="btn btn-sm btn-outline-secondary" (click)="kaika(item.cardId, 'choKaika');modal.dismiss()"
                      [disabled]="item.choKaikaDate != '0000-00-00 00:00:00.0'">{{'Ongeki.CardPage.ChoKaika' | translate}}</button>
            </div>
          </div>
          <div *ngIf="item.digitalStock < 1" class="modal-body">
            <table class="card-details-table table table-borderless table-sm table-striped align-middle text-center small">
              <tbody>
              <tr>
                <td>ID</td>
                <td>{{item.cardId}}</td>
              </tr>
              <tr *ngIf="item.cardInfo">
                <td>{{'Ongeki.CardPage.Character' | translate}}</td>
                <td>{{getCardName(item.cardInfo.name, item.cardInfo.rarity, item.cardInfo.nickName)}}</td>
              </tr>
              <tr *ngIf="item.cardInfo">
                <td>{{'Ongeki.CardPage.NickName' | translate}}</td>
                <td>{{item.cardInfo.nickName}}</td>
              </tr>
              <tr *ngIf="item.cardInfo">
                <td>{{'Ongeki.CardPage.Attack' | translate}}</td>
                <td>{{calculateAtk(item.level, convertToNumberArray(item.cardInfo.levelParam), true)}}</td>
              </tr>
              <tr>
                <td>{{'Ongeki.CardPage.Skill' | translate}}</td>
                <td>{{item.skillInfo?item.skillInfo.name:item.skillId}}</td>
              </tr>
              <tr *ngIf="item.skillInfo">
                <td>{{'Ongeki.CardPage.Info' | translate}}</td>
                <td>{{item.skillInfo.info}}</td>
              </tr>
              </tbody>
            </table>
            <div class="hstack gap-1 float-end">
              <button class="btn btn-sm btn-outline-secondary" (click)="insertCard(item.cardId);modal.dismiss()">I want it</button>
            </div>
          </div>
        </ng-template>

        <div #cardCol class="cards-col" [ngClass]="{'card-picking': pickedCardId === item.cardId}" [ngClass]="{'grayscale': item.digitalStock < 1}"
             [@cardAnimation]="{
           value: pickedCardId === item.cardId?'expanded':'normal',
           params: { top: pickCardParams.top, left: pickCardParams.left, width: pickCardParams.width, height: pickCardParams.height,
            expandedWidth: pickCardParams.expandedWidth, expandedHeight: pickCardParams.expandedHeight} }"
             (@cardAnimation.start)="onPickAnimationStart(cardCol)"
             (@cardAnimation.done)="onPickAnimationEnd(cardCol)"
             (mousemove)="onMouseMoveRotator($event, cardCol)"
             (mouseleave)="onMouseLeaveCard(cardCol)"
             (click)="pickCard(item.cardId, cardCol)"
             (contextmenu)="openContext($event, content)"
             (touchmove)="onTouchMoveRotator($event, cardCol)"
             (touchend)="onMouseLeaveCard(cardCol)"
             (touchcancel)="onMouseLeaveCard(cardCol)">
          <div class="card-rotator w-100">
            <div *ngIf="item.cardInfo" class="card-container user-select-none"
                 style="background-image: {{getCardBackground(item, showHolo &&  item.digitalStock > 0)}}">
              <div *ngIf="showElements && (item.cardInfo.rarity == 'N' || item.cardInfo.rarity == 'R')"
                   class="card-frame"
                   style="background-image: {{getFrame(item)}}"></div>
              <div class="card-chara" style="background-image: {{getChara(item)}}"></div>
              <div *ngIf="showHolo && item.digitalStock > 0" [style]="holoSheetStyles[i]" class="position-absolute w-100 h-100">
                <div class="card-holo-bg" style="-webkit-mask-image: {{getHoloBGMask(item, showElements)}}"></div>
                <div class="card-holo" style="-webkit-mask-image: {{getHoloBGMask(item, showElements)}}"></div>
              </div>
              <div *ngIf="showElements && !(showHolo && item.digitalStock > 0) && !(item.cardInfo.rarity == 'N' || item.cardInfo.rarity == 'R')"
                   class="card-frame" style="background-image: {{getFrame(item)}}"></div>
              <div *ngIf="showHolo && item.digitalStock > 0" [style]="reversedHoloSheetStyles[i]" class="position-absolute w-100 h-100">
                <div *ngIf="!(item.cardInfo.rarity == 'N' || item.cardInfo.rarity == 'R')" class="card-frame"
                     style="background-image: {{getHoloFrame(item)}}"></div>
                <div class="card-holo-frame-bg"
                     style="-webkit-mask-image: {{getHoloFrameMask(item, showElements)}}"></div>
                <div class="card-holo" style="-webkit-mask-image: {{getHoloFrameMask(item, showElements)}}"></div>
              </div>
              <div *ngIf="showElements" class="position-absolute w-100 h-100">
                <div [ngSwitch]="item.cardInfo.attribute">
                  <img *ngSwitchCase="'Fire'" class="card-attribute"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Attribute_00_Red.webp">
                  <img *ngSwitchCase="'Aqua'" class="card-attribute"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Attribute_01_Bule.webp">
                  <img *ngSwitchCase="'Leaf'" class="card-attribute"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Attribute_02_Green.webp">
                </div>
                <div [ngSwitch]="item.cardInfo.rarity">
                  <img *ngSwitchCase="'N'" class="card-rare"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Rare_00_N.webp">
                  <img *ngSwitchCase="'R'" class="card-rare"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Rare_01_R.webp">
                  <img *ngSwitchCase="'SR'" class="card-rare"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Rare_02_SR.webp">
                  <img *ngSwitchCase="'SSR'" class="card-rare"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Rare_03_SSR.webp">
                  <img *ngSwitchCase="'SRPlus'" class="card-rare"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Rare_05_SRPlus.webp">
                </div>
                <div [ngSwitch]="item.cardInfo.gakunen">
                  <img *ngSwitchCase="'高校1年生'" class="card-gakunen"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Grade_00001.webp">
                  <img *ngSwitchCase="'高校2年生'" class="card-gakunen"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Grade_00002.webp">
                  <img *ngSwitchCase="'高校3年生'" class="card-gakunen"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Grade_00003.webp">
                  <img *ngSwitchCase="'中学1年生'" class="card-gakunen"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Grade_00004.webp">
                  <img *ngSwitchCase="'中学2年生'" class="card-gakunen"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Grade_00005.webp">
                  <img *ngSwitchCase="'中学3年生'" class="card-gakunen"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_Grade_00006.webp">
                </div>
                <img *ngIf="(item.kaikaDate != '0000-00-00 00:00:00.0')" class="card-kaika-state"
                     draggable="false"
                     src="{{host}}assets/ongeki/gameUi/{{item.choKaikaDate == '0000-00-00 00:00:00.0'?'UI_CMN_PrintMark_01_kaika':'UI_CMN_PrintMark_02_tyoukaika'}}.webp">
                <div *ngIf="item.skillInfo">
                  <div [ngSwitch]="item.skillInfo.category">
                    <img *ngSwitchCase="'Attack'" class="card-skill-bg" draggable="false"
                         src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_00_Attack.webp">
                    <img *ngSwitchCase="'DangerAttack'" class="card-skill-bg" draggable="false"
                         src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_00_Attack_Danger.webp">
                    <img *ngSwitchCase="'Support'" class="card-skill-bg" draggable="false"
                         src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_01_Assist.webp">
                    <img *ngSwitchCase="'DangerSupport'" class="card-skill-bg" draggable="false"
                         src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_01_Assist_Danger.webp">
                    <img *ngSwitchCase="'Guard'" class="card-skill-bg" draggable="false"
                         src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_02_Guard.webp">
                    <img *ngSwitchCase="'DangerGuard'" class="card-skill-bg" draggable="false"
                         src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_02_Guard_Danger.webp">
                    <img *ngSwitchCase="'Boost'" class="card-skill-bg" draggable="false"
                         src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_03_Boost.webp">
                    <img *ngSwitchCase="'DangerBoost'" class="card-skill-bg" draggable="false"
                         src="{{host}}assets/ongeki/gameUi/UI_Card_Skill_03_Boost_Danger.webp">
                  </div>
                </div>
                <div class="card-star-container">
                  <img *ngFor="let _ of getArrayFromNumber(getStarCount(item))" class="card-star"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_star_00.webp">
                  <img *ngFor="let _ of getArrayFromNumber((item.cardInfo.rarity == 'N'?11:5) - getStarCount(item))"
                       class="card-star" src="{{host}}assets/ongeki/gameUi/UI_Card_star_01.webp">
                </div>
                <!--                <div class="card-qr-code-container">-->
                <!--                  <img class="card-qr-code" src="{{host}}assets/ongeki/gameUi/UI_Card_qr_dummy_00.webp">-->
                <!--                </div>-->

                <img class="card-max-atk-title" draggable="false"
                     src="{{host}}assets/ongeki/gameUi/UI_Card_max_00.webp">
                <div
                  *ngIf="calculateAtk(item.maxLevel, convertToNumberArray(item.cardInfo?.levelParam), item.choKaikaDate != '0000-00-00 00:00:00.0'); let maxAtk"
                  class="card-max-atk-value-container">
                  <img *ngIf="maxAtk>=100"
                       class="card-max-atk-value-number"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_NUM_attack/{{Math.floor(maxAtk/100)}}.webp">
                  <img *ngIf="maxAtk>=10"
                       class="card-max-atk-value-number"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_NUM_attack/{{Math.floor((maxAtk%100)/10)}}.webp">
                  <img class="card-max-atk-value-number"
                       src="{{host}}assets/ongeki/gameUi/UI_Card_NUM_attack/{{maxAtk%10}}.webp">
                </div>
                <div class="card-name">
                  <div class="card-name-shadow">
                    <div class="card-name-nick">
                      {{item.cardInfo.nickName}}
                    </div>
                    <div class="card-name-chara">
                      {{getCardName(item.cardInfo.name, item.cardInfo.rarity, item.cardInfo.nickName)}}
                    </div>
                  </div>
                  <div class="card-name-text">
                    <div class="card-name-nick card-text-shadow">
                      {{item.cardInfo.nickName}}
                    </div>
                    <div class="card-name-chara card-text-shadow">
                      {{getCardName(item.cardInfo.name, item.cardInfo.rarity, item.cardInfo.nickName)}}
                    </div>
                  </div>
                </div>
                <div class="card-info-footer">
                  <span>
                    {{item.cardId}}
                  </span>
                  <span *ngIf="item.cardInfo">
                    {{item.cardInfo.cardNumber}}
                  </span>
                </div>
              </div>
              <div class="card-highlight"></div>
            </div>
            <div class="card-back" style="background-image: {{getCardBack()}}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-backdrop"
       [ngClass]="{'card-backdrop-hidden': !pickedCardId}"
       (click)="unpickCard()"></div>
</div>

<ng-container *ngTemplateOutlet="pagination;"></ng-container>
<div class="mb-2"></div>
