# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# You can see what browsers were selected by your queries by running:
#   npx browserslist

> 0.5%
last 2 versions
unreleased versions
Firefox ESR
fully supports es6-module and fully supports css-grid and last 3 years
not dead
not IE 6-11
not kaios 2.5
not op_mini all
