<h1 class="page-heading">{{'Maimai2.RecentPage.Title'|translate}}</h1>

<div *ngIf="recent" class="record d-flex flex-column gap-3">
  <div class="card" *ngFor="let item of recent | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: currentPage, totalItems: totalElements }; let i = index">
    <div class="card-header px-3 py-2">
      <div class="d-flex align-items-center justify-content-between gap-2">
        <span class="no-wrap">TRACK {{item.trackNo}}</span>
        <ng-container *ngIf="item.songInfo" [ngSwitch]="item.level">
          <span *ngSwitchCase="0" class="difficulty-basic badge rounded-pill">
            Basic {{item.songInfo.details[item.level].levelDecimal/10.0|number:'1.1-1'}}
          </span>
          <span *ngSwitchCase="1" class="difficulty-advanced badge rounded-pill">
            Advanced {{item.songInfo.details[item.level].levelDecimal/10.0|number:'1.1-1'}}
          </span>
          <span *ngSwitchCase="2" class="difficulty-expert badge rounded-pill">
            Expert {{item.songInfo.details[item.level].levelDecimal/10.0|number:'1.1-1'}}
          </span>
          <span *ngSwitchCase="3" class="difficulty-master badge rounded-pill">
            Master {{item.songInfo.details[item.level].levelDecimal/10.0|number:'1.1-1'}}
          </span>
          <span *ngSwitchCase="4" class="difficulty-remaster badge rounded-pill">
            Re:Master {{item.songInfo.details[item.level].levelDecimal/10.0|number:'1.1-1'}}
          </span>
        </ng-container>
      </div>
    </div>
    <div class="card-body">
      <div class="row mb-2 g-2">
        <div class="col-12 col-sm-auto song-jacket-container">
          <img
            class="song-jacket"
            *ngIf="enableImages == true"
            [src]="host + 'assets/mai2/jacket/UI_Jacket_' + getJacketId(item.musicId) + '.webp'"
            (error)="imgError($event)"
            #img alt="">
        </div>
        <div class="col-12 col-sm">
          <div class="d-flex justify-content-center h-100 gap-1" style="flex-flow: column">
            <h3 class="text-nowrap fw-bold m-0">{{item.songInfo != null ? item.songInfo.name : 'musicId:' + item.musicId}}</h3>
            <div class="text-nowrap fw-light">{{item.songInfo != null ? item.songInfo.artistName : 'artist'}}</div>
            <div class="position-relative">
              <div>
                <h3 class="d-inline-block m-0">{{Math.floor(item.achievement/10000)}}.</h3>
                <div class="d-inline-block position-relative">
                  <h3 class="small m-0" [class.new-record]="item.isAchieveNewRecord">{{(item.achievement%10000).toString().padStart(4, '0')}}%</h3>
                </div>
              </div>
              <div class="position-absolute end-0 bottom-0">
                <img class="rank-icon" src="{{host}}assets/mai2/common/{{getRankIcon(item)}}.webp">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card bg-secondary-subtle">
        <div class="row justify-content-between align-items-center no-wrap">
          <div class="col-auto">
            <div class="d-flex flex-row gap-2" style="align-items: center;">
              <div class="col ms-1" *ngIf="getIconVisibility(item,0)">
                <img class="honor-img" src="{{host}}assets/mai2/common/{{getComboIcon(item)}}.webp">
              </div>
              <div class="col" *ngIf="getIconVisibility(item,1)">
                <img class="honor-img" src="{{host}}assets/mai2/common/{{getSyncIcon(item)}}.webp">
              </div>
              <div class="col" *ngIf="getIconVisibility(item,1)">
                <img class="rival-img" src="{{host}}assets/mai2/common/{{getRivalNumber(item)}}.webp">
              </div>
              <div class="col ms-2" *ngIf="getIconVisibility(item,2)">
                <img class="clear-img" src="{{host}}assets/mai2/common/clear.webp">
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="d-flex flex-column align-items-end dx-score-container">
              <span class="text-end mx-1">{{item.deluxscore}}/{{item.totalCombo*3}}</span>
              <span class="text-end tiny-text mx-1">{{getDxScoreStar(item)}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer" *ngIf="!isDetailVisible[i]">
      <div class="d-flex justify-content-between">
        <div>
          {{(item.userPlayDate | toDate).toLocaleString()}}
        </div>
        <button class="btn btn-link p-0" (click)="toggleDetail(i)">{{'Maimai2.RecentPage.Detailed'|translate}}</button>
      </div>
    </div>
    <div class="card m-1 mt-2 mb-2" *ngIf="isDetailVisible[i]">
      <div class="flex-container align-items-start">
        <div class="left-column mt-3 ms-3 me-3">
          <table class="table detail-table table-striped">
            <thead>
            <tr>
              <th style="min-width: 4rem;"></th>
              <th>CRIT.PREF</th>
              <th>PREFECT</th>
              <th>GREAT</th>
              <th>GOOD</th>
              <th>MISS</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>TAP</td>
              <td>{{item.tapCriticalPerfect}}</td>
              <td>{{item.tapPerfect}}</td>
              <td>{{item.tapGreat}}</td>
              <td>{{item.tapGood}}</td>
              <td>{{item.tapMiss}}</td>
            </tr>
            <tr>
              <td>HOLD</td>
              <td>{{item.holdCriticalPerfect}}</td>
              <td>{{item.holdPerfect}}</td>
              <td>{{item.holdGreat}}</td>
              <td>{{item.holdGood}}</td>
              <td>{{item.holdMiss}}</td>
            </tr>
            <tr>
              <td>SLIDE</td>
              <td>{{item.slideCriticalPerfect}}</td>
              <td>{{item.slidePerfect}}</td>
              <td>{{item.slideGreat}}</td>
              <td>{{item.slideGood}}</td>
              <td>{{item.slideMiss}}</td>
            </tr>
            <tr *ngIf="item.isTouch">
              <td>TOUCH</td>
              <td>{{item.touchCriticalPerfect}}</td>
              <td>{{item.touchPerfect}}</td>
              <td>{{item.touchGreat}}</td>
              <td>{{item.touchGood}}</td>
              <td>{{item.touchMiss}}</td>
            </tr>
            <tr>
              <td>BREAK</td>
              <td>{{item.breakCriticalPerfect}}</td>
              <td>{{item.breakPerfect}}</td>
              <td>{{item.breakGreat}}</td>
              <td>{{item.breakGood}}</td>
              <td>{{item.breakMiss}}</td>
            </tr>
            <tr>
              <td></td>
              <td>FAST</td>
              <td>{{item.fastCount}}</td>
              <td>LATE</td>
              <td>{{item.lateCount}}</td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="m-3 row">
          <div class="col">
            <div class="small mt-2">DXRating</div>
            <div class="dx-rating-container p-1 bg-secondary-subtle mt-1">
              <h4 class="dx-rating-textholder">{{item.afterRating}}<span class="badge rounded-pill tiny-text bg-info">+{{item.afterRating - item.beforeRating}}</span></h4>
            </div>
          </div>
          <div class="col">
            <div class="small mt-2">Combo</div>
            <div class="dx-rating-container p-1 bg-secondary-subtle mt-1">
              <h4 class="dx-rating-textholder">{{item.maxCombo}}/{{item.totalCombo}}</h4>
            </div>
          </div>
          <div class="col" *ngIf="getIconVisibility(item,1)">
            <div class="small mt-2">Sync</div>
            <div class="dx-rating-container p-1 bg-secondary-subtle mt-1">
              <h4 class="dx-rating-textholder">{{item.maxSync}}/{{item.totalSync}}</h4>
            </div>
          </div>
          <div class="col" *ngIf="getIconVisibility(item,1)">
            <div class="small mt-2">2P Player</div>
            <div class="dx-rating-container p-1 bg-secondary-subtle mt-1">
              <h4 class="dx-rating-textholder">{{item.playedUserName1}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pagination">
  <pagination-controls (pageChange)="load($event)" id="server"></pagination-controls>
</div>
