<h1 class="page-heading">{{'Maimai2.RecentPage.Title'|translate}}</h1>

<div *ngIf="recent" class="record d-flex flex-column gap-3">
  <div class="card" *ngFor="let item of recent | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: currentPage, totalItems: totalElements }; let i = index">
    <div class="card-header px-3 py-2">
      <div class="d-flex align-items-center justify-content-between gap-2">
        <span class="no-wrap" style="font-size: 0.875rem; color: #323232">TRACK {{item.trackNo}}</span>
        <ng-container *ngIf="item.songInfo" [ngSwitch]="item.level">
          <span *ngSwitchCase="0" class="difficulty difficulty-basic badge rounded-pill">
            Basic {{item.songInfo.details[item.level].levelDecimal/10.0|number:'1.1-1'}}
          </span>
          <span *ngSwitchCase="1" class="difficulty difficulty-advanced badge rounded-pill">
            Advanced {{item.songInfo.details[item.level].levelDecimal/10.0|number:'1.1-1'}}
          </span>
          <span *ngSwitchCase="2" class="difficulty difficulty-expert badge rounded-pill">
            Expert {{item.songInfo.details[item.level].levelDecimal/10.0|number:'1.1-1'}}
          </span>
          <span *ngSwitchCase="3" class="difficulty difficulty-master badge rounded-pill">
            Master {{item.songInfo.details[item.level].levelDecimal/10.0|number:'1.1-1'}}
          </span>
          <span *ngSwitchCase="4" class="difficulty difficulty-remaster badge rounded-pill">
            Re:Master {{item.songInfo.details[item.level].levelDecimal/10.0|number:'1.1-1'}}
          </span>
          <span *ngSwitchCase="9" class="difficulty difficulty-utage badge rounded-pill">
            U﹒TA﹒GE
          </span>
        </ng-container>
      </div>
    </div>
    <div class="card-body gap-2 d-grid">
      <div class="d-block gap-2 d-flex align-items-center">
        <div>
          <img
            class="song-jacket cover-full"
            *ngIf="enableImages == true"
            [src]="host + 'assets/mai2/jacket/UI_Jacket_' + getJacketId(item.musicId) + '.webp'"
            (error)="imgError($event)"
            #img alt="">
        </div>
        <div class="d-grid gap-4 position-relative w-100">
          <div class="overflow-hidden" style="text-overflow: ellipsis">
            <h3 class="text-nowrap fw-bold m-0">{{item.songInfo != null ? item.songInfo.name : 'musicId:' + item.musicId}}</h3>
            <div class="text-nowrap fw-light">{{item.songInfo != null ? item.songInfo.artistName : 'artist'}}</div>
          </div>
          <div>
            <div class="d-flex justify-content-between h-100 gap-1" style="flex-flow: column">
              <div class="position-relative">
                <div>
                  <h3 class="d-inline-block m-0">{{Math.floor(item.achievement/10000)}}.</h3>
                  <div class="d-inline-block position-relative">
                    <h3 class="small m-0" [class.new-record]="item.isAchieveNewRecord">{{(item.achievement%10000).toString().padStart(4, '0')}}%</h3>
                  </div>
                </div>
                <div class="position-absolute end-0" style="bottom: -0.25rem;">
                  <img class="rank-icon" src="{{host}}assets/mai2/common/{{getRankIcon(item)}}.webp">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card bg-secondary-subtle">
        <div class="row justify-content-between align-items-center no-wrap">
          <div class="col-auto">
            <div class="d-flex flex-row gap-2" style="align-items: center;">
              <div class="col ms-1" *ngIf="getIconVisibility(item,0)">
                <img class="honor-img" src="{{host}}assets/mai2/common/{{getComboIcon(item)}}.webp">
              </div>
              <div class="col" *ngIf="getIconVisibility(item,1)">
                <img class="honor-img" src="{{host}}assets/mai2/common/{{getSyncIcon(item)}}.webp">
              </div>
              <div class="col" *ngIf="getIconVisibility(item,1)">
                <img class="rival-img" src="{{host}}assets/mai2/common/{{getRivalNumber(item)}}.webp">
              </div>
              <div class="col ms-2" *ngIf="getIconVisibility(item,2)">
                <img class="clear-img" src="{{host}}assets/mai2/common/clear.webp">
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="d-flex flex-column align-items-end dx-score-container">
              <span class="text-end mx-1">{{item.deluxscore}}/<span style="font-size: 0.75rem;">{{item.totalCombo*3}}</span></span>
              <span class="text-end tiny-text mx-1">{{getDxScoreStar(item)}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div #collapse="ngbCollapse" class="card-footer p-0" [ngbCollapse]="!isDetailVisible[i]">
      <div class="align-items-center px-3 py-2">
        <div class="d-flex gap-2 flex-wrap">
          <div style="flex: 1; min-width: 8rem">
            <div style="color: #2973e0;font-weight: bold; height: 1.25rem; align-items: center; display: flex; justify-content: center;">FAST</div>
            <div class="dx-rating-container p-1 bg-secondary-subtle mt-1">
              <div class="dx-rating-textholder">{{item.fastCount}}</div>
            </div>
          </div>
          <div style="flex: 1; min-width: 8rem">
            <div style="color: #f35015;font-weight: bold; height: 1.25rem; align-items: center; display: flex; justify-content: center;">LATE</div>
            <div class="dx-rating-container p-1 bg-secondary-subtle mt-1">
              <div class="dx-rating-textholder">{{item.lateCount}}</div>
            </div>
          </div>
          <div style="flex: 1; min-width: 8rem">
            <div class="small" style="height: 1.25rem; align-items: center; display: flex; justify-content: center;">Combo</div>
            <div class="dx-rating-container p-1 bg-secondary-subtle mt-1">
              <div class="dx-rating-textholder">{{item.maxCombo}}/<span style="font-size: 0.75rem;">{{item.totalCombo}}</span></div>
            </div>
          </div>
          <div style="flex: 1; min-width: 8rem" *ngIf="getIconVisibility(item,1)">
            <div class="small" style="height: 1.25rem; align-items: center; display: flex; justify-content: center;">Sync</div>
            <div class="dx-rating-container p-1 bg-secondary-subtle mt-1">
              <div class="dx-rating-textholder">{{item.maxSync}}/<span style="font-size: 0.75rem;">{{item.totalSync}}</span></div>
            </div>
          </div>
          <div style="flex: 1; min-width: 8rem" *ngIf="getIconVisibility(item,1)">
            <div class="small" style="height: 1.25rem; align-items: center; display: flex; justify-content: center;">2P Player</div>
            <div class="dx-rating-container p-1 bg-secondary-subtle mt-1">
              <div class="dx-rating-textholder">{{item.playedUserName1}}</div>
            </div>
          </div>
          <div style="flex: 1; min-width: 8rem">
            <div class="small" style="height: 1.25rem; align-items: center; display: flex; justify-content: center;">DXRating</div>
            <div class="dx-rating-container p-1 bg-secondary-subtle mt-1">
              <div class="dx-rating-textholder">{{item.afterRating}}<span style="font-size: 0.75rem;">(+{{item.afterRating - item.beforeRating}})</span></div>
            </div>
          </div>
        </div>
        <table class="table detail-table table-striped my-2 w-100" style="text-align: center;">
            <thead class="table-grade-color">
            <tr>
              <th style="width: 15%"></th>
              <th style="width: 17%">CRIT.PERF</th>
              <th style="width: 17%">PERFECT</th>
              <th style="width: 17%">GREAT</th>
              <th style="width: 17%">GOOD</th>
              <th style="width: 17%">MISS</th>
            </tr>
            </thead>
            <tbody class="table-first-col table-grade-color">
            <tr>
              <td>TAP</td>
              <td>{{item.tapCriticalPerfect}}</td>
              <td>{{item.tapPerfect}}</td>
              <td>{{item.tapGreat}}</td>
              <td>{{item.tapGood}}</td>
              <td>{{item.tapMiss}}</td>
            </tr>
            <tr>
              <td>HOLD</td>
              <td>{{item.holdCriticalPerfect}}</td>
              <td>{{item.holdPerfect}}</td>
              <td>{{item.holdGreat}}</td>
              <td>{{item.holdGood}}</td>
              <td>{{item.holdMiss}}</td>
            </tr>
            <tr>
              <td>SLIDE</td>
              <td>{{item.slideCriticalPerfect}}</td>
              <td>{{item.slidePerfect}}</td>
              <td>{{item.slideGreat}}</td>
              <td>{{item.slideGood}}</td>
              <td>{{item.slideMiss}}</td>
            </tr>
            <tr *ngIf="item.isTouch">
              <td>TOUCH</td>
              <td>{{item.touchCriticalPerfect}}</td>
              <td>{{item.touchPerfect}}</td>
              <td>{{item.touchGreat}}</td>
              <td>{{item.touchGood}}</td>
              <td>{{item.touchMiss}}</td>
            </tr>
            <tr>
              <td>BREAK</td>
              <td>{{item.breakCriticalPerfect}}</td>
              <td>{{item.breakPerfect}}</td>
              <td>{{item.breakGreat}}</td>
              <td>{{item.breakGood}}</td>
              <td>{{item.breakMiss}}</td>
            </tr>
            </tbody>
          </table>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div>
          {{(item.userPlayDate | toDate).toLocaleString()}}
        </div>
        <button class="btn btn-primary btn-sm" (click)="toggleDetail(i)">
          {{'Maimai2.RecentPage.Detailed'|translate}}
        </button>
      </div>
    </div>
  </div>
</div>
<!--<div class="pagination d-flex justify-content-center">-->
<!--  <pagination-controls (pageChange)="load($event)" id="server"></pagination-controls>-->
<!--</div>-->
<ng-template #pagination>
  <pagination-template *ngIf="true" #p="paginationApi" class="user-select-none d-flex justify-content-center mt-2" id="server" maxSize="7"
                       style="cursor: default"
                       (pageChange)="load($event)" (pageBoundsCorrection)="load($event)">
    <ul class="pagination pagination-sm justify-content-center mb-2">
      <li class="page-item" [class.disabled]="p.isFirstPage()">
        <a class="page-link" (click)="p.previous()">&nbsp;<&nbsp;</a>
      </li>
      <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value" class="page-item">
        <a *ngIf="p.getCurrent() == page.value" class="page-link">{{ page.label }}</a>
        <a *ngIf="p.getCurrent() != page.value" (click)="p.setCurrent(page.value)"
           class="page-link">{{ page.label }}</a>
      </li>
      <li class="page-item" [class.disabled]="p.isLastPage()">
        <a class="page-link" (click)="p.next()">&nbsp;>&nbsp;</a>
      </li>
    </ul>
  </pagination-template>
</ng-template>
<ng-container *ngTemplateOutlet="pagination;"></ng-container>
