.tag {
    width: 130px;
}

.record {
    display: flex;

    .left {
        flex: 1.8;
    }

    .center {
        flex: 1;
    }

    .right {
        flex: 1;
    }
}

.song-jacket {
    min-width: 20%;
    aspect-ratio: 1;
    width: 6.5rem;
    border-radius: 0.5rem;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.tiny-text {
    font-size: 0.7rem;
}

.difficulty{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;
    width: 8rem;
}

.difficulty-basic { background: #82d956; }
.difficulty-advanced { background: #fab609; }
.difficulty-expert { background: #ff818d; }
.difficulty-master { background: #c347e7; }
.difficulty-remaster { background: #ffffff; color: #933daa; border: 1px solid #381C47; }
.difficulty-utage { background: #fe6ffd; }

.new-record::after {
    content: "NEW RECORD";
    color: #ff9c00;
    font-size: 0.6rem;
    position: absolute;
    left: -0.4rem;
    bottom: 100%;
    white-space: nowrap;
    font-weight: bold;
}

.song-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rating-score {
    display: flex;
    align-items: center;

    b {
        padding: 0 3px;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* 确保子元素能够换行 */
}

.left-column {
    flex: 1 1 auto;
    /* flex-grow, flex-shrink, flex-basis */
    min-width: 0;
    /* 确保左侧列可缩小 */
}

.right-column {
    flex: 0 0;
    /* 不缩小，宽度自适应 */
}

.detail-table {
    border-radius: 0.5rem;
    overflow: hidden;
}

.dx-rating-container {
    border-radius: 0.5rem;
    border: 1px solid #381C47;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dx-rating-textholder {
    width: 100%;
    min-width: 5rem;
    margin: 0 !important;
    text-align: center;
}



.no-wrap {
    flex-wrap: nowrap;
}

.honor-img {
    height: 2.0em;
    aspect-ratio: 0.893617021276596;
}

.rival-img {
    height: 1.6em;
    aspect-ratio: 1.53061224489796;
}

.clear-img {
    height: 1.2em;
    aspect-ratio: 5;
}

.dx-score-container {
    white-space: nowrap;
}

.rank-icon {
    height: 3rem;
    width: auto
}

.table-first-col>tr>td:first-child {
    color: #3f5bae;
    font-weight: bold;
}

.table-grade-color>tr>td:nth-child(2),
.table-grade-color>tr>th:nth-child(2) {
    color: #ffb900;
    text-shadow: 0 0 5px #ffee00;
    font-weight: bold;
}

.table-grade-color>tr>td:nth-child(3),
.table-grade-color>tr>th:nth-child(3) {
    color: #ff9d01;
    font-weight: bold;
}

.table-grade-color>tr>td:nth-child(4),
.table-grade-color>tr>th:nth-child(4) {
    color: #f95da4;
    font-weight: bold;
}

.table-grade-color>tr>td:nth-child(5),
.table-grade-color>tr>th:nth-child(5) {
    color: #30c94b;
    font-weight: bold;
}

.table-grade-color>tr>td:nth-child(6),
.table-grade-color>tr>th:nth-child(6) {
    color: #868686;
    font-weight: bold;
}

.track-num-title[data-bs-theme=light] {
    color: #323232;
}

.track-num-title[data-bs-theme=dark] {
    color: #c8c8c8;
}