<!--<h3 class="mat-display-1">{{'Ongeki.ProfilePage.Title' | translate}}</h3>-->
<div class="d-flex flex-column align-items-center">
  <div class="col-12 col-sm-8 col-md-6 col-lg-7 col-xl-6">
    <div *ngIf="profile" class="user-data-container p-0 m-3 mb-0">
      <div class="trophy-bg" [style.background-image]="'url(' + host + '/assets/ongeki/gameUi/UI_CMN_Signage_UserTitle_' + (getTrophyRarityCode(profile.trophy?.rarityType) | number: '2.0-0') + '.png)'">
        <div class="trophy">{{profile.trophy?.name??("ID: " + profile.trophyId)}}</div>
      </div>
      <div class="level-bg" [style.background-image]="'url(' + host + '/assets/ongeki/gameUi/' + 'UI_CMN_Signage_UserLevel_BG_00.png)'">
        <div *ngIf="profile.reincarnationNum>0" class="rebirth-bg" [style.background-image]="'url(' + host + '/assets/ongeki/gameUi/' + 'UI_CMN_Signage_UserLevel_Rebirth_BG.png)'">
          <div class="rebirth">{{profile.reincarnationNum}}</div>
        </div>
        <div class="level">{{profile.level}}</div>
      </div>
      <div class="name-bg" [style.background-image]="'url(' + host + '/assets/ongeki/gameUi/' + 'UI_CMN_Signage_UserName_BG.png)'">
        <div class="name">{{profile.userName | fullWidth}}</div>
      </div>
      <div class="user-icon-border">
        <img class="user-icon" src="{{host}}/assets/ongeki/card-icon/UI_Card_Icon_{{profile.cardId}}.png">
      </div>
      <img class="rank-bg" src="{{host}}/assets/ongeki/gameUi/UI_CMN_Signage_UserRank_BG_0{{profile.rankPattern}}.png">
      <img class="rank rank-0{{profile.rankPattern}}" src="{{host}}/assets/ongeki/gameUi/UI_CMN_Signage_UserRank_Rank_{{profile.rankId | number: '2.0-0'}}.png">
      <div class="battle-point bp-0{{profile.rankPattern}}">{{profile.battlePoint | number}}</div>
      <img class="rating-header" src="{{host}}/assets/ongeki/gameUi/UI_NUM_30pt_Rating_{{getRatingType(profile.playerRating)}}_Header.png">
      <div class="rating">
        <img *ngIf="Math.floor(profile.playerRating / 1000) > 0" class="rating-num-integer" src="{{host}}/assets/ongeki/gameUi/UI_NUM_30pt_Rating_{{getRatingType(profile.playerRating)}}/{{Math.floor(profile.playerRating / 1000)}}.png">
        <img class="rating-num-integer" src="{{host}}/assets/ongeki/gameUi/UI_NUM_30pt_Rating_{{getRatingType(profile.playerRating)}}/{{Math.floor(profile.playerRating / 100) % 10}}.png">
        <img class="rating-num-dot" src="{{host}}/assets/ongeki/gameUi/UI_NUM_30pt_Rating_{{getRatingType(profile.playerRating)}}/dot.png">
        <img class="rating-num-fractional" src="{{host}}/assets/ongeki/gameUi/UI_NUM_30pt_Rating_{{getRatingType(profile.playerRating)}}/{{Math.floor(profile.playerRating / 10) % 10}}.png">
        <img class="rating-num-fractional" src="{{host}}/assets/ongeki/gameUi/UI_NUM_30pt_Rating_{{getRatingType(profile.playerRating)}}/{{Math.floor(profile.playerRating) % 10}}.png">
        <div class="rating-highest text-nowrap">(Max: {{(profile.highestRating / 100) | number: '0.2-2'}})</div>
      </div>
    </div>
    <div class="chara-container">
      <img class="chara-img" src="assets/ongeki/character/{{profile.characterId}}.png">
      <div class="chara-back" [style.background-image]="'url(/assets/ongeki/back_character.png)'"></div>
      <table *ngIf="profile" class="profile-table table table-borderless m-0">
        <tbody>
        <tr>
          <th>{{'Ongeki.ProfilePage.TotalPlayCount' | translate}}</th>
          <td>{{profile.playCount}}</td>
        </tr>
        <tr>
          <th>{{'Ongeki.ProfilePage.Money' | translate}}</th>
          <td>{{profile.point}}</td>
        </tr>
        <tr>
          <th>{{'Ongeki.ProfilePage.Medal' | translate}}</th>
          <td>{{profile.medalCount}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--<div class="card z-n1">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title mb-3">{{'Ongeki.ProfilePage.Overview' | translate}}</h5>-->
<!--    <div *ngIf="profile" class="card-subtitle mb-3">{{profile.userName}}</div>-->
<!--    <table *ngIf="profile" class="table table-striped table-borderless">-->
<!--      <tbody>-->
<!--      <tr>-->
<!--        <th>Total Play Count</th>-->
<!--        <td>{{profile.playCount}}</td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
<!--</div>-->
