<h1 class="mat-display-1">Profile</h1>
<mat-card>
  <mat-card-title>Overview</mat-card-title>
  <mat-card-subtitle *ngIf="profile">{{profile.userName}}</mat-card-subtitle>
  <mat-card-content>
    <table *ngIf="profile" class="zebra">
      <tr>
        <th>Rating</th>
        <td>{{profile.playerRating / 100 | number: '1.2-2'}} (max {{profile.highestRating / 100 | number: '1.2-2'}})</td>
      </tr>
      <tr>
        <th>Battle Point</th>
        <td>{{profile.battlePoint}}</td>
      </tr>
      <tr>
        <th>Level</th>
        <td>{{profile.level}}</td>
      </tr>
      <tr>
        <th>Total Play Count</th>
        <td>{{profile.playCount}}</td>
      </tr>
      <tr>
        <th>Name Plate ID</th>
        <td>{{profile.nameplateId}}</td>
      </tr>
      <tr>
        <th>Card</th>
        <td>{{profile.card ? profile.card.name : 'ID:' + profile.cardId}}</td>
      </tr>
      <tr>
        <th>Character</th>
        <td>{{profile.character ? profile.character.name : 'ID:' + profile.characterId}}</td>
      </tr>
      <tr>
        <th>Total Tech High Score</th>
        <td>{{profile.sumTechHighScore}}</td>
      </tr>
      <tr>
        <th>Total Battle High Score</th>
        <td>{{profile.sumBattleHighScore}}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
