<h3 class="mat-display-1">{{'Ongeki.ProfilePage.Title' | translate}}</h3>

<div class="row">
  <div class="col-6 user-data-container">
    <div class="user-icon-border">
      <img class="user-icon" src="{{host}}/assets/ongeki/card-icon/UI_Card_Icon_{{profile.cardId}}.png">
    </div>
    <img class="rank-bg" src="assets/ongeki/gameUi/UI_CMN_Signage_UserRank_BG_07.png">
    <div class="trophy-bg" [style.background-image]="'url(assets/ongeki/gameUi/' + 'UI_CMN_Signage_UserTitle_00.png)'">

    </div>
    <div class="level-bg" [style.background-image]="'url(assets/ongeki/gameUi/' + 'UI_CMN_Signage_UserLevel_BG_00.png)'">

    </div>

    <div class="name-border">

    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title mb-3">{{'Ongeki.ProfilePage.Overview' | translate}}</h5>
    <div *ngIf="profile" class="card-subtitle mb-3">{{profile.userName}}</div>
    <table *ngIf="profile" class="table table-striped table-borderless">
      <tbody>
      <tr>
        <th>Rating</th>
        <td>{{profile.playerRating / 100 | number: '1.2-2'}} (max {{profile.highestRating / 100 | number: '1.2-2'}})
        </td>
      </tr>
      <tr>
        <th>Battle Point</th>
        <td>{{profile.battlePoint}}</td>
      </tr>
      <tr>
        <th>Level</th>
        <td>{{profile.level}}</td>
      </tr>
      <tr>
        <th>Total Play Count</th>
        <td>{{profile.playCount}}</td>
      </tr>
      <tr>
        <th>Name Plate ID</th>
        <td>{{profile.nameplateId}}</td>
      </tr>
      <tr>
        <th>Card</th>
        <td>{{profile.card ? profile.card.name : 'ID:' + profile.cardId}}</td>
      </tr>
      <tr>
        <th>Character</th>
        <td>{{profile.character ? profile.character.name : 'ID:' + profile.characterId}}</td>
      </tr>
      <tr>
        <th>Total Tech High Score</th>
        <td>{{profile.sumTechHighScore}}</td>
      </tr>
      <tr>
        <th>Total Battle High Score</th>
        <td>{{profile.sumBattleHighScore}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
