<h1 class="page-heading">{{ "Ongeki.SettingsPage.Title" | translate }}</h1>
<ng-container *ngIf="profile">
  <h2 class="mb-3">{{ "Ongeki.SettingsPage.Profile" | translate }}</h2>
  <div class="card mb-3">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div>
          <span>{{ "Ongeki.SettingsPage.UserName" | translate }}{{ "Common.Colon" | translate }}</span>
          <span>{{profile.userName}}</span>
        </div>
        <a type="button" class="text-primary" (click)="changeUserNameForm.setValue({userName: profile.userName});modalService.open(changeUserName, {centered: true})">{{ "Ongeki.SettingsPage.Edit" | translate }}</a>
        <ng-template #changeUserName let-modal>
          <div class="modal-header">
            <h4 class="modal-title">{{ "Ongeki.SettingsPage.ChangeUserName" | translate }}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss();"></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="onChangeUserName(modal);" [formGroup]="changeUserNameForm">
              <div class="d-grid">
                <input type="text" class="form-control mb-3" formControlName="userName" placeholder="{{ 'Ongeki.SettingsPage.UserName' | translate }}" [class.is-invalid]="changeUserNameForm.get('userName').errors">
                <button type="submit" class="btn btn-primary btn-sm">{{'Common.OK' | translate}}</button>
              </div>
            </form>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="hstack alert alert-info" role="alert">
    <ng-icon class="me-2" name="bootstrap-info-circle-fill"></ng-icon>
    {{ "Ongeki.SettingsPage.Message1" | translate }}
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div>
          <span>{{ "Ongeki.SettingsPage.RomVersion" | translate }}{{ "Common.Colon" | translate }}</span>
          <span>{{profile.lastRomVersion}}</span>
        </div>
        <a type="button" class="text-primary" (click)="changeRomVersionForm.setValue({romVersion: profile.lastRomVersion});modalService.open(changeRomVersion, {centered: true})">{{ "Ongeki.SettingsPage.Edit" | translate }}</a>
        <ng-template #changeRomVersion let-modal>
          <div class="modal-header">
            <h4 class="modal-title">{{ "Ongeki.SettingsPage.ModifyRomVersion" | translate }}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss();"></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="onChangeRomVersion(modal);" [formGroup]="changeRomVersionForm">
              <div class="d-grid">
                <input type="text" class="form-control mb-3" formControlName="romVersion" placeholder="{{ 'Ongeki.SettingsPage.RomVersion' | translate }}" [class.is-invalid]="changeRomVersionForm.get('romVersion').errors">
                <button type="submit" class="btn btn-primary btn-sm">{{'Common.OK' | translate}}</button>
              </div>
            </form>
          </div>
        </ng-template>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <span>{{ "Ongeki.SettingsPage.DataVersion" | translate }}{{ "Common.Colon" | translate }}</span>
          <span>{{profile.lastDataVersion}}</span>
        </div>
        <a type="button" class="text-primary" (click)="changeDataVersionForm.setValue({dataVersion: profile.lastDataVersion});modalService.open(changeDataVersion, {centered: true})">{{ "Ongeki.SettingsPage.Edit" | translate }}</a>
        <ng-template #changeDataVersion let-modal>
          <div class="modal-header">
            <h4 class="modal-title">{{ "Ongeki.SettingsPage.ModifyDataVersion" | translate }}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss();"></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="onChangeDataVersion(modal);" [formGroup]="changeDataVersionForm">
              <div class="d-grid">
                <input type="text" class="form-control mb-3" formControlName="dataVersion" placeholder="{{ 'Ongeki.SettingsPage.ModifyDataVersion' | translate }}" [class.is-invalid]="changeDataVersionForm.get('dataVersion').errors">
                <button type="submit" class="btn btn-primary btn-sm">{{'Common.OK' | translate}}</button>
              </div>
            </form>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <a class="btn btn-primary w-100" (click)="downloadFile()">{{ "Ongeki.SettingsPage.Export" | translate }}</a>
</ng-container>
