:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.music-img {
  max-width: 12em;
}

.music-info {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.music-title {
  font-weight: bold;
}

.level {
  display: flex;
  height: 50px;
  /*flex: 1;*/
  align-items: center;
}

.level .level-title {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.level .level-img {
  height: 40px;
  margin-left: 30px;
}

.fbab-img {
  margin-left: 20px;
}

.honor-badge {
  aspect-ratio: 1;
  width: 32px;
}

.honor{
  height: 32px;
}

.difficulty-detail-body{
  min-height: 32px;
}

.color-basic {
  color: var(--bs-green);
}

.color-advanced {
  color: var(--bs-yellow);
}

.color-expert {
  color: var(--bs-red);
}

.color-master {
  color: var(--bs-purple);
}

.bg-lunatic {
  background: var(--bs-white);
}

.medal {
  width: 1rem;
}

.boss-img{
  right: 0;
  height: 3em;
  min-width: 0;
  aspect-ratio: 1.8;
  object-fit: cover;
}

.boss-level{
  width: 4em;
}

.music-info-container{
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: -1;
  overflow: hidden;
}


:host-context([data-bs-theme=light]) .music-info-container {
  --color-from: rgba(255, 255, 255, 0.3);
  --color-to: rgba(255, 255, 255, 1)
}

:host-context([data-bs-theme=dark]) .music-info-container {
  --color-from: rgba(33, 37, 41, 0.3);
  --color-to: rgba(33, 37, 41, 1)
}

.music-info-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  background-image: linear-gradient(to bottom, var(--color-from) 0%, var(--color-to) 100%), var(--jacket-img);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transform: translate(-50%, -50%);
  filter: blur(10px);
  z-index: -1;
}
