<div class="offcanvas-header" >
  <h2 class="offcanvas-title m-0" id="offcanvasDarkLabel">User Score</h2>
  <button type="button" class="btn-close" (click)="offcanvasService.dismiss()"></button>
</div>
<div class="offcanvas-body" style="max-height: 90vh; overflow-y: scroll;">
  <div class="card">
    <div class="card-body">
      <img class="card-img mb-3 music-img sm"
           src="{{host}}assets/ongeki/jacket/UI_Jacket_{{music.id|formatNumber:4}}.jpg"
           alt="">
      <div class="position-relative">
        <h5 class="card-title mb-1 fw-bold">「{{music.name}}」</h5>
        <span class="card-subtitle music-artistName" style="font-size: 12px">{{music.artistName}}</span>
        <hr>
      </div>
      <section>
        <ng-template #difficultyDetail let-difficulty>
          <div class="card my-2">
              <ng-container [ngSwitch]="difficulty">
                <div *ngSwitchCase="0" class="card-header py-1 px-2 text-truncate">
                  <div class="hstack">
                    <ng-icon name="bootstrap-stop-fill" class="color-basic h-100 d-flex align-items-center"></ng-icon>
                    <div class="p-0 align-middle ps-1 small">
                      Basic
                      {{getLevelString(music, difficulty) | toLevelDecimal}}
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="1" class="card-header py-1 px-2 text-truncate">
                  <div class="hstack">
                    <ng-icon name="bootstrap-stop-fill" class="color-advanced h-100 d-flex align-items-center"></ng-icon>
                    <div class="p-0 align-middle ps-1 small">
                      Advanced
                      {{getLevelString(music, difficulty) | toLevelDecimal}}
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="2" class="card-header py-1 px-2 text-truncate">
                  <div class="hstack">
                    <ng-icon name="bootstrap-stop-fill" class="color-expert h-100 d-flex align-items-center"></ng-icon>
                    <div class="p-0 align-middle ps-1 small">
                      Expert
                      {{getLevelString(music, difficulty) | toLevelDecimal}}
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="3" class="card-header py-1 px-2 text-truncate">
                  <div class="hstack">
                    <ng-icon name="bootstrap-stop-fill" class="color-master h-100 d-flex align-items-center"></ng-icon>
                    <div class="p-0 align-middle ps-1 small">
                      Master
                      {{getLevelString(music, difficulty) | toLevelDecimal}}
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="10" class="card-header py-1 px-2 text-truncate border border-danger bg-lunatic">
                  <div class="hstack text-danger">
                    <ng-icon name="bootstrap-stop-fill" class="h-100 d-flex align-items-center"></ng-icon>
                    <div class="p-0 align-middle ps-1 small">
                      Lunatic
                      {{getLevelString(music, difficulty) | toLevelDecimal}}
                    </div>
                  </div>
                </div>
              </ng-container>
            <div class="card-body py-1 px-3">
              <div class="difficulty-detail-body d-flex align-items-center justify-content-between">
                <div class="float-start small fw-bold">
                  <span *ngIf="songData[difficulty]">{{songData[difficulty].techScoreMax}}</span>
                  <span *ngIf="!songData[difficulty]">No Record</span>
                </div>
                <div *ngIf="songData[difficulty]" class="honor float-end">
                  <img class="honor-badge"
                       src="{{host}}assets/ongeki/gameUi/{{songData[difficulty].techScoreRank|toTechHonorSprite}}" alt="">
                  <ng-container *ngIf="songData[difficulty].isAllBreake">
                    <img class="honor-badge"
                         src="{{host}}assets/ongeki/gameUi/UI_SLC_MusicSelect_HornorBadge_AB.png" alt="">
                  </ng-container>
                  <ng-container *ngIf="!songData[difficulty].isAllBreake && songData[difficulty].isFullCombo">
                    <img class="honor-badge"
                         src="{{host}}assets/ongeki/gameUi/UI_SLC_MusicSelect_HornorBadge_FC.png" alt="">
                  </ng-container>
                  <ng-container *ngIf="!songData[difficulty].isAllBreake && !songData[difficulty].isFullCombo">
                    <img class="honor-badge"
                         src="{{host}}assets/ongeki/gameUi/UI_SLC_MusicSelect_HornorBadge_None.png" alt="">
                  </ng-container>
                  <img class="honor-badge"
                       src="{{host}}assets/ongeki/gameUi/UI_SLC_MusicSelect_HornorBadge_{{songData[difficulty].isFullBell?'FB':'None'}}.png"
                       alt="">
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-container *ngIf="music.id < 8e3 && songData">
          <ng-container *ngTemplateOutlet="difficultyDetail; context: {$implicit: 0}"></ng-container>
          <ng-container *ngTemplateOutlet="difficultyDetail; context: {$implicit: 1}"></ng-container>
          <ng-container *ngTemplateOutlet="difficultyDetail; context: {$implicit: 2}"></ng-container>
          <ng-container *ngTemplateOutlet="difficultyDetail; context: {$implicit: 3}"></ng-container>
        </ng-container>
        <ng-container *ngIf="music.id > 8e3 && songData">
          <ng-container *ngTemplateOutlet="difficultyDetail; context: {$implicit: 10}"></ng-container>
        </ng-container>
      </section>

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <ng-container *ngIf="music.id < 8e3 && songData">
            <button class="nav-link" id="nav-ba-tab" (click)="handleTabButtonClick(0)" data-bs-toggle="tab" data-bs-target="#nav-ba" type="button" role="tab" aria-controls="nav-ba" aria-selected="false">BA</button>
            <button class="nav-link" id="nav-ad-tab" (click)="handleTabButtonClick(1)" data-bs-toggle="tab" data-bs-target="#nav-ad" type="button" role="tab" aria-controls="nav-ad" aria-selected="false">AD</button>
            <button class="nav-link" id="nav-ex-tab" (click)="handleTabButtonClick(2)" data-bs-toggle="tab" data-bs-target="#nav-ex" type="button" role="tab" aria-controls="nav-ex" aria-selected="false">EX</button>
            <button class="nav-link active" id="nav-ma-tab" (click)="handleTabButtonClick(3)" data-bs-toggle="tab" data-bs-target="#nav-ma" type="button" role="tab" aria-controls="nav-ma" aria-selected="true">MA</button>
          </ng-container>
          <ng-container *ngIf="music.id > 8e3 && songData">
            <button class="nav-link  active" id="nav-lu-tab" (click)="handleTabButtonClick(10)" data-bs-toggle="tab"data-bs-target="#nav-lu" type="button" role="tab" aria-controls="nav-lu" aria-selected="true">LUNATIC</button>
          </ng-container>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <ng-container *ngIf="music.id < 8e3 && songData">
          <div class="tab-pane fade" id="nav-ba" role="tabpanel" aria-labelledby="nav-ba-tab" tabindex="0">
            <ng-container *ngTemplateOutlet="rankingTable"/>
            <span *ngIf="songData[0]">
            You rank {{songData[0].ranking.rank}} in {{songData[0].ranking.playedCount}} players.
            </span>
          </div>
          <div class="tab-pane fade" id="nav-ad" role="tabpanel" aria-labelledby="nav-ad-tab" tabindex="0">
            <ng-container *ngTemplateOutlet="rankingTable"/>
            <span *ngIf="songData[1]">
            You rank {{songData[1].ranking.rank}} in {{songData[1].ranking.playedCount}} players.
            </span>
          </div>
          <div class="tab-pane fade" id="nav-ex" role="tabpanel" aria-labelledby="nav-ex-tab" tabindex="0">
            <ng-container *ngTemplateOutlet="rankingTable"/>
            <span *ngIf="songData[2]">
            You rank {{songData[2].ranking.rank}} in {{songData[2].ranking.playedCount}} players.
            </span>
          </div>
          <div class="tab-pane fade show active" id="nav-ma" aria-labelledby="nav-ma-tab" tabindex="0">
            <ng-container *ngTemplateOutlet="rankingTable"/>
            <span *ngIf="songData[3]">
            You rank {{songData[3].ranking.rank}} in {{songData[3].ranking.playedCount}} players.
            </span>
          </div>
        </ng-container>
        <ng-container *ngIf="music.id > 8e3 && songData">
          <div class="tab-pane fade show active" id="nav-ma" aria-labelledby="nav-ma-tab" tabindex="0">
            <ng-container *ngTemplateOutlet="rankingTable"/>
            <span *ngIf="songData[10]">
            You rank {{songData[10].ranking.rank}} in {{songData[10].ranking.playedCount}} players.
            </span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #rankingTable>
  <table class="table table-striped table-borderless">
    <thead>
    <th>No.</th>
    <th>Username</th>
    <th>Score</th>
    </thead>
    <tbody>
    <tr *ngFor="let item of ranking; index as i">
      <td [ngSwitch]="i">
        <img *ngSwitchCase="0" class="medal" src="{{host}}assets/gold-medal.svg" alt="">
        <img *ngSwitchCase="1" class="medal" src="{{host}}assets/silver-medal.svg" alt="">
        <img *ngSwitchCase="2" class="medal" src="{{host}}assets/bronze-medal.svg" alt="">
        <span *ngIf="i !== 0 && i !== 1 && i !== 2">
                  {{ i + 1 }}
                  </span>
      </td>
      <td>{{ item.username | fullWidth}}</td>
      <td>{{ item.score }}</td>
    </tr>
    </tbody>
  </table>
</ng-template>
