<h1 class="page-heading">Card Gacha</h1>

<mat-card *ngIf="!isStarted">
  <mat-card-title>
    Regular Gacha
  </mat-card-title>
  <mat-card-content>
    <div class="gacha-button-group">
      <button (click)="gacha(1)" mat-raised-button>Gacha<br>1x</button>
      <button (click)="gacha(5)" mat-raised-button>Gacha<br>5x</button>
      <button (click)="gacha(11)" mat-raised-button>Gacha<br>11x</button>
    </div>
    <p>Probability:
      R: 70%,
      SR: 25%,
      SSR: 5%
    </p>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="isStarted">
  <mat-card-title>
    Gacha Result
  </mat-card-title>
  <mat-card-content>
    <table class="zebra">
      <thead>
      <th>Rarity</th>
      <th>Card name</th>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of cardResultList">
        <ng-container *ngTemplateOutlet="resultRow; context: {item: item}"></ng-container>
      </ng-container>
      </tbody>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="goBack()" mat-raised-button>Go back</button>
  </mat-card-actions>
</mat-card>

<ng-template #resultRow let-item="item">
  <tr>
    <td>
      {{item.rarity}}
    </td>
    <td>
      {{item.name}}
    </td>
  </tr>
</ng-template>
