<h1 class="page-heading">Profile</h1>
<div class="card">
  <div class="card-body">
  <div class="card-title">{{'Maimai2.ProfilePage.Overview'|translate}}</div>
    <div class="card-subtitle mb-3" *ngIf="profile">{{profile.userName}}</div>
    <table *ngIf="profile" class="table table-striped table-borderless">
      <tr>
        <th>Rating</th>
        <td>{{profile.playerRating}} (max {{profile.highestRating}})</td>
      </tr>
      <tr>
        <th>Awakened character ★</th>
        <td>{{profile.totalAwake}}</td>
      </tr>
      <tr>
        <th>Play Count</th>
        <td>{{profile.playCount}}</td>
      </tr>
      <tr>
        <th>Last Play</th>
        <td>{{profile.lastPlayDate}}</td>
      </tr>
      <tr>
        <th>オトモダチ対戦 Class</th>
        <td>{{classRank[profile.classRank]}}</td>
      </tr>
      <tr>
        <th>段位認定 Class</th>
        <td>{{udemaeRank[profile.courseRank]}}</td>
      </tr>
    </table>
  </div>
</div>
