<h1 class="page-heading">{{'Maimai2.ProfilePage.Title'|translate}}</h1>
<div class="card">
  <div class="card-body">
    <div class="card-header">{{'Maimai2.ProfilePage.Overview'|translate}}</div>
    <!--    <div class="card-subtitle mb-3" *ngIf="profile">{{profile.userName}}</div>-->
    <table *ngIf="profile" class="table table-striped table-borderless">
      <ul class="list-group list-group-flush profile-list">
        <li class="list-group-item">
          <th>{{ 'Maimai2.ProfilePage.UserName' | translate }}</th>
          <td>{{profile.userName}}</td>
        </li>
        <li class="list-group-item">
          <th>{{ 'Maimai2.ProfilePage.Rating' | translate }}</th>
          <td>{{ profile.playerRating }} (max {{ profile.highestRating }})</td>
        </li>
        <li class="list-group-item">
          <th>{{ 'Maimai2.ProfilePage.AwakenedCharacter' | translate }}</th>
          <td>{{ profile.totalAwake }}</td>
        </li>
        <li class="list-group-item">
          <th>{{ 'Maimai2.ProfilePage.PlayCount' | translate }}</th>
          <td>{{ profile.playCount }}</td>
        </li>
        <li class="list-group-item">
          <th>{{ 'Maimai2.ProfilePage.LastPay' | translate }}</th>
          <td>{{ profile.lastPlayDate }}</td>
        </li>
        <li class="list-group-item">
          <th>{{ 'Maimai2.ProfilePage.OTOMODACHI' | translate }}</th>
          <td>{{ classRank[profile.classRank] }}</td>
        </li>
        <li class="list-group-item">
          <th>{{ 'Maimai2.ProfilePage.DANININTEI' | translate }}</th>
          <td>{{ udemaeRank[profile.courseRank] }}</td>
        </li>
      </ul>


    </table>
  </div>
</div>
