<h1 class="mat-display-1">Profile</h1>
<mat-card>
  <mat-card-title>Overview</mat-card-title>
  <mat-card-subtitle *ngIf="profile">{{profile.userName}}</mat-card-subtitle>
  <mat-card-content>
    <table *ngIf="profile" class="zebra">
      <tr>
        <th>Rating</th>
        <td>{{profile.playerRating}} (max {{profile.highestRating}})</td>
      </tr>
      <tr>
        <th>Awakened character ★</th>
        <td>{{profile.totalAwake}}</td>
      </tr>
      <tr>
        <th>Play Count</th>
        <td>{{profile.playCount}}</td>
      </tr>
      <tr>
        <th>Last Play</th>
        <td>{{profile.lastPlayDate}}</td>
      </tr>
      <tr>
        <th>オトモダチ対戦 Class</th>
        <td>{{classRank[profile.classRank]}}</td>
      </tr>
      <tr>
        <th>段位認定 Class</th>
        <td>{{udemaeRank[profile.courseRank]}}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
