<div class="modal-content">
  <div class="modal-body">
    <h2>Change version</h2>
    <p [ngStyle]="{'color': versionInput.invalid && versionInput.touched ? 'var(--bs-form-invalid-border-color)' : 'inherit',
                   'font-weight': versionInput.invalid && versionInput.touched ? 'bold' : 'normal'}"
       style="transition: all 0.5s"
    >
      Version format is x.xx.xx
    </p>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Version</span>
      <input
        [(ngModel)]="data.version"
        type="text"
        [ngStyle]="{'borderColor': versionInput.invalid && versionInput.touched ? 'var(--bs-form-invalid-border-color)': 'var(--bs-border-color)'}"
        class="form-control"
        placeholder="x.xx.xx"
        pattern="^\d\.\d{2}\.\d{2}$"
        #versionInput="ngModel"
        required
      >
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="this.modalService.dismissAll()">Cancel</button>
    <button type="button" class="btn btn-primary"
            (click)="parentComponent.handleVersionApplyClick(data)"
            [disabled]="versionInput.invalid"
    >Apply</button>
  </div>
</div>
