@import "/node_modules/bootstrap/scss/bootstrap";

.rating-info {
  font-size: 1.2em;
}

.skill-card table {
  width: 100%;
  font-size: 16px;
}

.skill-card h3 {
  font-size: 20px;
  text-align: center;
}

.skill-card img {
  width: 18px;
  height: 18px;
  padding: 0;
}

td {
  max-width: 110px;
  padding: 0 !important;
}

thead th {
  text-align: left;
}

table {
  padding: 0 !important;
}

.music-img {
  padding: 10px 0 !important;
  width: 4rem;
}

.music-img > img {
  padding: 0 10px;
}

.music-title {
  text-align: left;
}

.rating-info > p {
  margin: 0;
}

@include media-breakpoint-up(sm) {
  .skill-card table {
    width: 100%;
    font-size: 12px;
  }
}

