@import "../../../../../../node_modules/bootstrap/scss/bootstrap-grid";

.offcanvas {
  width: 40vw !important;
}

.music-img {
  width: 60%;
}

.fbab-img {
  margin-left: 20px;
}

.honor-badge {
  aspect-ratio: 1;
  width: 32px;
}

@include media-breakpoint-down(sm) {
  .music-img {
    width: 100%;
  }
}

.color-basic {
  color: #00ab84;
}

.color-advanced {
  color: #ff7e00;
}

.color-expert {
  color: #f12929;
}

.color-master {
  color: #8e1be5;
}

.color-ultima {
  color: #424242;
}

.color-we {
  background: linear-gradient(45deg, #0BE9EE, #ACE559, #FCE116, #CB00B0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
}

.honor{
  height: 32px;
}

.difficulty-detail-body{
  min-height: 32px;
}

.medal {
  width: 1rem;
}
