.sponsor-me{
  background: linear-gradient(90deg,#946ce6,#7e5fd9);
  border-radius: .1em;
  color: #fff;
  padding: .5rem 2rem;
  font-weight: bold;
  font-size: small;
}

.sponsor-me:hover {
  background: linear-gradient(90deg,#946ce6,#885fd9);
}

.webstorm-logo{
  height: 4em
}

.jetbrains-logo{
  height: 4em
}

.avator{
  height: 2em;
  aspect-ratio: 1;
  border-radius: 50%
}
