<div class="container mt-3" style="max-width: 512px">
  <div class="card mb-3">
    <div class="card-body">
      <div class="mb-4">
        <h3>RinNET</h3>
        <h5> Some text</h5>
      </div>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="d-grid gap-2">
          <div>
            <label for="usernameOrEmail" class="form-label">User name</label>
            <input type="text" class="form-control form-control-sm" id="usernameOrEmail" name="usernameOrEmail" placeholder="Username or Email"
                   ngModel required>
          </div>
          <div>
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control form-control-sm" id="password" name="password"
                   placeholder="Password" ngModel required>
          </div>
          <button type="submit" class="btn btn-primary btn-sm mt-3">Sign up</button>
        </div>
      </form>
    </div>
  </div>
  <div class="text-center">
    Don't have an account?
    <a class="text-decoration-none" routerLink="/signup">Sign up</a>
  </div>
</div>
