<div class="container mt-3" style="max-width: 512px">
  <div class="card mb-3">
    <div class="card-body">
      <div class="mb-4">
        <h3>RinNET</h3>
        <h5> Some text</h5>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="d-grid gap-2">
          <div>
            <label for="usernameOrEmail" class="form-label">User name</label>
            <input type="text" class="form-control form-control-sm" id="usernameOrEmail"
                   formControlName="usernameOrEmail" placeholder="Username or Email"
                   [class.is-invalid]="usernameOrEmail.touched && !usernameOrEmail.valid && usernameOrEmail.errors">
          </div>
          <div>
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control form-control-sm" id="password" formControlName="password"
                   placeholder="Password"
                   [class.is-invalid]="password.touched && !password.valid && password.errors">
          </div>
          <button type="submit" class="btn btn-primary btn-sm mt-3" [class.disabled]="loginForm.disabled">
            Sign in
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="text-center">
    Don't have an account?
    <a class="text-decoration-none" routerLink="/signup">Sign up</a>
  </div>
</div>
