.ranking-row{
  padding-left: 0.5em;
}

.medal {
  width: 2em;
}

.ranking-text {
  display: inline-block;
  width: 2rem;
  text-align: center;
  font-weight: bold;
  color: #7e7e7e;
}

.ranking-item-icon {
  width: 3em;
  aspect-ratio: 1;
}

.ranking-item-icon-lg {
  width: 4em !important;
}

.ranking-item-icon-xl {
  width: 5em !important;
}

th{
  display: table-cell;
  vertical-align: middle;
}

td{
  display: table-cell;
  vertical-align: middle;
}

//@media (min-width: 992px) {
//  table {
//    width: 70%;
//  }
//}
