<h1 class="page-heading">Profile</h1>
<div class="card">
  <div class="card-body">
    <h5 class="card-title mb-3">{{'ChuniV2.ProfilePage.Overview' | translate}}</h5>
    <div *ngIf="profile" class="card-subtitle mb-3">{{profile.userName}}</div>
    <table *ngIf="profile" class="table table-striped table-borderless">
      <tbody>
      <tr>
        <th>Level</th>
        <td>{{profile.level}}</td>
      </tr>
      <tr>
        <th>Rating</th>
        <td>{{profile.playerRating / 100}} (max {{profile.highestRating / 100}})</td>
      </tr>
      <tr>
        <th>Over Power</th>
        <td>{{profile.overPowerPoint / 100}} ({{profile.overPowerRate / 100}}%)</td>
      </tr>
      <tr>
        <th>Play Count</th>
        <td>{{profile.playCount}}</td>
      </tr>
      <tr>
        <th>Last Play</th>
        <td>{{profile.lastPlayDate}}</td>
      </tr>
      <tr>
        <th>Current points</th>
        <td>{{profile.point}}</td>
      </tr>
      <tr>
        <th>Acquired points</th>
        <td>{{profile.totalPoint}}</td>
      </tr>
      </tbody>
    </table>
    <p>Looking for more? Some info moved to its respective menus.</p>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title mb-3">Score Statistics</h5>
    <table *ngIf="profile" class="table table-striped table-borderless">
      <tbody>
      <tr>
        <th>Total High Score</th>
        <td>{{profile.totalHiScore}}</td>
      </tr>
      <tr>
        <th>Total Basic High Score</th>
        <td>{{profile.totalBasicHighScore}}</td>
      </tr>
      <tr>
        <th>Total Advanced High Score</th>
        <td>{{profile.totalAdvancedHighScore}}</td>
      </tr>
      <tr>
        <th>Total Expert High Score</th>
        <td>{{profile.totalExpertHighScore}}</td>
      </tr>
      <tr>
        <th>Total Master High Score</th>
        <td>{{profile.totalMasterHighScore}}</td>
      </tr>
      <tr>
        <th>Total Ultima High Score</th>
        <td>{{profile.totalUltimaHighScore}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
