<h1 class="page-heading">{{'ChuniV2.RivalPage.Title' | translate}}</h1>

<div class="input-group">
  <input type="text" class="form-control form-control mb-3" placeholder="{{'ChuniV2.RivalPage.IDInputPlaceholder' | translate}}" [(ngModel)]="inputAddRivalUserId">
  <button class="btn btn-primary mb-3" type="button" (click)="addFriend()">{{'ChuniV2.RivalPage.AddRival' | translate}}</button>
</div>

<ng-container *ngIf="!chusanProfile">
  <div class="card mb-3 placeholder-wave">
    <div class="card-header">
      <span class="placeholder" style="width: 6em;"></span>
    </div>
    <div class="card-body p-2">
      <div class="hstack gap-2">
        <img class="placeholder profile-icon">
        <table class="profile-table">
          <tbody>
          <tr>
            <th>
              <span class="placeholder" style="width: 1em;"></span>
            </th>
            <td>
              <span class="placeholder" style="width: 5em;"></span>
            </td>
          </tr>
          <tr>
            <th>
              <span class="placeholder" style="width: 3em;"></span>
            </th>
            <td>
              <span class="placeholder" style="width: 2em;"></span>
            </td>
          </tr>
          <tr>
            <th>
              <span class="placeholder" style="width: 3em;"></span>
            </th>
            <td>
              <span class="placeholder" style="width: 3em;"></span>
            </td>
          </tr>
          <tr>
            <th>
              <span class="placeholder" style="width: 4em;"></span>
            </th>
            <td>
              <span class="placeholder" style="width: 4em;"></span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <div class="float-end fw-bold small">
        <span class="placeholder" style="width: 14em;"></span>
      </div>
    </div>
  </div>
</ng-container>

<div *ngIf="chusanProfile" class="card mb-3">
  <div class="card-header fw-bold">{{chusanProfile.userName | fullWidth}}</div>
  <div class="card-body p-2">
    <div class="profile-container hstack gap-2">
      <img class="profile-icon" src="{{host}}/assets/chuni/chara/CHU_UI_Character_{{(chusanProfile.characterId / 10)|formatNumber:4}}_00_02.webp">
      <table class="profile-table">
        <tbody>
        <tr>
          <th>{{'ChuniV2.RivalPage.ID' | translate}}</th>
          <td>{{10000000 + userService.currentUser.defaultCard.id}}</td>
        </tr>
        <tr>
          <th>{{'ChuniV2.RivalPage.Level' | translate}}</th>
          <td>{{chusanProfile.reincarnationNum * 100 + chusanProfile.level}}</td>
        </tr>
        <tr>
          <th>{{'ChuniV2.RivalPage.Rating' | translate}}</th>
          <td>{{chusanProfile.playerRating / 100 | number: '1.2-2'}}</td>
        </tr>
        <tr>
          <th>{{'ChuniV2.RivalPage.OverPower' | translate}}</th>
          <td>{{chusanProfile.overPowerRate/ 100}}%</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <div class="float-end fw-bold small">
      {{'ChuniV2.RivalPage.LastPlay' | translate}}{{'Common.Colon' | translate}}{{(chusanProfile.lastPlayDate | toDate).toLocaleDateString()}}
    </div>
  </div>
</div>

<h3 class="mb-3">{{'ChuniV2.RivalPage.RivalList' | translate}}</h3>

<ng-container *ngIf="loadingRival">
  <div class="card mb-3 placeholder-wave">
    <div class="card-header">
      <span class="placeholder" style="width: 6em;"></span>
    </div>
    <div class="card-body p-2">
      <div class="hstack gap-2">
        <img class="placeholder profile-icon" alt="" src="">
        <table class="profile-table">
          <tbody>
          <tr>
            <th>
              <span class="placeholder" style="width: 1em;"></span>
            </th>
            <td>
              <span class="placeholder" style="width: 5em;"></span>
            </td>
          </tr>
          <tr>
            <th>
              <span class="placeholder" style="width: 3em;"></span>
            </th>
            <td>
              <span class="placeholder" style="width: 2em;"></span>
            </td>
          </tr>
          <tr>
            <th>
              <span class="placeholder" style="width: 3em;"></span>
            </th>
            <td>
              <span class="placeholder" style="width: 3em;"></span>
            </td>
          </tr>
          <tr>
            <th>
              <span class="placeholder" style="width: 4em;"></span>
            </th>
            <td>
              <span class="placeholder" style="width: 4em;"></span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <div class="float-end fw-bold small">
        <span class="placeholder" style="width: 14em;"></span>
      </div>
    </div>
  </div>
</ng-container>

<div *ngIf="!loadingRival && friendList.length == 0">
  <span class="text-secondary ms-2">{{'ChuniV2.RivalPage.Empty' | translate}}</span>
</div>

<div *ngFor="let item of friendList" class="card mb-3">
  <div class="friend-header card-header fw-bold">
    <span>{{item.rivalName | fullWidth}}</span>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox" role="switch"
        id="flexSwitchCheckDefault"
        [checked]="item.isFavorite"
        (change)="debouncedToggleFavorite(item.rivalId, item.isFavorite)">
      <label class="form-check-label" for="flexSwitchCheckDefault">{{ 'ChuniV2.RivalPage.AddLove' | translate}}</label>
    </div>
  </div>
  <div class="card-body p-2">
    <div class="profile-container hstack gap-2">
      <img class="profile-icon" src="{{host}}/assets/chuni/chara/CHU_UI_Character_{{item.characterId|characterImage}}_02.webp">
      <table class="profile-table">
        <tbody>
        <tr>
          <th>{{'ChuniV2.RivalPage.ID' | translate}}</th>
          <td>{{item.rivalId}}</td>
        </tr>
        <tr>
          <th>{{'ChuniV2.RivalPage.Level' | translate}}</th>
          <td>{{item.reincarnationNum *100 + item.level}}</td>
        </tr>
        <tr>
          <th>{{'ChuniV2.RivalPage.Rating' | translate}}</th>
          <td>{{item.playerRating / 100}}</td>
        </tr>
        <tr>
          <th>{{'ChuniV2.RivalPage.OverPower' | translate}}</th>
          <td>{{item.overPowerRate / 100}}%</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <ng-template #remove let-modal>
      <div class="modal-header">
        <h4 class="modal-title">{{'ChuniV2.RivalPage.Remove' | translate}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss();"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="d-grid">
            <p class="mb-3 ms-1">
              {{'ChuniV2.RivalPage.RemoveTip' | translate}}
            </p>
            <button class="btn btn-danger btn-sm" (click)="removeFriend(item.rivalId);modal.dismiss()">{{'Common.OK' | translate}}</button>
          </div>
        </form>
      </div>
    </ng-template>
    <a class="float-start cursor-pointer text-danger fw-bold small" (click)="open(remove)">
      {{'ChuniV2.RivalPage.Remove' | translate}}
    </a>
    <div class="float-end fw-bold small">
<!--      {{'ChuniV2.RivalPage.LastPlay' | translate}}{{'Common.Colon' | translate}}{{(item.lastPlayDate | toDate).toLocaleString()}}-->
    </div>
  </div>
</div>
