table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.profile-icon{
  height: 5.4em;
  width: 5.4em;
}

.profile-table{
  font-size: .8em;
  max-width: 20em;
}

.profile-table th{
  width: 50%;
}

.profile-table td{
  width: 50%;
}

.friend-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
