<h1 class="page-heading">{{'ChuniV2.UserRankingPage.Title' | translate}}</h1>
<div class="row mb-2 g-1">
  <div class="col-12 col-sm">
    <div class="row justify-content-start align-items-center g-1">
      <div class="col-auto">
        <button class="tab-selector" [class.tab-selector-active]="type === RankingType.RATING" [routerLink]="[]" [queryParams]="{type: RankingType.RATING.toLowerCase()}">{{'ChuniV2.UserRankingPage.Rating' | translate}}</button>
      </div>
      <div class="col-auto">
        <button class="tab-selector" [class.tab-selector-active]="type === RankingType.ACTIVITY" [routerLink]="[]" [queryParams]="{type: RankingType.ACTIVITY.toLowerCase()}">{{'ChuniV2.UserRankingPage.Activity' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="type === RankingType.RATING">
  <table class="table table-hover">
    <colgroup>
      <col style="width: 2rem;">
      <col style="width: auto;">
      <col style="width: min-content;">
    </colgroup>
    <tbody>
    <tr class="ranking-row" *ngFor="let item of chusanUserRankings; let i = index">
      <th class="text-end" scope="row" [ngSwitch]="i">
        <img *ngSwitchCase="0" class="medal" src="{{host}}assets/gold-medal.svg" alt="">
        <img *ngSwitchCase="1" class="medal" src="{{host}}assets/silver-medal.svg" alt="">
        <img *ngSwitchCase="2" class="medal" src="{{host}}assets/bronze-medal.svg" alt="">
        <span class="ranking-text" *ngSwitchDefault>
            {{ i + 1 }}.
        </span>
      </th>
      <td>
        <div class="d-flex align-items-center">
<!--          <img class="ranking-item-icon me-2" [class.ranking-item-icon-lg]="i == 0 || i == 1 || i == 2" src="{{host}}/assets/chuni/chara/CHU_UI_Character_{{characterId / 10}}_00_02.webp">-->
          <div>
            <div [class.fw-bold]="i == 0 || i == 1 || i == 2">{{ item.userName | fullWidth }}</div>
            <div>{{ (item.nowRating/100).toFixed(2) }}<span class="ms-1 text-secondary small">(Max: {{(item.highestRating/100).toFixed(2)}})</span></div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</ng-container>

<ng-container *ngIf="type === RankingType.ACTIVITY">
  <p class="mt-3">Updated at 0:00 every day</p>
  <table class="table table-hover mt-3">
    <colgroup>
      <col style="width: 2rem;">
      <col style="width: auto;">
      <col style="width: min-content;">
    </colgroup>
    <tbody>
    <tr class="ranking-row" *ngFor="let item of chusanUserPcRankings; let i = index">
      <th class="text-end" scope="row" [ngSwitch]="i">
        <img *ngSwitchCase="0" class="medal" src="{{host}}assets/gold-medal.svg" alt="">
        <img *ngSwitchCase="1" class="medal" src="{{host}}assets/silver-medal.svg" alt="">
        <img *ngSwitchCase="2" class="medal" src="{{host}}assets/bronze-medal.svg" alt="">
        <span class="ranking-text" *ngSwitchDefault>
            {{ i + 1 }}.
        </span>
      </th>
      <td>
        <span [class.fw-bold]="i == 0 || i == 1 || i == 2">{{ item.username | fullWidth }}</span>
      </td>
      <td class="text-end">{{ item.pc }}</td>
    </tr>
    </tbody>
  </table>
</ng-container>
