.type-selector{
  text-wrap: nowrap;
  user-select: none;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  color: var(--bs-link-color);
  background-color: var(--bs-body-bg);
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.type-selector:hover{
  color: var(--bs-link-hover-color);
  background-color: var(--bs-tertiary-bg);
}

.type-selector-active{
  cursor: default;
  color: var(--bs-light) !important;
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}
