.app-container {
  display: flex;
  flex-direction: column;
}

.navbar-brand {
  user-select: none;
}

.app-navbar {
  backdrop-filter: blur(25px) brightness(100%) saturate(160%);
  background: rgba(var(--bs-tertiary-bg-rgb), 0.9) !important;
  height: 3.6rem;
  z-index: 999;
}

.sidenav {
  flex: 1;
  height: auto;
}

mat-sidenav {
  min-width: 200px;
}

.content {
  background-origin: content-box;
  height: auto;
  overflow-y: visible;
  width: 92%;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 30px;
  margin: auto;
}

.content .padding {
  padding-top: 4px;
}

.dark {
  background-color: #202124;
}

.hide {
  display: none;
}

.link-btn {
  padding: .3rem .5rem;
  color: var(--bs-body-color);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease 0s;
}

.link-btn:hover,
.link-btn.active {
  color: #FFF;
  background-color: var(--bs-primary);
}

.link-btn.active {
  font-weight: bold;
}

.user-popover{
  min-width: 10rem;
}

.link-btn-danger{
  color: var(--bs-danger);
}

.link-btn-danger:hover,
.link-btn-danger.active{
  color: #FFF;
  background-color: var(--bs-danger);
}

.sidebar {
  grid-area: sidebar;
  min-width: 14rem;
  top: 4.1rem;
}

@media (min-width: 992px) {
  .sidebar {
    margin-top: 4.1rem;
    max-height: calc(100vh - 4.6rem);
  }
}

@font-face {
  font-family: SEGA_Humming;
  src: url("../assets/fonts/SEGA_Humming v2-B.ttf") format("truetype");
}

.progress{
  border-radius: 0;
  height: 2px;
}

.progress-bar.indeterminate-front {
  position: relative;
  animation: progress-indeterminate 3s ease-in-out infinite;
  animation-delay: -.5s !important;
}

.progress-bar.indeterminate-back {
  position: relative;
  animation: progress-indeterminate 3s ease-out infinite;
  animation-delay: 1s !important;
}

@keyframes progress-indeterminate {
  from { left: -25%; width: 25%; }
  to { left: 150%; width: 150%;}
}

.footer{
  width: 100%;
  color: var(--bs-secondary);
  font-size: small;
  //background-color: var(--bs-tertiary-bg);
}

.footer a{
  color: var(--bs-secondary);
  text-decoration: none;
}

.footer a:hover{
  color: var(--bs-secondary);
  text-decoration: underline;
}

@media (max-width: 991.98px) {
  .sidebar {
    z-index: 1040;
  }
}
