<div class="app-container">
  <div class="flex-grow-1">
    <nav ngbNav #nav="ngbNav" class="app-navbar navbar navbar-expand-lg position-fixed shadow w-100">
      <div class="container-xxl">
        <button [class.v-not-login]="disableSidebar && !accountService.currentAccountValue" (click)="showSidebar()"
                [class.v-hidden]="isRouterHome && accountService.currentAccountValue"
                class="navbar-toggler btn btn-icon"
                type="button">
          <div class="d-flex align-items-center">
            <ng-icon name="bootstrap-list" size="1.4rem"></ng-icon>
          </div>
        </button>
        <a class="navbar-brand sm-center" routerLink="">
          <img src="{{host}}assets/turtle.svg" alt="turtle" width="30" height="24"
               class="d-inline-block align-text-top"/>
          RinNET
        </a>
        <ng-template #userPopContent>
          <div class="user-popover vstack">
            <label class="text-start mx-2 h5">{{userService.currentUser.name}}</label>
            <hr class="my-2 border">
            <a class="link-btn rounded mb-2" [class.active]="isActive('/profile')" routerLink="/profile">{{'App.UserPopup.Profile' | translate}}</a>
            <a class="link-btn rounded mb-2" [class.active]="isActive('/cards')" routerLink="/cards">{{'App.UserPopup.MyCards' | translate}}</a>
            <a class="link-btn rounded mb-2" [class.active]="isActive('/keychip')" routerLink="/keychip">{{'App.UserPopup.Keychip' | translate}}</a>
            <a class="link-btn link-btn-danger rounded" (click)="logout()">{{'App.UserPopup.SignOut' | translate}}</a>
          </div>
        </ng-template>

        <div class="hstack gap-1">
          <button *ngIf="accountService.currentAccountValue"
                  class="btn btn-icon d-flex align-items-center"
                  container="body"
                  placement="bottom-right"
                  [ngbPopover]="userPopContent"
                  type="button">
            <ng-icon name="bootstrap-person" size="1.4rem"></ng-icon>
          </button>
        </div>
      </div>
    </nav>
    <div class="position-relative">
      <div *ngIf="loading$ | async">
        <div class="progress position-fixed fixed-top" style="margin-top: 3.6rem">
          <div class="progress-bar indeterminate-front" role="progressbar"></div>
        </div>
        <div class="progress position-fixed fixed-top bg-transparent" style="margin-top: 3.6rem">
          <div class="progress-bar indeterminate-back" role="progressbar"></div>
        </div>
      </div>
      <div class="d-lg-grid container-xxl" style="grid-template-areas: 'sidebar main'; grid-template-columns: auto 1fr">
        <aside #sidebar class="sidebar d-block overflow-y-auto position-sticky"
               [class.d-none]="disableSidebar || !accountService.currentAccountValue">
          <div id="sidebar" class="offcanvas-lg offcanvas-start" tabindex="-1">
            <div class="offcanvas-header" style="height: 3.6rem">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{'App.Sidebar.Navigation'|translate}}</h5>
              <button type="button" class="btn-close" aria-label="Close"
                      (click)="hideSidebar()"></button>
            </div>
            <div class="offcanvas-body user-select-none">
              <nav>
                <ul class="list-unstyled mt-2">
                  <li>
                    <ul class="list-unstyled pb-2 ps-3 small">
                      <li class="pb-2">
                        <a class="link-btn rounded" [class.active]="isActive('/dashboard')" (click)="navigateTo('/dashboard')">{{'App.Sidebar.Dashboard' | translate}}</a>
                      </li>
                      <li class="pb-2">
                        <a class="link-btn rounded" [class.active]="isActive('/announcements')" (click)="navigateTo('/announcements')">{{'App.Sidebar.Announcements' | translate}}</a>
                      </li>
                      <li class="pb-2">
                        <a class="link-btn rounded" [class.active]="isActive('/import')" (click)="navigateTo('/import')">{{'App.Sidebar.Import' | translate}}</a>
                      </li>
  <!--                    <li class="pb-2">-->
  <!--                      <a class="link-btn rounded" target="_blank"-->
  <!--                         href="https://status.naominet.live/status/aquaserver">{{'App.Sidebar.Status' | translate}}</a>-->
  <!--                    </li>-->
                    </ul>
                  </li>
                  <li *ngIf="menuService.showMenu('ongeki', userService.currentUser)">
                    <div class="d-flex mb-2 ps-1 gap-2">
                      <div>
                        <svg width="1em" height="1em" fill="currentColor" viewBox="0 0 1024 1024">
                          <use href="assets/ongeki.svg#icon"/>
                        </svg>
                      </div>
                      <strong class="w-100 fw-semibold">{{'Common.Ongeki' | translate}}</strong>
                    </div>
                    <ul class="list-unstyled pb-2 ps-3 small">
                      <ng-container *ngFor="let item of menuService.menu.get('ongeki')">
                        <li *ngIf="menuService.showItem('ongeki', item, userService.currentUser)" class="pb-2">
                          <a class="link-btn rounded" [class.active]="isActive(item.url)" (click)="navigateTo(item.url)">{{('App.Sidebar.' + item.name) | translate}}</a>
                        </li>
                      </ng-container>
                    </ul>
                  </li>
                  <li *ngIf="menuService.showMenu('chusan', userService.currentUser)">
                    <div class="d-flex mb-2 ps-1 gap-2">
                      <div>
                        <svg width="1em" height="1em" fill="currentColor" viewBox="0 0 1024 1024">
                          <use href="assets/chunithm.svg#icon"/>
                        </svg>
                      </div>
                      <strong class="w-100 fw-semibold">{{'Common.ChuniV2' | translate}}</strong>
                    </div>
                    <ul class="list-unstyled pb-2 ps-3 small">
                      <ng-container *ngFor="let item of menuService.menu.get('chusan')">
                        <li *ngIf="menuService.showItem('chusan', item, userService.currentUser)" class="pb-2">
                          <a class="link-btn rounded" [class.active]="isActive(item.url)" (click)="navigateTo(item.url)">{{('App.Sidebar.' + item.name) | translate}}</a>
                        </li>
                      </ng-container>
                      <li class="pb-2">
                        <a class="link-btn rounded" href="https://chu3-match.sega.ink/rooms" target="_blank">{{('App.Sidebar.OnlineBattle') | translate}}</a>
                      </li>
                    </ul>
                  </li>
                  <li *ngIf="menuService.showMenu('maimai2', userService.currentUser)">
                    <div class="d-flex mb-2 ps-1 gap-2">
                      <div>
                        <svg width="1em" height="1em" fill="currentColor" viewBox="0 0 1024 1024">
                          <use href="assets/mai2.svg#icon"/>
                        </svg>
                      </div>
                      <strong class="w-100 fw-semibold">{{'Common.Mai2' | translate}}</strong>
                    </div>
                    <ul class="list-unstyled pb-2 ps-3 small">
                      <ng-container *ngFor="let item of menuService.menu.get('maimai2')">
                        <li *ngIf="menuService.showItem('maimai2', item, userService.currentUser)" class="pb-2">
                          <a class="link-btn rounded" [class.active]="isActive(item.url)" (click)="navigateTo(item.url)">{{('App.Sidebar.' + item.name) | translate}}</a>
                        </li>
                      </ng-container>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </aside>
        <main class="order-1 ms-0 ms-lg-3 me-lg-2" style="grid-area: main;margin-top: 4.6rem">
          <div>
            <router-outlet></router-outlet>
          </div>
        </main>
      </div>
      <app-toasts aria-live="polite" aria-atomic="true" style="margin-top: 3.6rem"></app-toasts>
    </div>
  </div>

  <footer class="footer container-xxl mb-2">
    <hr class="m-0 pt-2">
    <div class="d-flex justify-content-between flex-wrap px-2 px-lg-3 py-3 column-gap-3">
      <div class="row fw-bold my-2">
        <div class="col-auto" ngbDropdown>
          <a class="d-flex align-items-center" ngbDropdownToggle>
            <ng-icon name="bootstrap-translate"></ng-icon>
            <span class="ms-1">{{languageService.languages.get(languageService.getCurrentLang())}}</span>
          </a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <ng-container *ngFor="let key of languageService.languageKeys">
              <button ngbDropdownItem class="small my-1"
              [class.active]="languageService.getCurrentLang() == key"
              (click)="languageService.setLang(key)">{{languageService.languages.get(key)}}</button>
            </ng-container>
          </div>
        </div>

        <div class="col-auto" ngbDropdown >
          <a class="d-flex align-items-center" ngbDropdownToggle>
            <ng-container [ngSwitch]="themeService.getTheme()">
              <ng-icon *ngSwitchCase="'auto'" name="bootstrap-circle-half"></ng-icon>
              <ng-icon *ngSwitchCase="'light'" name="bootstrap-sun"></ng-icon>
              <ng-icon *ngSwitchCase="'dark'" name="bootstrap-stars"></ng-icon>
            </ng-container>
            <span class="ms-1">{{("App.Footer." + (themeService.getTheme() | titlecase)) | translate}}</span>
          </a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <ng-container *ngFor="let item of themes">
              <button ngbDropdownItem class="small my-1"
              [class.active]="themeService.getTheme() == item.toLowerCase()"
              (click)="themeService.setTheme(item.toLowerCase())">{{('App.Footer.' + item) | translate}}</button>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-auto">
          <a target="_blank" href="https://status.naominet.live/status/aquaserver">{{"App.Footer.Status" | translate}}</a>
          <a class="ms-4" target="_blank" href="https://github.com/RinNET-OpenSource/aqua_viewer">Github</a>
        </div>
        <div class="col-auto" [innerHTML]="'App.Footer.Licence' | translate"></div>
        <div class="col-auto">
          <a routerLink="contributors">{{"App.Footer.Contributors" | translate}}</a>
        </div>
        <div class="col-auto">{{"App.Footer.Copyright" | translate}}</div>
      </div>
    </div>
  </footer>
</div>
