.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-brand {
  user-select: none;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.sidenav {
  flex: 1;
  height: auto;
}

mat-sidenav {
  min-width: 200px;
}

mat-toolbar {
  z-index: 999;
}

.content {
  background-origin: content-box;
  height: auto;
  overflow-y: visible;
  width: 92%;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 30px;
  margin: auto;
}

.content .padding {
  padding-top: 4px;
}

.bg {
  transition-duration: .218s;
  transition-property: background;
  transition-timing-function: ease-in;
}

.dark {
  background-color: #202124;
}

.hide {
  display: none;
}

.sidebar-item-link {
  padding: .3rem .5rem;
  color: var(--bs-body-color);
  text-decoration: none;
  cursor: pointer;
}

.sidebar-item-link:hover,
.sidebar-item-link.active {
  color: #FFF;
  background-color: var(--bs-primary);
}

.sidebar-item-link.active {
  font-weight: bold;
}

@media only screen and (max-width: 599px) {
  .content {
    background-origin: content-box;
    height: auto;
    overflow-y: visible;
    width: 96%;
    box-sizing: border-box;
    padding: 15px;
    margin: auto;
  }
}

.sidebar {
  grid-area: sidebar;
  min-width: 15rem;
  top: 3.6rem;
  z-index: 1000
}

@media (min-width: 992px) {
  .sidebar {
    min-width: 15rem;
    top: 4.1rem;
    height: calc(100vh - 3.6rem - 1rem);
  }
}

@font-face {
  font-family: SEGA_Humming;
  src: url("../assets/fonts/SEGA_Humming v2-B.ttf") format("truetype");
}
