<div class="container pt-2 pt-sm-4 px-3 px-sm-5">
  <div class="my-3">
    <h4 class="fw-semibold">{{'HomePage.SignUpModal.Title' | translate}}</h4>
  </div>
  <form  [formGroup]="signUpForm">
    <div class="d-grid gap-2">
      <div class="position-relative">
        <label for="name" class="form-label small">{{'HomePage.SignUpModal.Nickname' | translate}}</label>
        <input type="text" class="form-control form-control-sm" id="name" formControlName="name" placeholder=""
               [class.is-invalid]="name.touched && !name.valid && name.errors">
        <div *ngIf="name.errors" class="invalid-tooltip">
          <div *ngIf="name.errors.required">{{'HomePage.SignUpModal.NicknameErrors.Required' | translate}}</div>
          <div *ngIf="name.errors.minlength">{{'HomePage.SignUpModal.NicknameErrors.Minlength' | translate}}</div>
          <div *ngIf="name.errors.maxlength">{{'HomePage.SignUpModal.NicknameErrors.Maxlength' | translate}}</div>
        </div>
      </div>

      <div>
        <label for="username" class="form-label small">{{'HomePage.SignUpModal.Username' | translate}}</label>
        <div class="input-group input-group-sm has-validation">
          <input type="text" class="form-control form-control-sm" id="userName" formControlName="username"
                 placeholder=""
                 [class.is-invalid]="username.touched && !username.valid && username.errors">
          <div *ngIf="username.errors" class="invalid-tooltip">
            <div *ngIf="username.errors.required">{{'HomePage.SignUpModal.UsernameErrors.Required' | translate}}</div>
            <div *ngIf="username.errors.minlength">{{'HomePage.SignUpModal.UsernameErrors.Minlength' | translate}}</div>
            <div *ngIf="username.errors.maxlength">{{'HomePage.SignUpModal.UsernameErrors.Maxlength' | translate}}</div>
            <div *ngIf="username.errors.pattern">{{'HomePage.SignUpModal.UsernameErrors.Pattern' | translate}}</div>
          </div>
          <button class="btn btn-outline-secondary input-group-btn" type="button" (click)="checkUsername()">{{'HomePage.SignUpModal.Check' | translate}}</button>
        </div>
      </div>

      <div>
        <label for="email" class="form-label small">{{'HomePage.SignUpModal.EmailAddress' | translate}}</label>
        <div class="input-group input-group-sm has-validation">
          <input type="email" class="form-control form-control-sm" id="email" formControlName="email"
                 placeholder=""
                 [class.is-invalid]="email.touched && !email.valid && email.errors">
          <div *ngIf="email.errors" class="invalid-tooltip">
            <div *ngIf="email.errors.required">{{'HomePage.SignUpModal.EmailErrors.Required' | translate}}</div>
            <div *ngIf="email.errors.maxlength">{{'HomePage.SignUpModal.EmailErrors.Maxlength' | translate}}</div>
            <div *ngIf="email.errors.email">{{'HomePage.SignUpModal.EmailErrors.Email' | translate}}</div>
          </div>
          <button class="btn btn-outline-secondary input-group-btn" type="button" (click)="checkEmail()">{{'HomePage.SignUpModal.Check' | translate}}</button>
        </div>
      </div>

      <div>
        <label for="verifyCode" class="form-label small">{{'HomePage.SignUpModal.VerificationCode' | translate}}</label>
        <div class="input-group input-group-sm has-validation">
          <input type="text" class="form-control form-control-sm" id="verifyCode" formControlName="verifyCode"
                 placeholder=""
                 [class.is-invalid]="verifyCode.touched && !verifyCode.valid && verifyCode.errors">
          <div *ngIf="verifyCode.errors" class="invalid-tooltip">
            <div *ngIf="verifyCode.errors.required">{{'HomePage.SignUpModal.VerificationCodeErrors.Required' | translate}}</div>
            <div *ngIf="verifyCode.errors.minlength">{{'HomePage.SignUpModal.VerificationCodeErrors.Length' | translate}}</div>
            <div *ngIf="verifyCode.errors.maxlength">{{'HomePage.SignUpModal.VerificationCodeErrors.Length' | translate}}</div>
          </div>
          <button class="btn btn-outline-secondary input-group-btn" type="button" (click)="getVerifyCode()" [disabled]="isButtonDisabled">
            {{ isButtonDisabled ? remainingTime : ('HomePage.SignUpModal.Send' | translate) }}
          </button>
        </div>
      </div>

      <div>
        <label for="password" class="form-label small">{{'HomePage.SignUpModal.Password' | translate}}</label>
        <div class="input-group input-group-sm has-validation">
          <input type="password" class="form-control form-control-sm" id="password" formControlName="password"
                 placeholder=""
                 [class.is-invalid]="password.touched && !password.valid && password.errors">
          <div *ngIf="password.errors" class="invalid-tooltip">
            <div *ngIf="password.errors.required">{{'HomePage.SignUpModal.PasswordErrors.Required' | translate}}</div>
            <div *ngIf="password.errors.minlength">{{'HomePage.SignUpModal.PasswordErrors.Minlength' | translate}}</div>
            <div *ngIf="password.errors.maxlength">{{'HomePage.SignUpModal.PasswordErrors.Maxlength' | translate}}</div>
          </div>
        </div>
      </div>
      <div>
        <label for="confirmPassword" class="form-label small">{{'HomePage.SignUpModal.ConfirmPassword' | translate}}</label>
        <div class="input-group input-group-sm has-validation">
          <input type="password" class="form-control form-control-sm" id="confirmPassword"
                 formControlName="confirmPassword"
                 placeholder=""
                 [class.is-invalid]="confirmPassword.touched && signUpForm.hasError('notSame') && !password.errors">
          <div *ngIf="confirmPassword.touched && signUpForm.hasError('notSame') && !password.errors" class="invalid-tooltip">
            <div>{{'HomePage.SignUpModal.PasswordErrors.Confirm' | translate}}</div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-sm mt-4" (click)="onSubmit()">{{'HomePage.SignUpModal.SignUp' | translate}}</button>
    </div>
  </form>
</div>
