<div class="container pt-2 pt-sm-4 px-3 px-sm-5">
  <div class="my-3">
    <h4 class="fw-semibold">Sign up to RinNET</h4>
  </div>
  <form  [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="d-grid gap-2">
      <div class="position-relative">
        <label for="name" class="form-label small">Name</label>
        <input type="text" class="form-control form-control-sm" id="name" formControlName="name" placeholder=""
               [class.is-invalid]="name.touched && !name.valid && name.errors">
      </div>
      <div>
        <label for="username" class="form-label small">User name</label>
        <input type="text" class="form-control form-control-sm" id="userName" formControlName="username"
               placeholder=""
               [class.is-invalid]="username.touched && !username.valid && username.errors">
      </div>
      <div>
        <label for="email" class="form-label small">Email address</label>
        <input type="email" class="form-control form-control-sm" id="email" formControlName="email"
               placeholder=""
               [class.is-invalid]="email.touched && !email.valid && email.errors">
      </div>
      <div>
        <label for="password" class="form-label small">Password</label>
        <input type="password" class="form-control form-control-sm" id="password" formControlName="password"
               placeholder=""
               [class.is-invalid]="password.touched && !password.valid && password.errors">
      </div>
      <div>
        <label for="confirmPassword" class="form-label small">Confirm password</label>
        <input type="password" class="form-control form-control-sm" id="confirmPassword"
               formControlName="confirmPassword"
               placeholder=""
               [class.is-invalid]="confirmPassword.touched && signUpForm.hasError('notSame')">
      </div>
      <button type="submit" class="btn btn-primary btn-sm mt-4" [class.disabled]="signUpForm.disabled">Sign up</button>
    </div>
  </form>
</div>
