<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          {{ 'OAuth.Github.githubLogin' | translate }}
        </div>
        <div *ngIf="popupStatus === 0" class="card-body">
          <p class="card-text">{{ 'OAuth.Github.githubLoginProcessing' | translate }}</p>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="spinner-border" role="status"></div>
            <span class="mt-2">{{ 'OAuth.Github.loading' | translate }}</span>
          </div>
        </div>
        <div *ngIf="popupStatus == 1">
          <app-sign-up (registrationComplete)="handleRegisterationComplete()"></app-sign-up>
          <div class="container pt-2 px-3 px-sm-5">
            <div class="text-center d-grid gap-2">
              <button type="button" class="btn btn-secondary btn-sm mb-4" (click)="handleOneClickRegister()">
                {{'OAuth.Github.OneClickRegisterGithub' | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
