<h1 class="page-heading">{{'Ongeki.MusicRankingPage.Title' | translate}}</h1>

<table class="table table-hover">
  <colgroup>
    <col style="width: 2rem;">
    <col style="width: auto;">
    <col style="width: min-content;">
  </colgroup>
  <tbody>
  <tr class="ranking-row" *ngFor="let item of ongekiGameRankings; let i = index" (click)="item.music?showDetail(item.music):undefined">
    <th class="text-end" scope="row" [ngSwitch]="i">
      <img *ngSwitchCase="0" class="medal" src="{{host}}assets/gold-medal.svg" alt="">
      <img *ngSwitchCase="1" class="medal" src="{{host}}assets/silver-medal.svg" alt="">
      <img *ngSwitchCase="2" class="medal" src="{{host}}assets/bronze-medal.svg" alt="">
      <span class="ranking-text" *ngSwitchDefault>{{ item.ranking}}.</span>
    </th>
    <td>
      <div class="row align-items-center g-2">
        <div class="col-auto">
          <img class="ranking-item-icon" [class.ranking-item-icon-xl]="i == 0" [class.ranking-item-icon-lg]="i == 1 || i == 2" src="{{host}}assets/ongeki/jacket/UI_Jacket_{{(item.music?.id ?? 0) | formatNumber:4}}.webp">
        </div>
        <div class="col text-truncate" [class.fw-bold]="i == 0 || i == 1 || i == 2">
          {{item.music?.name??"？？？"}}
        </div>
      </div>
    </td>
    <td class="text-nowrap text-end">
      <div class="d-flex align-items-center justify-content-end gap-2">
        {{item.playCount}}
        <ng-container [ngSwitch]="item.state">
          <ng-icon *ngSwitchCase="1" style="color: deepskyblue;" name="bootstrap-chevron-up"></ng-icon>
          <ng-icon *ngSwitchCase="-1" style="color: red;" name="bootstrap-chevron-down"></ng-icon>
          <ng-icon *ngSwitchCase="0" name="bootstrap-dash-lg"></ng-icon>
        </ng-container>
      </div>
    </td>
  </tr>
  </tbody>
</table>
