img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.selected {
  border: 1px solid rgba(255, 255, 255) !important;
}

.row > div {
  box-sizing: border-box;
  padding: 1%;
  border-radius: 10px;
  border: 1px solid transparent;
}
