  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Change Item</h2>
        <div *ngIf="enableImages == true" class="card">
          <div *ngIf="data.itemKind == 1" cols="5" rowHeight="200px">
              <div *ngFor="let item of iList" (click)="data.itemId = item.itemId"  [ngClass]="{'selected':data.itemId == item.itemId}">
                <img src="{{host}}assets/chuni/namePlate/CHU_UI_NamePlate_{{item.itemId|formatNumber:8}}.png">
                <span>{{item.name}}</span>
              </div>
          </div>

          <div *ngIf="data.itemKind == 8" cols="8" rowHeight="200px">
              <div *ngFor="let item of iList" (click)="data.itemId = item.itemId"  [ngClass]="{'selected':data.itemId == item.itemId}">
                <img src="{{host}}assets/chuni/mapIcon/CHU_UI_MapIcon_{{item.itemId|formatNumber:8}}.png">
                <mat-grid-tile-footer>{{item.name}}</mat-grid-tile-footer>
              </div>
          </div>

          <div *ngIf="data.itemKind == 9" cols="6" rowHeight="200px">
              <div *ngFor="let item of iList" (click)="data.itemId = item.itemId"  [ngClass]="{'selected':data.itemId == item.itemId}">
                <img src="{{host}}assets/chuni/systemVoice/CHU_UI_SystemVoice_{{item.itemId|formatNumber:8}}.png">
                <mat-grid-tile-footer>{{item.name}}</mat-grid-tile-footer>
              </div>
          </div>

          <div *ngIf="data.itemKind == 11" cols="8" rowHeight="200px">
              <div *ngFor="let item of iList" (click)="data.itemId = item.itemId"  [ngClass]="{'selected':data.itemId == item.itemId}">
                <img src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Icon_{{item.itemId|formatNumber:8}}.png">
                <mat-grid-tile-footer>{{item.name}}</mat-grid-tile-footer>
              </div>
          </div>

          <div *ngIf="data.itemKind == 3 || data.itemKind == 2" style="min-width:20rem;">
            <mat-select [(ngModel)]="data.itemId">
              <mat-option *ngFor="let item of iList" [value]="item.itemId">{{item.name}}</mat-option>
            </mat-select>
          </div>
        </div>

<!--        <mat-form-field *ngIf="enableImages == false" style="min-width:20rem;">-->
<!--          <mat-select [(ngModel)]="data.itemId">-->
<!--            <mat-option *ngFor="let item in iList" [value]="item.itemId">{{item.name}}</mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
