@import "src/styles/public.ranking";

.nav-pills {
  border-radius: 10px;
  background-color: var(--bs-secondary-bg);
  width: fit-content;

  .nav-item {
    border-radius: 10px;
    .active {
      border-radius: 10px;
      margin: 0.3rem;
      background-color: var(--bs-tertiary-bg);
      color: var(--bs-dark-rgb);
    }
    a {
      border-radius: 10px;
      margin: 0.3rem;
      color: var(--bs-dark-rgb);
    }
  }
}

