<h1 class="page-heading">{{'Ongeki.UserRankingPage.Title' | translate}}</h1>
<div class="row mb-2 g-1">
  <div class="col-12 col-sm">
    <div class="row justify-content-start align-items-center g-1">
      <div class="col-auto">
        <button class="tab-selector" [class.tab-selector-active]="type === RankingType.RATING" [routerLink]="[]" [queryParams]="{type: RankingType.RATING.toLowerCase()}">{{'Ongeki.UserRankingPage.Rating' | translate}}</button>
      </div>
      <div class="col-auto">
        <button class="tab-selector" [class.tab-selector-active]="type === RankingType.ACTIVITY" [routerLink]="[]" [queryParams]="{type: RankingType.ACTIVITY.toLowerCase()}">{{'Ongeki.UserRankingPage.Activity' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="type === RankingType.RATING">
  <table class="table table-hover">
    <colgroup>
      <col style="width: 2rem;">
      <col style="width: auto;">
    </colgroup>
    <tbody>
    <tr class="ranking-row" *ngFor="let item of ongekiUserRankings; let i = index">
      <th class="text-end" scope="row" [ngSwitch]="i">
        <img *ngSwitchCase="0" class="medal" src="{{host}}assets/gold-medal.svg" alt="">
        <img *ngSwitchCase="1" class="medal" src="{{host}}assets/silver-medal.svg" alt="">
        <img *ngSwitchCase="2" class="medal" src="{{host}}assets/bronze-medal.svg" alt="">
        <span class="ranking-text" *ngSwitchDefault>
            {{ item.ranking}}.
        </span>
      </th>
      <td>
        <div class="d-flex align-items-center">
          <img class="ranking-item-icon me-2" [class.ranking-item-icon-xl]="i == 0" [class.ranking-item-icon-lg]="i == 1 || i == 2" src="{{host}}/assets/ongeki/card-icon/UI_Card_Icon_{{item.cardId}}.webp">
          <div>
            <div [class.fw-bold]="i == 0 || i == 1 || i == 2">{{ item.userName | fullWidth }}</div>
            <div><span>{{ item.nowRating.toFixed(3) }}</span><span class="ms-1 text-secondary small">(Max: {{item.highestRating.toFixed(3)}})</span></div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</ng-container>

<ng-container *ngIf="type === RankingType.ACTIVITY">
  <div class="hstack alert alert-info" role="alert">
    <ng-icon class="me-2" name="bootstrap-info-circle-fill"></ng-icon>
    每天24:00统计当天游玩乐曲数。
  </div>
  <table class="table table-hover">
    <colgroup>
      <col style="width: 2rem;">
      <col style="width: auto;">
    </colgroup>
    <tbody>
    <tr class="ranking-row" *ngFor="let item of OngekiPcRankings; let i = index">
      <th class="text-end" scope="row" [ngSwitch]="i">
        <img *ngSwitchCase="0" class="medal" src="{{host}}assets/gold-medal.svg" alt="">
        <img *ngSwitchCase="1" class="medal" src="{{host}}assets/silver-medal.svg" alt="">
        <img *ngSwitchCase="2" class="medal" src="{{host}}assets/bronze-medal.svg" alt="">
        <span class="ranking-text" *ngSwitchDefault>
            {{ i + 1 }}.
        </span>
      </th>
      <td>
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <img class="ranking-item-icon me-2" [class.ranking-item-icon-xl]="i == 0" [class.ranking-item-icon-lg]="i == 1 || i == 2" src="{{host}}/assets/ongeki/card-icon/UI_Card_Icon_{{item.cardId}}.webp">
            <div [class.fw-bold]="i == 0 || i == 1 || i == 2">{{ item.username | fullWidth }}</div>
          </div>
          <div><span>{{ item.pc }}</span></div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</ng-container>
