<h1 class="page-heading">Character</h1>

<ng-template #pagination>
  <pagination-template *ngIf="true" #p="paginationApi" class="user-select-none" id="server" maxSize="7"
                       style="cursor: default"
                       (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)">
    <ul class="pagination pagination-sm justify-content-center mb-2">
      <li class="page-item" [class.disabled]="p.isFirstPage()">
        <a class="page-link" (click)="p.previous()">&nbsp;<&nbsp;</a>
      </li>
      <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value" class="page-item">
        <a *ngIf="p.getCurrent() == page.value" class="page-link">{{ page.label }}</a>
        <a *ngIf="p.getCurrent() != page.value" (click)="p.setCurrent(page.value)"
           class="page-link">{{ page.label }}</a>
      </li>
      <li class="page-item" [class.disabled]="p.isLastPage()">
        <a class="page-link" (click)="p.next()">&nbsp;>&nbsp;</a>
      </li>
    </ul>
  </pagination-template>
</ng-template>
<ng-container *ngTemplateOutlet="pagination;"></ng-container>
<!--<input type="text" #search class="form-control mb-2" (input)="filterCharacter(search.value)">-->

<div class="container col-12 px-1">
  <div class="row">
    <div
      class="card row character-card row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4"
      *ngFor="let item of characters | async | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalElements }"
    >
      <img
        class="character-img"
        src="{{host}}assets/chuni/chara/CHU_UI_Character_{{item.characterId|characterImage}}_00.webp"
        alt=""
        (error)="handleErrorImg($event)"
        (click)="levelUp(item.characterId, item.level)"
      >
      <p class="character-title text-truncate">{{item.characterInfo ? item.characterInfo.name : 'ID:' + item.characterId}}</p>
      <section class="character-message text-truncate">
        <span
          class="badge rounded-pill"
          [ngClass]="{
            'advanced': item.level > 20 && item.level <= 40,
            'expert': item.level > 40 && item.level <= 60,
            'master': item.level > 60 && item.level <= 80,
            'lunatic': item.level > 80,
          }"
        >Level {{item.level}}</span>
        <span class="badge rounded-pill">Play Count {{item.playCount}}</span>
      </section>
    </div>
  </div>
</div>

<ng-container *ngTemplateOutlet="pagination;"></ng-container>
