.character-card {
  user-select: none;

  .character-img {
    width: 100%;
    aspect-ratio: 1;
  }

  .character-title {
    font-size: small;
    text-align: center;
  }

  .character-message {
    width: 80%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;

    &>span {
      background: var(--bs-tertiary-color);
      border: 1px solid #381C47;
      color: white;
      &:nth-child(2) {
        background: var(--bs-primary-border-subtle);
      }
    }
  }
}

.image-switch{
  user-select: none;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.marquee {
  overflow: hidden;
  text-overflow: fade;
  text-wrap: nowrap;
}

.marquee .marquee-wrap {
  width: 100%;
  transform: translateX(0);
}

.marquee .marquee-content {
  transform: translateX(0);
}

.character-card:hover .marquee .marquee-wrap {
  animation: marquee-wrap 4s infinite linear;
}

.marquee .marquee-content {
  float: left;
  white-space: nowrap;
  min-width: 100%;
}

.character-card:hover .marquee .marquee-content {
  animation: marquee-content 4s infinite linear;
}

@keyframes marquee-wrap {
  0%,
  30% {
    transform: translateX(0);
  }
  70%,
  100% {
    transform: translateX(100%);
  }
}

@keyframes marquee-content {
  0%,
  30% {
    transform: translateX(0);
  }
  70%,
  100% {
    transform: translateX(-100%);
  }
}
