.character-display {
  display: flex;
  flex-direction: column;
}

.character-display .image img {
  width: 100%;
}

.top-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-image img {
  display: block;
  width: 80%;
}
