.btns {
  display: flex;
  justify-content: space-between;
  gap: 0.4rem;
  flex-wrap: wrap;

  button {
    width: 2rem !important;
    height: 2rem !important;
  }

  &:after {
    content: "";
    flex: auto;
  }
}
