<h1 class="page-heading">撰写公告</h1>
<ng-container *ngIf="announcement">
  <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
    <ng-container>
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="zh-tab" data-bs-toggle="tab" data-bs-target="#zh-tab-pane" type="button"
                role="tab" aria-controls="zh-tab-pane" aria-selected="true">简体中文
        </button>
      </li>
      <ng-container *ngFor="let trans of announcement.translations">
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="{{trans.language}}-tab" data-bs-toggle="tab"
                  [attr.data-bs-target]="'#' + trans.language + '-tab-pane'" type="button" role="tab"
                  [attr.aria-controls]="trans.language + '-tab-pane'" aria-selected="false">
            {{ language.languages.get(trans.language) }}
          </button>
        </li>
      </ng-container>
    </ng-container>
  </ul>
  <div class="tab-content" id="myTabContent">
    <ng-container>
      <div class="tab-pane show active" id="zh-tab-pane" role="tabpanel" aria-labelledby="zh-tab" tabindex="0">
        <input class="form-control mb-3" placeholder="标题" [(ngModel)]="announcement.title">
        <textarea class="form-control announcement-content mb-3" placeholder="内容"
                  [(ngModel)]="announcement.content"></textarea>
      </div>
      <ng-container *ngFor="let trans of announcement.translations">
        <div class="tab-pane" id="{{trans.language}}-tab-pane" role="tabpanel"
             [attr.aria-labelledby]="trans.language + '-tab'" tabindex="0">
          <input class="form-control mb-3" placeholder="Title" [(ngModel)]="trans.translatedTitle">
          <textarea class="form-control announcement-content mb-3" placeholder="Content"
                    [(ngModel)]="trans.translatedContent"></textarea>
        </div>
      </ng-container>
      <select class="form-select mb-3" [(ngModel)]="announcement.type">
        <option value="{{announcementType.GENERAL}}" selected>一般</option>
        <option value="{{announcementType.MAINTENANCE}}">维护</option>
        <option value="{{announcementType.UPDATE}}">更新</option>
        <option value="{{announcementType.EVENT}}">活动</option>
        <option value="{{announcementType.TUTORIAL}}">教程</option>
        <option value="{{announcementType.OTHER}}">其它</option>
      </select>
      <select class="form-select mb-3" [(ngModel)]="announcement.priority">
        <option value="0" selected>不置顶</option>
        <option value="1">重要</option>
        <option value="2">置顶</option>
      </select>
      <div class="d-flex gap-2 mb-3">
        <button class="btn btn-primary btn-sm"
                (click)="showPreview(announcement.getLocalTitle(activeTab), announcement.getLocalContent(activeTab))">快速预览
        </button>
        <button class="btn btn-primary btn-sm" (click)="post(AnnouncementStatus.DRAFT)">保存草稿</button>
        <button class="btn btn-primary btn-sm" (click)="post(AnnouncementStatus.ACTIVE)">发布公告</button>
        <button class="btn btn-danger btn-sm" (click)="post(AnnouncementStatus.EXPIRED)">设为过期</button>
      </div>
    </ng-container>
  </div>
</ng-container>
