.level-container{
  bottom: 0;
  --bs-aspect-ratio: 40.2985074626866%;
  background-size: 100% 100%;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.level-container .level-number{
  height:60%;
  margin-top: 3%;
}
.level-container .level-header{
  height: 50%;
  padding: 0;
  margin-top: 8%;
  margin-left: -5%;
}
