<h1 class="page-heading">{{'Ongeki.RecentPage.Title' | translate}}</h1>

<ng-template #pagination>
  <pagination-template *ngIf="!loading" #p="paginationApi" class="user-select-none" id="server" maxSize="7"
                       style="cursor: default"
                       (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)">
    <ul class="pagination pagination-sm justify-content-center m-0">
      <li class="page-item" [class.disabled]="p.isFirstPage()">
        <a class="page-link" (click)="p.previous()">&nbsp;<&nbsp;</a>
      </li>
      <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value" class="page-item">
        <a *ngIf="p.getCurrent() == page.value" class="page-link">{{ page.label }}</a>
        <a *ngIf="p.getCurrent() != page.value" (click)="p.setCurrent(page.value)"
           class="page-link">{{ page.label }}</a>
      </li>
      <li class="page-item" [class.disabled]="p.isLastPage()">
        <a class="page-link" (click)="p.next()">&nbsp;>&nbsp;</a>
      </li>
    </ul>
  </pagination-template>
</ng-template>
<ng-container *ngTemplateOutlet="pagination;"></ng-container>
<div *ngIf="recent" class="list-group gap-3 my-3">
  <!--  placeholder-->
  <div *ngIf="loading" class="card placeholder-wave user-select-none" aria-hidden="true">
    <div class="card-header hstack gap-2" style="padding: 4px">
      <div class="ratio ratio-1x1" style="width: 96px;min-width: 96px">
        <span class="position-absolute placeholder"></span>
      </div>
      <div class="overflow-hidden">
        <div class="text-truncate fw-bold">
          <span class="placeholder" style="font-size: 18px;min-width: 192px"></span>
        </div>
        <div class="text-truncate ">
          <span class="placeholder" style="font-size: 12px;min-width: 128px"></span>
        </div>
        <div>
            <span class="align-middle placeholder"
                  style="font-size: 18px;min-width:80px;color: darkgray"></span>
        </div>
      </div>
    </div>
    <div class="card-body" style="padding-bottom: 0">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 col-lg-4 col-xl-6 col-xxl-5" style="margin-bottom: 5px">
          <div class="row text-nowrap" style="text-shadow: 1px 1px 1px #888888;margin: 3px">
            <div class="col-6 col-sm-3 col-md-6 col-xl-3 text-end">
              <!--BATTLE SCORE-->
              <div class="placeholder" style="width: 83px;height: 14px"></div>
              <div style="height: 27px">
                <span class="placeholder" style="font-size: 22px;min-width: 50px"></span>
                <span class="placeholder align-bottom" style="font-size: 16px;min-width: 36px"></span>
              </div>
              <!--OVER DAMAGE-->
              <div class="placeholder" style="width: 82px;height: 14px"></div>
              <div>
                <span class="placeholder" style="font-size: 22px;min-width: 37px"></span><span
                class="placeholder align-bottom" style="font-size: 16px;min-width: 34px"></span>
              </div>
            </div>
            <div class="col-6 col-sm-3 col-md-6 col-xl-3 align-items-center d-flex" style="">
              <span class="placeholder" style="height: 64px;width: 64px;border-radius: 50%"></span>
            </div>

            <div class="col-6 col-sm-3 col-md-6 col-xl-3 text-end">
              <!--TECHNICAL SCORE-->
              <div class="placeholder" style="width: 105px;height: 14px"></div>
              <div>
                <span class="placeholder" style="font-size: 22px;width: 37px"></span><span
                class="placeholder align-bottom" style="font-size: 16px;width: 36px"></span>
              </div>
              <!--RATING-->
              <div class="placeholder" style="width: 42px;height: 14px"></div>
              <div>
                <span class="placeholder" style="width: 56px;height: 27px"></span>
              </div>
            </div>
            <div class="col-6 col-sm-3 col-md-6 col-xl-3 align-items-center d-flex">
              <span class="placeholder" style="height: 64px;width: 100%;max-width: 106px"></span>
            </div>
          </div>
          <div class="row row-cols-2 align-items-center">
            <div class="col-6 col-sm-auto col-md-6 col-xl-auto text-end">
              <!--            {{item.isFullBell ? 'Full Bell' : ''}}-->
              <img src="{{host}}assets/ongeki/gameUi/UI_RES_Score_FB_Base.webp"
                   style="max-width: 128px" alt="">
            </div>
            <div class="col-6 col-sm-auto col-md-6 col-xl-auto text-start">
              <!--            {{item.isFullCombo ? 'Full Combo' : ''}}-->
              <img
                src="{{host}}assets/ongeki/gameUi/UI_RES_Score_FC_Base.webp"
                style="max-width: 128px" alt="">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-8 col-xl-6 col-xxl-7">
          <table class="table table-sm table-striped table-borderless align-middle"
                 style="min-width: 224px;text-shadow: 1px 1px 1px #222222;font-size: 14px;text-align: center;height: 100%">
            <tbody>
            <tr>
              <td style="color: palegoldenrod">&nbsp;</td>
              <td style="color: palegoldenrod">&nbsp;</td>
            </tr>
            <tr>
              <td style="color: palegoldenrod">&nbsp;</td>
              <td style="color: palegoldenrod">&nbsp;</td>
            </tr>
            <tr>
              <td style="color: palegoldenrod">&nbsp;</td>
              <td style="color: palegoldenrod">&nbsp;</td>
            </tr>
            <tr>
              <td style="color: palegoldenrod">&nbsp;</td>
              <td style="color: palegoldenrod">&nbsp;</td>
            </tr>
            <tr>
              <td style="color: palegoldenrod">&nbsp;</td>
              <td style="color: palegoldenrod">&nbsp;</td>
            </tr>
            <tr>
              <td style="color: palegoldenrod">&nbsp;</td>
              <td style="color: palegoldenrod">&nbsp;</td>
            </tr>
            <tr>
              <td style="color: palegoldenrod">&nbsp;</td>
              <td style="color: palegoldenrod">&nbsp;</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="card-footer bg-transparent text-end fw-bold">
      <span class="placeholder" style="width: 175px"></span>
    </div>
  </div>

  <!--  recent list-->
  <div
    *ngFor="let item of recent | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: currentPage, totalItems: totalElements }">
    <app-ongeki-recent-item [playLog]=item></app-ongeki-recent-item>

  </div>
</div>
<ng-container *ngTemplateOutlet="pagination;"></ng-container>
<div class="mb-3"></div>
