.song-header {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  justify-content: center;
  align-items: center;
}

.song-header img {
  width: 42px;
  height: 42px;
}

.song-header .level {
  margin-left: auto;
  font-size: 1.2em;
}

.song-info {
  margin-left: 4px;
  text-align: center;
}

.song-info .title {
  font-size: 1.2em;
}

.song-info .info {
  color: #cfcfcf;
}

.result-content {
  display: grid;
  grid-template-areas: "left right" "bottom right";
  grid-template-columns: 30% 70%;
}

.result-content .left {
  grid-area: left;
  min-width: 100%;
  margin: auto 15px auto auto;
}

.result-content .right {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  grid-area: right;
}

.title-area {
  display: grid;
  width: 100%;
}

.title-area .title {
  font-size: large;
  font-weight: bold;
}

.info-area {
  display: grid;
  width: 100%;
}

.score-area {
  display: grid;
  width: 100%;
  /*grid-template-columns: 1fr 1fr;*/
  grid-template-areas: "top" "bottom";
}

.battle-score-area {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-area: top;
}

.tech-score-area {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-area: bottom;
}

.score-area .score-element {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 5px;
  /*margin: auto;*/
}

.score-area .score-element .new {
  font-style: italic;
  font-size: smaller;
  color: gold;
}

.score-label {
  font-size: 0.8em;
  color: #cfcfcf;
}

.score-rank-icon {
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-rank-icon img {
  max-width: 60px;
  max-height: 60px;

}

.score-value {
  font-size: 1rem;
}

.result-content .bottom {
  grid-area: bottom;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.bottom .bottom-achievement-icon {
  margin: auto;
}

.battle-info {
  font-size: 0.8em;
  color: #cfcfcf;
}

.card-deck {
  display: flex;
}

.rival-info {
  margin-bottom: 10px;
}

.player-card {
  margin: 0 auto;
}

.player-card .player-card-header {
  display: flex;
}

.player-card-header .attack {
  margin-left: auto;
}

.player-card-image img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .result-content {
    /*grid-template-areas: "left right" "left bottom";*/
    grid-template-areas: "left" "bottom" "right";
    grid-template-columns: 100%;
  }

  .result-content.left {
    grid-template-areas: "title" "info" "battle tech";
    grid-template-columns: 50% 50%;
  }

  .info-area {
    text-align: center;
    grid-template-columns: 1fr;
    margin-bottom: 5px;
  }

  .title-area {
    text-align: center;
    grid-template-columns: 1fr;
    margin-bottom: 5px;
  }

  .title-area .title {
    font-size: xx-large;
    font-weight: bold;
  }

  .score-area {
    text-align: center;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "top bottom";
  }

  .score-area .score-element {
    margin-top: 5px;
    height: 100%;
    margin-bottom: 5px;
  }

  .score-rank-icon img {
    max-width: 42px;
    max-height: 42px;
  }

  .result-content .right {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    grid-area: right;
  }
}
