<div class="container pt-2 pt-sm-4 px-3 px-sm-5">
  <div class="my-3">
    <h4 class="fw-semibold">{{'HomePage.SignInModal.Title' | translate}}</h4>
  </div>
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <div class="d-grid gap-2">
      <div class="position-relative">
        <label for="usernameOrEmail" class="form-label small">{{'HomePage.SignInModal.UsernameOrEmail' | translate}}</label>
        <input type="text" class="form-control form-control-sm" id="usernameOrEmail"
               formControlName="usernameOrEmail" placeholder=""
               [class.is-invalid]="usernameOrEmail.touched && !usernameOrEmail.valid && usernameOrEmail.errors">
      </div>
      <div class="position-relative">
        <label for="password" class="form-label small">{{'HomePage.SignInModal.Password' | translate}}</label>
        <input type="password" class="form-control form-control-sm" id="password" formControlName="password"
               placeholder=""
               [class.is-invalid]="password.touched && !password.valid && password.errors">
      </div>
      <div class="text-end">
        <button type="button" class="btn btn-link text-decoration-none btn-sm" (click)="onForgotPassword.emit()">{{'HomePage.SignInModal.ResetPasswordTip' | translate}}</button>
      </div>
      <button type="submit" class="btn btn-primary btn-sm" [class.disabled]="signInForm.disabled">
        {{'HomePage.SignInModal.SignIn' | translate}}
      </button>
    </div>
  </form>
</div>
