.rating-card{
}
.jacket{
  width: 5.6rem;
  aspect-ratio: 1;
}

.difficulty {
  font-size: 12px;
}

.difficulty-basic {
  background: var(--bs-green);
}

.difficulty-advanced {
  background: var(--bs-yellow);
}

.difficulty-expert {
  background: var(--bs-red);
}

.difficulty-master {
  background: var(--bs-purple);
}

.difficulty-lunatic {
  background: #FFFFFF;
}
