.rating-info {
  font-size: 1.2em;
}

.battle-point-table {
  width: 100%;
  text-align: center;
}

.battle-point-table th {
  text-align: center;
}

.battle-point-table h3 {
  font-size: 20px;
  text-align: center;
}

.table img {
  width: 3rem;
  height: 3rem;
}

.battle-point-table td {
  max-width: 130px;
}

.music-img {
  width: 3rem;
}

.music-title {
  text-align: left;
}

@media only screen and (max-width: 599px) {

  .battle-point-table img {
    width: 18px;
    height: 18px;
  }
}
