.rating-card{
}
.jacket{
  width: 5.6rem;
  aspect-ratio: 1;
}

.difficulty {
  font-size: 12px;
}

.difficulty-basic {
  background: #2da060;
  border: 1px solid #145830;
  color: white;
}

.difficulty-advanced {
  background: #e6a047;
  border: 1px solid #995014;
  color: white;
}

.difficulty-expert {
  background: #e55353;
  border: 1px solid #7B1F18;
  color: white;
}

.difficulty-master {
  background: #9d5cb9;
  border: 1px solid #381C47;
  color: white;
}

.difficulty-lunatic {
  background: var(--bs-white);
  border: 1px solid var(--bs-danger);
  color: var(--bs-danger);
}
