.rating-card{
  min-width: 180px;
}
.jacket{
  width: 5.6rem;
  aspect-ratio: 1;
}

.new-jacket{
  width: 3.6rem;
  aspect-ratio: 1;
  border-top-left-radius: var(--bs-border-radius) !important;
}
@media (min-width:1400px){
  .col-xxl-{
    flex:0 0 auto;width:20%
  }
}
.difficulty {
  font-size: 0.7em;
}

.difficulty-basic {
  background: #2da060;
  border: 1px solid #145830;
  color: white;
}

.difficulty-advanced {
  background: #e6a047;
  border: 1px solid #995014;
  color: white;
}

.difficulty-expert {
  background: #e55353;
  border: 1px solid #7B1F18;
  color: white;
}

.difficulty-master {
  background: #9d5cb9;
  border: 1px solid #381C47;
  color: white;
}

.difficulty-lunatic {
  background: var(--bs-white);
  border: 1px solid var(--bs-danger);
  color: var(--bs-danger);
}

.honor-badge {
  aspect-ratio: 1;
  width: 28px;
}

.honor{
  height: 28px;
}

@media (max-width:400px){
  .row-cols-xxs-1>*{flex:0 0 auto;width:100%}
}
