.rating-info {
  font-size: 1.2em;
}

.jacket{
  width: 5.6rem;
  aspect-ratio: 1;
}

.difficulty {
  font-size: 12px;
}

.difficulty-basic {
  background: #2da060;
  border: 1px solid #145830;
  color: white;
}

.difficulty-advanced {
  background: #e6a047;
  border: 1px solid #995014;
  color: white;
}

.difficulty-expert {
  background: #e55353;
  border: 1px solid #7B1F18;
  color: white;
}

.difficulty-master {
  background: #933daa;
  border: 1px solid #381C47;
  color: white;
}

.difficulty-remaster {
  background: whitesmoke;
  border: 1px solid #381C47;
  color: #933daa;
}

.score-preview {
  background: #9d5cb9;
  border-radius: 1rem;
  color: white;
}

.your-maimai-rating-text{
  margin-right:3px;
}

.rank-icon {
    height: 2rem;
    width: auto
}

:host-context([data-bs-theme="light"]) .player-rating {
    color: #323232;
}

:host-context([data-bs-theme=dark]) .player-rating {
    color: #d2d2d2;
}