<h1 class="page-heading">{{ 'Maimai2.RatingPage.Title'|translate }}</h1>

<div class="card p-1 mt-3">
  <div class="row justify-content-between p-3 align-items-center" style="font-size: 1.25rem;">
    <span class="col-auto">
      Rating:
    </span>
    <span class="col-auto">
      <span class="player-rating" style="font-size: 0.75rem;">{{b35rating}}+{{b15rating}}=</span>{{ playerRating }}
    </span>
  </div>
</div>
<div class="card mt-3 mb-3">
  <div class="card-body">
    <span class="card-title" style="font-size: 1.25rem;">{{ 'Maimai2.RatingPage.ElevateRecommend'|translate }}</span>
    <div class="table-container d-block d-md-none">
      <table class="table table-striped" style="text-align: center;">
        <thead>
        <tr>
          <th></th>
          <th *ngFor="let i of [0, 1, 2, 3, 4]" style="font-weight: bold">
            {{ displayRatingTableHeader[i] != 0 ? displayRatingTableHeader[i] / 10 : " " }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of ['sp', 'ss', 'ssp', 'sss', 'sssp']; let rowIndex = index">
          <td>
            <img class="rank-icon" src="{{host}}assets/mai2/common/music_icon_{{i}}.webp">
          </td>
          <td *ngFor="let j of [0, 1, 2, 3, 4]">
            {{ getRatingInfoByBase(displayRatingTableHeader[j], rowIndex) }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="table-container d-none d-md-block">
      <table class="table table-striped" style="text-align: center;">
        <thead>
        <tr>
          <th></th>
          <th *ngFor="let i of ['sp', 'ss', 'ssp', 'sss', 'sssp']">
            <img class="rank-icon" src="{{host}}assets/mai2/common/music_icon_{{i}}.webp">
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of [0, 1, 2, 3, 4]">
          <td style="font-weight: bold">{{ displayRatingTableHeader[i] != 0 ? displayRatingTableHeader[i] / 10 : " " }}</td>
          <td *ngFor="let j of [0, 1, 2, 3, 4]">
            {{ getRatingInfoByBase(displayRatingTableHeader[i], j) }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="mb-3 d-flex align-items-center mt-3">
  <h2 class="mb-0">{{ 'Maimai2.RatingPage.B35'|translate }}</h2>
  <span class="badge bg-secondary text-bg-secondary rounded-pill ms-2">{{b35rating}}</span>
</div>

<div class="row mb-4 g-2">
  <ng-container *ngFor="let item of best35Rating; index as i">
    <ng-container *ngTemplateOutlet="record; context: {item: item, index: i}"></ng-container>
  </ng-container>
</div>

<div class="mb-3 d-flex align-items-center mt-3">
  <h2 class="mb-0">{{ 'Maimai2.RatingPage.B15'|translate }}</h2>
  <span class="badge bg-info text-bg-info rounded-pill ms-2">{{b15rating}}</span>
</div>

<div class="row mb-4 g-2">
  <ng-container *ngFor="let item of best15Rating; index as i">
    <ng-container *ngTemplateOutlet="record; context: {item: item, index: i}"></ng-container>
  </ng-container>
</div>

<ng-template #record let-index="index" let-item="item">
  <div class="col-12 col-md-6 col-xxl-4">
    <div class="card rating-card">
      <div class="hstack">
        <img
          class="jacket rounded-start"
          [src]="host + 'assets/mai2/jacket/UI_Jacket_' + getJacketId(item.musicId) + '.webp'"
          (error)="imgError($event)"
          #img alt="">
        <div *ngIf="item.musicId != 0" class="card-body overflow-hidden py-0 px-2">
          <div class="text-truncate fw-bold m-0"><span>#{{index + 1}}</span> {{item.musicName}}</div>
          <div class="text-truncate">{{item.score/10000 | number: '1.4-4'}}%</div>
          <div class="text-truncate small rating-score">
            <ng-container [ngSwitch]="item.level">
            <span *ngSwitchCase="0" class="difficulty-basic badge rounded-pill">
              Basic {{item.ratingBase/10.0|number:'1.1-1'}}
            </span>
              <span *ngSwitchCase="1" class="difficulty-advanced badge rounded-pill">
              Advanced {{item.ratingBase/10.0|number:'1.1-1'}}
            </span>
              <span *ngSwitchCase="2" class="difficulty-expert badge rounded-pill">
              Expert {{item.ratingBase/10.0|number:'1.1-1'}}
            </span>
              <span *ngSwitchCase="3" class="difficulty-master badge rounded-pill">
              Master {{item.ratingBase/10.0|number:'1.1-1'}}
            </span>
              <span *ngSwitchCase="4" class="difficulty-remaster badge rounded-pill">
              Re:Master {{item.ratingBase/10.0|number:'1.1-1'}}
            </span>
            </ng-container>
            <b>➛</b>
            {{item.rating}}
          </div>
        </div>
        <div *ngIf="item.musicId == 0" class="card-body overflow-hidden py-0 px-4 text-truncate">
          No Record
        </div>
      </div>
    </div>
  </div>
</ng-template>
