.version-box {
  display: flex;
  justify-content: space-between;
}

.version-box .card {
  width: 49.5%;
}

.version-box button {
  margin-left: 0.3rem;
}

.version {
  font-weight: 500;
  font-size: 1.2rem;
}

@media only screen and (max-width: 575px) {
  .version-box {
    flex-direction: column;
  }

  .version-box .card {
    width: 100%;
  }

  .version-box .card:nth-child(2) {
    margin-top: 1rem;
  }
}
