img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.namePlate img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	margin-top: 10%;
  margin-bottom: 7%;
}

.mapIcon img, .avatarIcon img {
	width: 50%;
	height: 50%;
	object-fit: contain;
  margin-bottom: 10%;
}

.systemVoice img {
	width: 70%;
	height: 70%;
	object-fit: contain;
	margin-top: 5%;
}

#avatarCard, #voiceCard {
	height: 580px;
}

.avatarPreview img {
	position: absolute;
	object-fit: none;
  transform: translateX(-50%);
}

.avatarContainer, .guiguiContainer {
  position: absolute;
  width: 460px;
  height: 580px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.guiguiContainer .guiguiSVG {
  position: absolute;
  transform: translate(-50%, -50%) scale(2);
  top: 50%;
  left: 50%;
  width: 100%;
}

.guiguiContainer .avatarHead {
  position: absolute;
  top: 24.9%;
  left: 32%;
  width: 62%;
  object-fit: contain;
}

#avatarFeet {
  clip-path: inset(405px 87px 0px 0px);
  z-index: 0;
  left: 60.4%;
  top: 10.7%;
}

#avatarBody {
  clip-path: inset(0px 0px 89px 0px);
  z-index: 1;
  left: 50%;
  top: 27%;
  width: 53%;
  height: 75%;
  object-fit: inherit;
}

#avatarFace {
  z-index: 2;
  left: 50%;
  top: 30%;
  width: 20%;
  object-fit: inherit;
}

#avatarLeftHand {
  z-index: 5;
  left: 24.3%;
  top: 52%;
  width: 13%;
  object-fit: inherit;
}

#avatarRightHand {
  z-index: 5;
  right: 11.7%;
  top: 52%;
  width: 12.7%;
  object-fit: inherit;
}

#avatarHead {
  z-index: 3;
  left: 50.4%;
  top: 4%;
  object-fit: inherit;
  width: 82%;
}

#avatarWear {
  z-index: 4;
  left: 50%;
  top: 28.5%;
  object-fit: inherit;
  width: 103.4%;
}

#avatarFaceWear {
  z-index: 4;
  left: 50%;
  top: 26.1%;
  object-fit: initial;
}

#avatarArms {
  z-index: 5;
  left: 23.2%;
  top: 52%;
}

#avatarItemLeft {
  clip-path: inset(0px 177px 0px 0px);
  z-index: 6;
  left: 40%;
  top: 14%;
  width: 75%;
  object-fit: initial;
}

#avatarItemRight {
  clip-path: inset(0px 0px 0px 167px);
  z-index: 6;
  left: 60%;
  top: 13%;
  width: 75%;
  object-fit: initial;
}

#avatarBack {
  z-index: 0;
  left: 50%;
  top: 0%;
}

.voiceButton {
	background-color: #333;
}

.voiceButton:hover {
	background-color: #999;
	cursor: pointer;
}
