<h1 class="page-heading">{{'ChuniV2.UserBoxPage.Title' | translate}}</h1>
<div class="row mb-3">
  <div class="col-12 px-2 mb-2">
    <div class="card p-0 overflow-hidden">
      <div class="card-header item-title text-light d-flex justify-content-center align-items-center py-1">
        <span class="m-0">{{'ChuniV2.UserBoxPage.Avatar' | translate}}</span>
      </div>
      <div class="card-body">
        <div class="avatarPreview">
          <div *ngIf="profile" class="avatarContainer">
            <img id="avatarFeet" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_{{profile.avatarSkin|formatNumber:8}}.webp">
            <img id="avatarBody" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_{{profile.avatarSkin|formatNumber:8}}.webp">
            <img id="avatarFace" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_Face.webp">
            <!-- <img id="avatarArms" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_Arms.webp"> -->
            <img id="avatarLeftHand" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_LeftHand.webp">
            <img id="avatarRightHand" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_RightHand.webp">
            <img id="avatarWear" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_{{profile.avatarWear|formatNumber:8}}.webp">
            <img id="avatarHead" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_{{profile.avatarHead|formatNumber:8}}.webp">
            <img id="avatarFaceWear" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_{{profile.avatarFace|formatNumber:8}}.webp">
            <img id="avatarItemLeft" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_{{profile.avatarItem|formatNumber:8}}.webp">
            <img id="avatarItemRight" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_{{profile.avatarItem|formatNumber:8}}.webp">
            <img id="avatarBack" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_{{profile.avatarBack|formatNumber:8}}.webp">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mb-1">
    <div class="form-check form-check-inline form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="showAllItemsSwitch" [(ngModel)]="showAllItems">
      <label class="form-check-label" for="showAllItemsSwitch">{{'ChuniV2.UserBoxPage.ShowAllItems' | translate}}</label>
    </div>
  </div>
  <div class="col-12 px-1">
    <div class="row p-0 m-0 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
      <div class="col px-1 pt-0 pb-2 m-0" *ngFor="let item of customable">
        <div class="card p-0">
          <div class="card-header item-title text-light d-flex justify-content-center align-items-center py-1">
            <span class="m-0">{{'ChuniV2.UserBoxPage.' + item.name | translate}}</span>
          </div>
          <div class="card-body text-center">
            <div>
              <p class="text-truncate">{{item.value | async}}</p>
            </div>
            <div *ngIf="profile" class="item-body" [ngSwitch]="item.name">
              <img *ngSwitchCase="'Nameplate'" src="{{host}}assets/chuni/namePlate/CHU_UI_NamePlate_{{profile.nameplateId|formatNumber:8}}.webp">
              <img *ngSwitchCase="'MapIcon'" src="{{host}}assets/chuni/mapIcon/CHU_UI_MapIcon_{{profile.mapIconId|formatNumber:8}}.webp">
              <img *ngSwitchCase="'SystemVoice'" src="{{host}}assets/chuni/systemVoice/CHU_UI_SystemVoice_{{profile.voiceId|formatNumber:8}}.webp">
              <img *ngSwitchCase="'AvatarWear'" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Icon_{{profile.avatarWear|formatNumber:8}}.webp">
              <img *ngSwitchCase="'AvatarHead'" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Icon_{{profile.avatarHead|formatNumber:8}}.webp">
              <img *ngSwitchCase="'AvatarFace'" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Icon_{{profile.avatarFace|formatNumber:8}}.webp">
              <img *ngSwitchCase="'AvatarSkin'" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Icon_{{profile.avatarSkin|formatNumber:8}}.webp">
              <img *ngSwitchCase="'AvatarItem'" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Icon_{{profile.avatarItem|formatNumber:8}}.webp">
              <img *ngSwitchCase="'AvatarFront'" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Icon_{{profile.avatarFront|formatNumber:8}}.webp">
              <img *ngSwitchCase="'AvatarBack'" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Icon_{{profile.avatarBack|formatNumber:8}}.webp">
            </div>
            <div class="hstack gap-2 mt-2">
              <button class="btn btn-primary btn-sm text-light" (click)="item.click()" *ngIf="item.click">{{'ChuniV2.UserBoxPage.Change' | translate}}</button>
              <button class="btn btn-primary btn-sm text-light" (click)="voicePreview()" *ngIf="item.name == 'SystemVoice'">{{'ChuniV2.UserBoxPage.Preview' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 class="mb-3">{{ 'ChuniV2.UserBoxPage.SymbolChat' | translate }}</h2>
<ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
  <ng-container *ngFor="let scene of scenes; let i = index">
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="scene-{{i + 1}}-tab" data-bs-toggle="tab" type="button" role="tab" aria-selected="true"
              [attr.data-bs-target]="'#scene-' + (i + 1) + '-tab-pane'"
              [attr.aria-controls]="'scene-' + (i + 1) + '-tab-pane'"
              [class.active]="selectedScene === (i + 1)"
              (click)="selectedScene = (i + 1)">
        {{ ('ChuniV2.UserBoxPage.' + scene) | translate }}
      </button>
    </li>
  </ng-container>
</ul>
<div *ngIf="symbolChatInfo" class="tab-content mb-3" id="myTabContent">
  <ng-container *ngFor="let scene of scenes; let i = index">
    <div class="tab-pane" id="scene-{{i + 1}}-tab-pane" role="tabpanel" tabindex="{{i}}"
         [attr.aria-labelledby]="'scene-' + (i + 1) + '-tab'"
         [class.show]="selectedScene === (i + 1)" [class.active]="selectedScene === (i + 1)">
      <div class="col-12 px-1">
        <div class="row p-0 m-0 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
          <div class="col px-1 pt-0 pb-2 m-0" *ngFor="let _ of Array(4); let j = index">
            <div class="card p-0">
              <div class="card-header item-title text-light d-flex justify-content-center align-items-center py-1">
                <span class="m-0">{{ 'ChuniV2.UserBoxPage.Chat' | translate }} {{ j + 1 }}</span>
              </div>
              <div class="card-body text-center">
                <div class="symbol-chat-container">
                  <div class="symbol-chat-body">
                    <img src="{{host}}assets/chuni/symbolChat/{{getBalloonId(i + 1, j)}}.webp">
                    <div class="symbol-chat-text">{{getSymbolChatText(i + 1, j)}}</div>
                  </div>
                </div>
                <div class="hstack gap-2 mt-2">
                  <button class="btn btn-primary btn-sm text-light" (click)="openSymbolChatModal(i + 1, j)">{{'ChuniV2.UserBoxPage.Change' | translate}}</button>
                </div>
                <ng-template #content let-modal>
                  <ng-container *ngTemplateOutlet="setSymbolChat; context: {sceneId: (i + 1), orderId: j}"></ng-container>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #setSymbolChat let-sceneId="sceneId" let-orderId="orderId">
    {{sceneId}}{{orderId}}
  </ng-template>
</div>
