<article>
  <h1>User Box</h1>

  <div *ngIf="enableImages == true" fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="1rem" class="assetPreview">
    <div class="container">
      <div class="row">
        <section id="avatarCard" class="card col-md-6">
          <div class="card-body">
            <h5 class="card-title">Avatar preview</h5>
            <div class="avatarPreview">
              <img id="avatarFeet" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_{{profile.avatarSkin|formatNumber:8}}.png">
              <img id="avatarBody" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_{{profile.avatarSkin|formatNumber:8}}.png">
<!--              <img id="avatarFace" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_Face.png">-->
<!--              <img id="avatarArms" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_Arms.png">-->
              <img id="avatarWear" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_{{profile.avatarWear|formatNumber:8}}.png">
              <img id="avatarHead" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_{{profile.avatarHead|formatNumber:8}}.png">
              <img id="avatarFaceWear" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_{{profile.avatarFace|formatNumber:8}}.png">
              <img id="avatarItem" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_{{profile.avatarItem|formatNumber:8}}.png">
              <img id="avatarBack" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Tex_{{profile.avatarBack|formatNumber:8}}.png">
            </div>
          </div>
        </section>

        <section id="voiceCard" class="card col-md-6 col-md-3">
          <div class="card-body">
            <h5 class="card-title">System voice preview</h5>
            <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="1rem">
              <div class="container mt-3">
                <span>Volume :</span>
                <input class="form-range" type="range" [(ngModel)]="volume">
                <div class="row">
                  <div class="col-3 mb-1" *ngFor="let item of systemVoicelines">
                      <button class="btn btn-outline-secondary w-100 h-100" (click)="item.click()" *ngIf="item.click">{{item.name}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="mt-3" fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="1rem">
    <div class="container">
      <div class="row g-3">
        <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4" *ngFor="let item of customable">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <div *ngIf="profile" [ngClass]="{'namePlate': item.name == 'Nameplate', 'mapIcon': item.name == 'Map Icon', 'systemVoice': item.name == 'System Voice', 'avatarIcon': item.name.match('Avatar')}">
              {{item.value | async}}
              <div *ngIf="enableImages == true">
                <img *ngIf="item.name == 'Nameplate'" src="{{host}}assets/chuni/namePlate/CHU_UI_NamePlate_{{profile.nameplateId|formatNumber:8}}.png">
                <img *ngIf="item.name == 'Map Icon'" src="{{host}}assets/chuni/mapIcon/CHU_UI_MapIcon_{{profile.mapIconId|formatNumber:8}}.png">
                <img *ngIf="item.name == 'System Voice'" src="{{host}}assets/chuni/systemVoice/CHU_UI_SystemVoice_{{profile.voiceId|formatNumber:8}}.png">
                <img *ngIf="item.name == 'Avatar Wear'" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Icon_{{profile.avatarWear|formatNumber:8}}.png">
                <img *ngIf="item.name == 'Avatar Head'" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Icon_{{profile.avatarHead|formatNumber:8}}.png">
                <img *ngIf="item.name == 'Avatar Face'" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Icon_{{profile.avatarFace|formatNumber:8}}.png">
                <img *ngIf="item.name == 'Avatar Skin'" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Icon_{{profile.avatarSkin|formatNumber:8}}.png">
                <img *ngIf="item.name == 'Avatar Item'" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Icon_{{profile.avatarItem|formatNumber:8}}.png">
                <img *ngIf="item.name == 'Avatar Front'" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Icon_{{profile.avatarFront|formatNumber:8}}.png">
                <img *ngIf="item.name == 'Avatar Back'" src="{{host}}assets/chuni/avatar/CHU_UI_Avatar_Icon_{{profile.avatarBack|formatNumber:8}}.png">
              </div>
            </div>
            <mat-card-actions>
              <button (click)="item.click()" mat-button *ngIf="item.click">Change</button>
            </mat-card-actions>

          </div>
        </div>
      </div>
    </div>
  </div>

</article>






