.audio-btn {
  font-size: calc(0.5vw + 0.3vh);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.namePlate img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	margin-top: 10%;
  margin-bottom: 7%;
}

.mapIcon img, .avatarIcon img {
	width: 50%;
	height: 50%;
	object-fit: contain;
  margin-bottom: 10%;
}

.systemVoice img {
	width: 70%;
	height: 70%;
	object-fit: contain;
	margin-top: 5%;
}

#avatarCard, #voiceCard {
	height: 580px;
}

.avatarPreview {
  max-width: 15em;
  margin: auto;
}

.avatarPreview img {
	position: absolute;
	object-fit: none;
  transform: translateX(-50%);
}

.avatarContainer, .guiguiContainer {
  position: relative;
  aspect-ratio: 0.925170068027211;
  max-width: 100%;
  max-height: 100%;
}

.guiguiContainer .guiguiSVG {
  position: absolute;
  transform: translate(-50%, -50%) scale(2);
  top: 50%;
  left: 50%;
  width: 100%;
}

.guiguiContainer .avatarHead {
  position: absolute;
  top: 24.9%;
  left: 32%;
  width: 62%;
  object-fit: contain;
}

#avatarFeet {
  clip-path: inset(80.7% 14.7% 0 0);
  z-index: 0;
  left: 57%;
  top: 20%;
  width: 44%;
  object-fit: inherit;
}

#avatarBody {
  clip-path: inset(0 0 19.3% 0);
  z-index: 1;
  left: 50%;
  top: 25.5%;
  width: 44%;
  object-fit: inherit;
}

#avatarFace {
  z-index: 2;
  left: 50%;
  top: 28%;
  width: 20%;
  object-fit: inherit;
}

#avatarLeftHand {
  z-index: 5;
  left: 26.3%;
  top: 52%;
  width: 13%;
  object-fit: inherit;
}

#avatarRightHand {
  z-index: 5;
  right: 13.7%;
  top: 52%;
  width: 12.7%;
  object-fit: inherit;
}

#avatarHead {
  z-index: 3;
  left: 50.4%;
  top: 6%;
  object-fit: inherit;
  width: 68%;
}

#avatarWear {
  z-index: 4;
  left: 50%;
  top: 31%;
  object-fit: inherit;
  width: 88%;
}

#avatarFaceWear {
  z-index: 4;
  left: 50%;
  top: 27%;
  width: 40%;
  object-fit: initial;
}

#avatarArms {
  z-index: 5;
  left: 23.2%;
  top: 52%;
}

#avatarItemLeft {
  clip-path: inset(0 50% 0 0);
  z-index: 6;
  left: 42%;
  top: 11%;
  width: 75%;
  object-fit: initial;
}

#avatarItemRight {
  clip-path: inset(0 0 0 50%);
  z-index: 6;
  left: 58%;
  top: 10%;
  width: 75%;
  object-fit: initial;
}

#avatarBack {
  object-fit: contain;
  z-index: 0;
  left: 50%;
  width: 100%;
  height: 100%;
}

.voiceButton {
	background-color: #333;
}

.voiceButton:hover {
	background-color: #999;
	cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .audio-btn {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 575px) {
  .audio-btn {
    font-size: 2.1vw;
  }
}

.item-title{
  background-color: #202c3a;
}

.item-body{
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 5em;
  aspect-ratio: 1.8;
}

.item-body img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.symbol-chat-container{
  aspect-ratio: 1.8;
  width: 100%;
  max-height: 6em;
  display: flex;
  justify-content: center;
}

.symbol-chat-body{
  height: 100%;
  aspect-ratio: 1.5;
  position: relative;
  container: symbol-chat-container / size;
}

.symbol-chat-body img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.symbol-chat-text{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: black;
  font-size: 10cqh;
  width: 70%;
}
