<h1 class="page-heading">{{ 'Maimai2.Setting.Title' | translate }}</h1>


<div class="card mb-3" *ngIf="profile">
  <div class="card-header">
    {{ 'Maimai2.Setting.UserName' | translate }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ 'Maimai2.Setting.UserNameTitle' | translate }}</h5>
    <form [formGroup]="userNameForm" (ngSubmit)="onSubmit()">
      <!-- <h2 class="card-text text-center">{{profile.userName}}</h2> -->
      <input type="text" class="form-control mb-3" id="username" formControlName="username">
    </form>
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-muted small align-text-bottom">{{ 'Maimai2.Setting.UserNameSubTitle' | translate }}</div>
      <a (click)="userName()" class="btn btn-primary">{{ 'Maimai2.Setting.UserNameChangeButton' | translate }}</a>
    </div>
  </div>
</div>

<div class="card mb-3" *ngIf="profile">
  <div class="card-header">
    {{ 'Maimai2.Setting.UserIcon' | translate }}
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <h5 class="card-text">
      {{ 'Maimai2.Setting.UserIconTips' | translate}}
      <ul>
        <li>{{ 'Maimai2.Setting.UserIconLimit1' | translate}} &lt; <b>{{divMaxLength * 10}} kb</b>.</li>
        <li>{{ 'Maimai2.Setting.UserIconLimit2' | translate}}</li>
      </ul>
    </h5>
    <div class="d-flex justify-content-between align-items-end">
      <div class="text-muted small align-text-bottom">{{ 'Maimai2.Setting.UserIconSubTitle' | translate}}</div>
      <a (click)="openUploadUserPortraitDialog()" class="btn btn-primary">{{ 'Maimai2.Setting.UserIconChangeButton' | translate }}</a>
    </div>
  </div>
</div>

<div class="card mb-3" *ngIf="profile">
  <div class="card-header">
    {{ 'Maimai2.Setting.RedemptionCode' | translate }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ 'Maimai2.Setting.RedemptionCodeTitle' | translate }}</h5>
    <form [formGroup]="redeemCodeForm" (ngSubmit)="onSubmit()">
      <input type="text" class="form-control mb-3" id="redeemCode" formControlName="redeemCode">
    </form>
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-muted small align-text-bottom">{{ 'Maimai2.Setting.RedemptionCodeSubTitle' | translate }}</div>
      <a (click)="activateRedeemCode()" class="btn btn-primary">{{ 'Maimai2.Setting.RedeemButton' | translate }}</a>
    </div>
  </div>
</div>


<div class="card mb-3" *ngIf="profile">
  <div class="card-header text-danger">
    {{ 'Maimai2.Setting.ExportData' | translate }}
  </div>
  <div class="card-body">
    <h5 class="card-text">{{ 'Maimai2.Setting.ExportDataTitle' | translate }}</h5>
    <div class="d-flex justify-content-between align-items-end">
      <div class="text-muted small align-text-bottom">{{ 'Maimai2.Setting.ExportDataSubTitle' | translate }}</div>
      <a (click)="downloadFile()" class="btn btn-primary">{{ 'Maimai2.Setting.ExportDataSubButton' | translate }}</a>
    </div>
  </div>
</div>
