<h1 class="page-heading">设定</h1>


<div class="card mb-3" *ngIf="profile">
  <div class="card-header">
    用户名
  </div>
  <div class="card-body">
    <h5 class="card-title">这是你的游戏内用户名:</h5>
    <form [formGroup]="userNameForm" (ngSubmit)="onSubmit()">
   <!-- <h2 class="card-text text-center">{{profile.userName}}</h2> -->
    <input type="text" class="form-control mb-3" id="username" formControlName="username">
    </form>
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-muted small align-text-bottom">*注意，更改名称使用全角字符</div>
      <a (click)="userName()" class="btn btn-primary">更改名称</a>
    </div>
  </div>
</div>

<div class="card mb-3" *ngIf="profile">
  <div class="card-header">
    用户头像
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <h5 class="card-text">
      You can upload image to server as your user portrait(a.k.a avatar) in game, but there are some limits:
      <ul>
        <li>(Cropped) Image file size &lt; <b>{{divMaxLength * 10}} kb</b>.</li>
        <li>Square image.</li>
      </ul>
      Compress once before loading image into web if you want to crop big picture.
    </h5>
    <div class="d-flex justify-content-between align-items-end">
      <div></div>
      <a (click)="openUploadUserPortraitDialog()" class="btn btn-primary">上传头像</a>
    </div>
  </div>
</div>


<div class="card mb-3" *ngIf="profile">
  <div class="card-header text-danger">
    导出数据
  </div>
  <div class="card-body">
    <h5 class="card-text">通过这个功能可以导出数据，以便迁移时使用</h5>
    <div class="d-flex justify-content-between align-items-end">
      <div class="text-muted small align-text-bottom">*请不要将导出的文件分享给他人</div>
      <a (click)="downloadFile()" class="btn btn-primary">导出</a>
    </div>
  </div>
</div>
