.profile-col{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.col-content{
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  gap: .2rem;
}

.col-lead{
  display: flex;
  align-items: center;
  font-size: small;
  --bs-text-opacity: 1;
  width: 8em;
}

.col-value{
  font-weight: bold;
  font-size: small;
  overflow: hidden;
  width: 0em;
}

.col-action {
  flex: 0 1 auto;
  flex-shrink: 0;
  font-size: small;
  text-decoration: none;
}

.col-action:hover {
  text-decoration: underline;
  cursor: pointer;
}

.oauth-icon {
  height: 1.4em;
  width: 1.4em;
  margin-inline-end: .6em;
  color: var(--bs-body-color);
}
