<h1 class="page-heading">档案</h1>
<h2 class="mb-3 mt-4">个人信息</h2>
<div *ngIf="userService.currentUser" class="card">
  <div class="card-body row g-3">
    <div class="col-container col-12">
      <div class="row col-content">
          <div class="col-sm-auto"><span class="col-lead">昵称</span></div>
          <div class="col col-value">{{userService.currentUser.name}}</div>
      </div>
      <a class="col-action" href="#">编辑昵称</a>
    </div>
    <div class="col-container col-12">
      <div class="row col-content">
        <div class="col-sm-auto"><span class="col-lead">电子邮箱</span></div>
        <div class="col col-value">没返回</div>
      </div>
    </div>
    <div class="col-container col-12">
      <div class="row col-content">
          <div class="col-sm-auto"><span class="col-lead">密码</span></div>
          <div class="col col-value">********</div>
      </div>
      <a class="col-action" href="#">变更密码</a>
    </div>
  </div>
</div>
<h2 class="mb-3 mt-4">关联账户</h2>
<div *ngIf="userService.currentUser" class="card">
  <div class="card-body row g-3">
    <div class="col-container col-12">
      <div class="row col-content">
        <div class="col-sm-auto">
          <span class="col-lead m-0">
            <svg class="oauth-icon" viewBox="0 0 16 16">
              <use href="assets/microsoft.svg#icon"/>
            </svg>
            Microsoft
          </span>
        </div>
        <div class="col col-value">尚未关联</div>
      </div>
      <a class="col-action" href="#">解除关联</a>
    </div>
    <div class="col-container col-12">
      <div class="row col-content">
        <div class="col-sm-auto">
          <span class="col-lead">
            <svg class="oauth-icon" viewBox="0 0 16 16">
              <use href="assets/github.svg#icon"/>
            </svg>
            GitHub
          </span>
        </div>
        <div class="col col-value">尚未关联</div>
      </div>
      <a class="col-action" href="#">解除关联</a>
    </div>
    <div class="col-container col-12">
      <div class="row col-content">
        <div class="col-sm-auto">
          <span class="col-lead">
            <svg class="oauth-icon" viewBox="0 -10 256 256">
              <use href="assets/gitlab.svg#icon"/>
            </svg>
            GitLab
          </span>
        </div>
        <div class="col col-value">尚未关联</div>
      </div>
      <a class="col-action" href="#">解除关联</a>
    </div>
  </div>
</div>
