.profile-col{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.col-content{
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.col-lead{
  display: inline-block;
  font-size: small;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-secondary-rgb),var(--bs-text-opacity));
  width: 8em;
}

.col-value{
  font-weight: bold;
  font-size: small;
  overflow: hidden;
  width: 0em;
}

.col-action {
  flex: 0 1 auto;
  flex-shrink: 0;
  font-size: small;
  text-decoration: none;
}

.col-action:hover {
  text-decoration: underline;
}
