<h1 class="page-heading">{{"ProfilePage.Title" | translate}}</h1>
<h2 class="mb-3 mt-4">{{"ProfilePage.PersonalInformation" | translate}}</h2>
<div *ngIf="userService.currentUser" class="card mb-4">
  <div class="card-body row g-3">
    <div class="col-container col-12">
      <div class="row col-content">
          <div class="col-sm-auto"><span class="col-lead">{{"ProfilePage.Nickname" | translate}}</span></div>
          <div class="col col-value">{{userService.currentUser.name}}</div>
      </div>
    </div>
    <div class="col-container col-12">
      <div class="row col-content">
          <div class="col-sm-auto"><span class="col-lead">{{"ProfilePage.Username" | translate}}</span></div>
          <div class="col col-value">{{userService.currentUser.username}}</div>
      </div>
    </div>
    <div class="col-container col-12">
      <div class="row col-content">
        <div class="col-sm-auto"><span class="col-lead">{{"ProfilePage.Email" | translate}}</span></div>
        <div class="col col-value">{{userService.currentUser.email}}</div>
      </div>
    </div>
    <div class="col-container col-12">
      <div class="row col-content">
          <div class="col-sm-auto"><span class="col-lead">{{"ProfilePage.Password" | translate}}</span></div>
          <div class="col col-value">********</div>
      </div>
      <!-- <a class="col-action" routerLink="/password-reset">变更密码</a> -->
    </div>
  </div>
</div>
<h2 class="mb-3">{{"ProfilePage.LinkedAccounts" | translate}}</h2>
<div *ngIf="userService.currentUser" class="card mb-4">
  <div class="card-body row g-3">
    <ng-container *ngFor="let provider of providers">
      <div class="col-container col-12">
        <div class="row col-content">
          <div class="col-sm-auto">
            <span class="col-lead m-0">
              <svg class="oauth-icon" viewBox="0 0 16 16">
                <use attr.href="assets/{{provider}}.svg#icon"/>
              </svg>
              {{oAuthService.tokenTypes.get(provider)}}
            </span>
          </div>
          <ng-container *ngIf="findOAuth(provider) let oauth else emptyOAuthBlock">
            <div class="col col-value">{{oauth.email}}</div>
          </ng-container>
          <ng-template #emptyOAuthBlock>
            <div class="col col-value">{{"ProfilePage.NotLinked" | translate}}</div>
          </ng-template>
        </div>
        <ng-container *ngIf="findOAuth(provider) let oauth else linkOAuthBlock">
          <a class="col-action" (click)="modalService.open(unlink, {centered: true})">{{"ProfilePage.Unlink" | translate}}</a>
          <ng-template #unlink let-modal>
            <div class="modal-header">
              <h4 class="modal-title">{{"ProfilePage.Unlink" | translate}}</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="d-grid">
                  <p class="mb-3 ms-1">{{"ProfilePage.UnlinkTip" | translate}}</p>
                  <button class="btn btn-danger btn-sm" (click)="onUnlink(oauth.id);modal.dismiss()">{{'Common.OK' | translate}}</button>
                </div>
              </form>
            </div>
          </ng-template>
        </ng-container>
        <ng-template #linkOAuthBlock>
          <a class="col-action" (click)="oAuthService.getSignInUrl(provider)">{{"ProfilePage.Link" | translate}}</a>
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>
<div class="modal fade" id="link-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{"ProfilePage.Link" | translate}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="hideLinkModal()"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="d-grid">
            <p class="mb-3 ms-1" [innerHTML]="'ProfilePage.LinkTip' | translate: {type: oAuthService.tokenTypes.get(type), email: email}"></p>
            <button class="btn btn-primary btn-sm" (click)="link()">{{'Common.OK' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
