.announcements-title{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.announcements-title:hover {
    text-decoration: underline;
    color: var(--bs-primary);
}

.profile-icon{
  height: 5em;
  width: 5em;
  /* background: linear-gradient(white, #B0B0B0); */
}

.profile-table{
  font-size: .8em;
  max-width: 20em;
}

.profile-table th{
  width: 50%;
}

.profile-table td{
  width: 50%;
}
