<h3 class="mb-4">{{'DashboardPage.Title' | translate}}</h3>

<!--<mat-card>-->
<!--  <mat-card-content>-->
<!--    Welcome to Aqua Viewer, the web interface for Aqua server.<br>-->
<!--    This instance configured to {{enableImages ? 'use image assets.' : 'not to use image assets.'}}-->
<!--  </mat-card-content>-->
<!--</mat-card>-->
<!-- <div class="card mb-3">
  <div class="card-body">
    Welcome to RinNET
  </div>
</div> -->

<h6 class="fw-bold mb-3">
  {{'DashboardPage.LatestAnnouncement' | translate}}
</h6>
<div class="card mb-3">
  <div class="card-body py-2">
    <div *ngIf="loadingAnnouncement" class="placeholder-glow my-1">
      <div>
        <div class="placeholder small fw-light text-secondary" style="width: 8em;"></div>
      </div>
      <div>
        <div class="placeholder fs-5" href="#" style="width: 12em;"></div>
      </div>
    </div>
    <div *ngIf="!loadingAnnouncement" class="my-1">
      <div class="small fw-light text-secondary">{{announcement.expirationDate.toLocaleDateString()}}</div>
      <a class="fs-5 announcements-title" (click)="showAnnouncement(announcement)">{{announcement.title}}</a>
    </div>
  </div>
</div>

<h6 class="fw-bold mb-3">
  账号
</h6>
<ng-container *ngIf="loadingProfile">
  <div class="card mb-3 placeholder-glow">
    <div class="card-body">
      <span class="placeholder" style="width: 7em;"></span>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!loadingProfile && !ongekiProfile && !chusanProfile && !mai2Profile">
  <div class="card mb-3 placeholder-glow">
    <div class="card-body">
      你没有玩过游戏
    </div>
  </div>
</ng-container>
<ng-container *ngIf="ongekiProfile">
  <div class="card mb-3">
    <div class="card-body">
      {{'Common.Ongeki' | translate}}
    </div>
  </div>
</ng-container>
<ng-container *ngIf="chusanProfile">
  <div class="card mb-3">
    <div class="card-body">
      {{'Common.ChuniV2' | translate}}
    </div>
  </div>
</ng-container>
<ng-container *ngIf="mai2Profile">
  <div class="card mb-3">
    <div class="card-body">
      {{'Common.Mai2' | translate}}
    </div>
  </div>
</ng-container>

<h6 class="fw-bold mb-3">
  {{'DashboardPage.GameData' | translate}}
</h6>
<div class="card mb-3">
  <div class="card-body">
    <div *ngIf="checkingUpdate || (loadingDatabase && downloadingPreloadTaskCount == 0)" class="mb-2">
      <span class="pe-2">{{'DashboardPage.CheckingUpdate' | translate}}</span>
      <span class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </span>
    </div>
    <div *ngIf="!checkingUpdate && loadingDatabase && downloadingPreloadTaskCount > 0" class="d-flex align-items-center mb-2">
      <span class="pe-2">{{'DashboardPage.Downloading' | translate}}{{'Common.Colon' | translate}}{{completedPreloadTaskCount}}/{{totalPreloadTaskCount}}</span>
      <span class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </span>
    </div>
    <div *ngIf="!checkingUpdate && !loadingDatabase && errorPreloadTaskCount == 0" class="d-flex align-items-center mb-2">
      <ng-icon name="bootstrap-check-lg" class="d-flex align-items-center me-2 text-success"></ng-icon>
      <span class="pe-2">{{'DashboardPage.Version' | translate}}{{'Common.Colon' | translate}}{{dbVersion}}</span>
    </div>
    <div *ngIf="!checkingUpdate && !loadingDatabase && errorPreloadTaskCount > 0" class="d-flex align-items-center mb-2">
      <ng-icon name="bootstrap-x-lg" class="d-flex align-items-center me-2 text-danger"></ng-icon>
      <span class="pe-2">{{'DashboardPage.DownloadFailed' | translate}}{{'Common.Colon' | translate}}{{completedPreloadTaskCount}}/{{totalPreloadTaskCount}}</span>
    </div>
    <button [class.disabled]="checkingUpdate || loadingDatabase" class="btn btn-danger btn-sm mt-1" (click)="reload()">{{'DashboardPage.Reload' | translate}}</button>
  </div>
</div>
<!-- <div class="card mb-3">
  <div class="card-header">
    Status
  </div>
  <div class="card-body">
    Ongeki Card List: {{ongekiCard}}<br>
    Ongeki Character List: {{ongekiCharacter}}<br>
    Ongeki Music List: {{ongekiMusic}}<br>
    Ongeki Skill List: {{ongekiSkill}}<br>
    Chunithm New Music List: {{chusanMusic}}<br>
    Chunithm New Character List: {{chusanCharacter}}<br>
    Chunithm New Trophy List: {{chusanTrophy}}<br>
    Chunithm New Nameplate List: {{chusanNamePlate}}<br>
    Chunithm New System Voice List: {{chusanSystemVoice}}<br>
    Chunithm New Map Icon List: {{chusanMapIcon}}<br>
    Chunithm New Frame List: {{chusanFrame}}<br>
    Chunithm New Avatar Accessory List: {{chusanAvatarAcc}}<br>
  </div>
  <div class="card-body">
    <button class="btn btn-danger btn-sm mt-1" (click)="reload()">Clean Cache</button>
  </div>
</div> -->
