<h1>Dashboard</h1>

<!--<mat-card>-->
<!--  <mat-card-content>-->
<!--    Welcome to Aqua Viewer, the web interface for Aqua server.<br>-->
<!--    This instance configured to {{enableImages ? 'use image assets.' : 'not to use image assets.'}}-->
<!--  </mat-card-content>-->
<!--</mat-card>-->
<div class="card mt-3">
  <div class="card-body">
    Welcome to RinNET
  </div>
</div>

<div class="card mt-3">
  <div class="card-header">
    Status
  </div>
  <div class="card-body">
    Diva Music List: {{divaPv}}<br>
    Diva Module List: {{divaPv}}<br>
    Diva Customize List: {{divaPv}}<br>
    Chunithm Music List: {{chuniMusic}}<br>
    Chunithm Character List: {{chuniCharacter}}<br>
    Chunithm Skill List: {{chuniSkill}}<br>
    Ongeki Card List: {{ongekiCard}}<br>
    Ongeki Character List: {{ongekiCharacter}}<br>
    Ongeki Music List: {{ongekiMusic}}<br>
    Ongeki Skill List: {{ongekiSkill}}<br>
    Chunithm New Music List: {{chusanMusic}}<br>
    Chunithm New Character List: {{chusanCharacter}}<br>
    Chunithm New Trophy List: {{chusanTrophy}}<br>
    Chunithm New Nameplate List: {{chusanNamePlate}}<br>
    Chunithm New System Voice List: {{chusanSystemVoice}}<br>
    Chunithm New Map Icon List: {{chusanMapIcon}}<br>
    Chunithm New Frame List: {{chusanFrame}}<br>
    Chunithm New Avatar Accessory List: {{chusanAvatarAcc}}<br>
  </div>
  <div class="card-body">
    <button class="btn btn-danger btn-sm mt-1" (click)="reload()">Clean Cache</button>
  </div>
</div>
