<h1 class="page-heading">{{'Maimai2.PhotosPage.Title'|translate}}</h1>

<ng-template #pagination>
  <pagination-template *ngIf="true" #p="paginationApi" class="user-select-none d-flex justify-content-center mt-2" id="server" maxSize="7"
                       style="cursor: default"
                       (pageChange)="load($event)" (pageBoundsCorrection)="load($event)">
    <ul class="pagination pagination-sm justify-content-center mb-2">
      <li class="page-item" [class.disabled]="p.isFirstPage()">
        <a class="page-link" (click)="p.previous()">&nbsp;<&nbsp;</a>
      </li>
      <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value" class="page-item">
        <a *ngIf="p.getCurrent() == page.value" class="page-link">{{ page.label }}</a>
        <a *ngIf="p.getCurrent() != page.value" (click)="p.setCurrent(page.value)"
           class="page-link">{{ page.label }}</a>
      </li>
      <li class="page-item" [class.disabled]="p.isLastPage()">
        <a class="page-link" (click)="p.next()">&nbsp;>&nbsp;</a>
      </li>
    </ul>
  </pagination-template>
</ng-template>
<ng-container *ngTemplateOutlet="pagination;"></ng-container>

<div class="alert alert-info" *ngIf="!hasData">
  {{'Maimai2.PhotosPage.NotOwned'|translate}}
</div>

<div class="container">
  <div *ngIf="photos" class="row mb-4 g-2">
    <div *ngFor="let item of photos | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: currentPage, totalItems: totalElements }; let i = index" class="col-12 col-xl-6">
      <div class="card">
        <img src="{{item.fileName}}" class="card-img-top" alt="右键して遊戏の写真を保存する">
        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <div>
              {{(item.uploadDate).toLocaleString()}}
            </div>
            <span class="no-wrap">TRACK {{item.trackNo}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="pagination">
  <pagination-controls (pageChange)="load($event)" id="server"></pagination-controls>
</div>!-->

