<div class="hstack">
  <div style="width: 100px;height: 100px">
    <img src="{{host}}assets/ongeki/card-icon/UI_Card_Icon_{{(info ? info.id : 100001) | formatNumber:6}}_S.png"
         alt="{{info ? info.name : '星咲 あかり'}}">
  </div>
  <div>
    <div class="hstack">
      <div class="text-end" style="height: 28px;width: 36px;margin-top: 3px">
        <img class="h-100" src="{{host}}assets/ongeki/gameUi/UI_CMN_CharaNameBase_{{(info ? info.rarity : 'N') | toRaritySprite}}_00.png">
      </div>
      <div class="ratio"
           style="width: 90px;--bs-aspect-ratio: 40.2985074626866%;background-size: 100% 100%;background-position: left bottom;background-repeat: no-repeat;background-image: url({{host}}assets/ongeki/gameUi/UI_CMN_CharaLevel_base.png)">
        <div class="hstack" style="padding-left: 5px">
          <img src="{{host}}assets/ongeki/gameUi/UI_CMN_AttributeIcon_{{info ? info.attribute : 'Fire'}}_mini.png">
          <div>
            <img style="height: 20px;margin-left: -6px;margin-top: 9px"
                 src="{{host}}assets/ongeki/gameUi/UI_CMN_CharaLevel_base_Header.png">
          </div>
          <div>
            <img *ngIf="level>=100" style="height:24px;margin-left: -10px;margin-top:3px"
                 src="{{host}}assets/ongeki/gameUi/UI_NUM_13pt_Charalevel_00/{{Math.floor(level/100)}}.png">
          </div>
          <div>
            <img *ngIf="level>=10" style="height:24px;margin-left: {{level>=100?'-12px':'-9px'}};margin-top:3px"
                 src="{{host}}assets/ongeki/gameUi/UI_NUM_13pt_Charalevel_00/{{Math.floor((level%100)/10)}}.png">
          </div>
          <div>
            <img style="height:24px;margin-inline: -10px;margin-top:3px"
                 src="{{host}}assets/ongeki/gameUi/UI_NUM_13pt_Charalevel_00/{{level%10}}.png">
          </div>
        </div>
      </div>
    </div>
    <div style="font-family: SEGA_Humming;margin-left: 10px;font-size: 16px">
      <div>
        <span>
<!--          CharacterName-->
                    {{info ? (info.characterInfo ? info.characterInfo.name : info.name) : '星咲 あかり'}}
        </span>
      </div>
      <div>
        <span>
<!--          NickName-->
                    {{info ? info.nickName : '星咲 あかり'}}
        </span>
      </div>
    </div>
  </div>
</div>
