<div class="container pt-2 pt-sm-4 px-3 px-sm-5">
  <div class="my-3">
    <h4 class="fw-semibold">Reset your password</h4>
  </div>

  <form  [formGroup]="resetPasswordForm">
    <div class="d-grid gap-2">
      <div>
        <label for="email" class="form-label small">Email address</label>
        <input type="email" class="form-control form-control-sm" id="email" formControlName="email"
               placeholder=""
               [class.is-invalid]="email.touched && !email.valid && email.errors">
      </div>
      <div>
        <label for="verifyCode" class="form-label small">Verify code</label>

        <div class="input-group input-group-sm">
          <input type="text" class="form-control form-control-sm" id="verifyCode" formControlName="verifyCode"
                 placeholder=""
                 [class.is-invalid]="verifyCode.touched && !verifyCode.valid && verifyCode.errors">
          <button class="btn btn-outline-secondary" type="submit" (click)="getVerifyCode()">Get</button>
        </div>
      </div>
      <div>
        <label for="password" class="form-label small">Password</label>
        <input type="password" class="form-control form-control-sm" id="password" formControlName="password"
               placeholder=""
               [class.is-invalid]="password.touched && !password.valid && password.errors">
      </div>
      <button type="submit" class="btn btn-primary btn-sm mt-4" [class.disabled]="resetPasswordForm.disabled" (click)="onSubmit()">Reset</button>
    </div>
  </form>
</div>
