<div class="container pt-2 pt-sm-4 px-3 px-sm-5">
  <div class="my-3">
    <h4 class="fw-semibold">{{'HomePage.ResetPasswordModal.Title' | translate}}</h4>
  </div>

  <form  [formGroup]="resetPasswordForm">
    <div class="d-grid gap-2">
      <div>
        <label for="email" class="form-label small">{{'HomePage.ResetPasswordModal.EmailAddress' | translate}}</label>
        <div class="input-group input-group-sm has-validation">
          <input type="email" class="form-control form-control-sm" id="email" formControlName="email"
                 placeholder=""
                 [class.is-invalid]="email.touched && !email.valid && email.errors">
          <div *ngIf="email.errors" class="invalid-tooltip">
            <div *ngIf="email.errors.required">{{'HomePage.ResetPasswordModal.EmailErrors.Required' | translate}}</div>
            <div *ngIf="email.errors.maxlength">{{'HomePage.ResetPasswordModal.EmailErrors.Maxlength' | translate}}</div>
            <div *ngIf="email.errors.email">{{'HomePage.ResetPasswordModal.EmailErrors.Email' | translate}}</div>
          </div>
        </div>
      </div>

      <div>
        <label for="verifyCode" class="form-label small">{{'HomePage.ResetPasswordModal.VerificationCode' | translate}}</label>
        <div class="input-group input-group-sm has-validation">
          <input type="text" class="form-control form-control-sm" id="verifyCode" formControlName="verifyCode"
                 placeholder=""
                 [class.is-invalid]="verifyCode.touched && !verifyCode.valid && verifyCode.errors">
          <div *ngIf="verifyCode.errors" class="invalid-tooltip">
            <div *ngIf="verifyCode.errors.required">{{'HomePage.ResetPasswordModal.VerificationCodeErrors.Required' | translate}}</div>
            <div *ngIf="verifyCode.errors.minlength">{{'HomePage.ResetPasswordModal.VerificationCodeErrors.Length' | translate}}</div>
            <div *ngIf="verifyCode.errors.maxlength">{{'HomePage.ResetPasswordModal.VerificationCodeErrors.Length' | translate}}</div>
          </div>
          <button class="btn btn-outline-secondary input-group-btn" type="button" (click)="getVerifyCode()" [disabled]="isButtonDisabled">
            {{ isButtonDisabled ? remainingTime : ('HomePage.ResetPasswordModal.Send' | translate) }}
          </button>
        </div>
      </div>

      <div>
        <label for="password" class="form-label small">{{'HomePage.ResetPasswordModal.Password' | translate}}</label>
        <div class="input-group input-group-sm has-validation">
          <input type="password" class="form-control form-control-sm" id="password" formControlName="password"
                 placeholder=""
                 [class.is-invalid]="password.touched && !password.valid && password.errors">
          <div *ngIf="password.errors" class="invalid-tooltip">
            <div *ngIf="password.errors.required">{{'HomePage.ResetPasswordModal.PasswordErrors.Required' | translate}}</div>
            <div *ngIf="password.errors.minlength">{{'HomePage.ResetPasswordModal.PasswordErrors.Minlength' | translate}}</div>
            <div *ngIf="password.errors.maxlength">{{'HomePage.ResetPasswordModal.PasswordErrors.Maxlength' | translate}}</div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-sm mt-4" [class.disabled]="resetPasswordForm.disabled" (click)="onSubmit()">{{'HomePage.ResetPasswordModal.Reset' | translate}}</button>
    </div>
  </form>
</div>
