<div class="container pt-2 pt-sm-4 px-3 px-sm-5">
  <div class="my-3">
    <h4 class="fw-semibold">Reset your password</h4>
  </div>
  <form>
    <div class="d-grid gap-2">
      <div class="position-relative">
        <label for="usernameOrEmail" class="form-label small">Email</label>

        <input type="text" class="form-control form-control-sm" id="usernameOrEmail"
               formControlName="usernameOrEmail" placeholder="">
      </div>
      <div class="position-relative">
        <label for="captcha" class="form-label small">Captcha</label>
        <div class="input-group input-group-sm">
          <input class="form-control form-control-sm" id="captcha" formControlName="captcha"
                 placeholder="">
          <button type="button" class="btn btn-primary btn-sm">Send</button>
        </div>
      </div>
      <div class="position-relative">
        <label for="password" class="form-label small">New password</label>
        <input type="password" class="form-control form-control-sm" id="password" formControlName="password"
               placeholder="">
      </div>
      <button type="submit" class="btn btn-primary btn-sm mt-4">OK</button>
    </div>
  </form>
</div>
