<h3 class="mat-display-1">All cards</h3>

<ng-template #pagination>
  <pagination-template *ngIf="true" #p="paginationApi" class="user-select-none" id="server" maxSize="7"
                       style="cursor: default"
                       (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)">
    <ul class="pagination pagination-sm justify-content-center">
      <li class="page-item" [class.disabled]="p.isFirstPage()">
        <a class="page-link" (click)="p.previous()">&nbsp;<&nbsp;</a>
      </li>
      <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value" class="page-item">
        <a *ngIf="p.getCurrent() == page.value" class="page-link">{{ page.label }}</a>
        <a *ngIf="p.getCurrent() != page.value" (click)="p.setCurrent(page.value)"
           class="page-link">{{ page.label }}</a>
      </li>
      <li class="page-item" [class.disabled]="p.isLastPage()">
        <a class="page-link" (click)="p.next()">&nbsp;>&nbsp;</a>
      </li>
    </ul>
  </pagination-template>
</ng-template>
<ng-container *ngTemplateOutlet="pagination;"></ng-container>
<input type="text" class="form-control mb-2" placeholder="Filter" [(ngModel)]="searchTerm" (input)="filterCards()">
<div class="card mb-2 text-start"
     *ngFor="let item of filteredCardList | paginate: { id: 'server', itemsPerPage: 12, currentPage: currentPage, totalItems: totalElements }">
  <div class="card-body">
    <h5 class="card-title mb-3">{{item.name}}</h5>
    <div class="card-display">
      <div class="image">
        <img src="{{host}}assets/ongeki/card/UI_Card_{{item.id|formatNumber:6}}_S.jpg">
        <div *ngIf="item.characterInfo">
          {{item.characterInfo.name}}<br>
          {{item.characterInfo.cv ? '(CV: ' + item.characterInfo.cv + ')' : ''}}
        </div>
      </div>
      <div class="content">
        <table class="table table-striped table-borderless">
          <tbody>
          <tr>
            <th>Card ID</th>
            <td>{{item.id}}</td>
          </tr>
          <tr>
            <th>Rarity</th>
            <td>{{item.rarity}}</td>
          </tr>
          <tr>
            <th>Card Name</th>
            <td>{{item.nickName}}</td>
          </tr>
          <tr>
            <th>Attribute</th>
            <td>{{item.attribute}}</td>
          </tr>
          <tr>
            <th>School</th>
            <td>{{item.school}}</td>
          </tr>
          <tr>
            <th>Gakunen</th>
            <td>{{item.gakunen}}</td>
          </tr>
          <tr>
            <th>Skill</th>
            <td>{{item.skillInfo ? item.skillInfo.name : 'ID:' + item.skillId}}</td>
          </tr>
          <tr>
            <th>ChoKaika Skill</th>
            <td>{{item.choKaikaSkillInfo ? item.choKaikaSkillInfo.name : 'ID:' + item.choKaikaSkillId}}</td>
          </tr>
          <tr>
            <th>Card Number</th>
            <td>{{item.cardNumber}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <a type="button" class="text-primary float-end" (click)="insertCard(item.id)">I want it!</a>
  </div>
</div>
<ng-container *ngTemplateOutlet="pagination;"></ng-container>
