<h1 class="mat-display-1">All cards</h1>

<mat-form-field class="filter">
  <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
</mat-form-field>
<mat-card *ngFor="let item of dataSource.filteredData | paginate: { id: 'card', itemsPerPage: 10, currentPage: p }">
  <mat-card-title>
    {{item.name}}
  </mat-card-title>
  <mat-card-content>
    <div class="card-display">
      <div class="image">
        <img *ngIf="enableImages == true" src="{{host}}assets/ongeki/card/UI_Card_{{item.id|formatNumber:6}}_S.jpg">
        <div *ngIf="item.characterInfo">
          {{item.characterInfo.name}}<br>
          {{item.characterInfo.cv ? '(CV: ' + item.characterInfo.cv + ')' : ''}}
        </div>
      </div>
      <div class="content">
        <table class="zebra">
          <tr>
            <th>Card ID</th>
            <td>{{item.id}}</td>
          </tr>
          <tr>
            <th>Rarity</th>
            <td>{{item.rarity}}</td>
          </tr>
          <tr>
            <th>Card Name</th>
            <td>{{item.nickName}}</td>
          </tr>
          <tr>
            <th>Attribute</th>
            <td>{{item.attribute}}</td>
          </tr>
          <tr>
            <th>School</th>
            <td>{{item.school}}</td>
          </tr>
          <tr>
            <th>Gakunen</th>
            <td>{{item.gakunen}}</td>
          </tr>
          <tr>
            <th>Skill</th>
            <td>{{item.skillInfo ? item.skillInfo.name : 'ID:' + item.skillId}}</td>
          </tr>
          <tr>
            <th>ChoKaika Skill</th>
            <td>{{item.choKaikaSkillInfo ? item.choKaikaSkillInfo.name : 'ID:' + item.choKaikaSkillId}}</td>
          </tr>
          <tr>
            <th>Card Number</th>
            <td>{{item.cardNumber}}</td>
          </tr>
        </table>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div fxFlex></div>
    <button (click)="insertCard(item.id)" mat-button>I want it!</button>
  </mat-card-actions>
</mat-card>
<div class="pagination">
  <pagination-controls (pageChange)="p = $event" id="card"></pagination-controls>
</div>
