@import "../../../../../node_modules/bootstrap/scss/bootstrap-grid";

.offcanvas {
  width: 40vw !important;
}

.music-img {
  width: 60%;
}

.fbab-img {
  margin-left: 20px;
}

.honor-badge {
  aspect-ratio: 1;
  width: 32px;
}

@include media-breakpoint-down(sm) {
  .music-img {
    width: 100%;
  }
}

.color-basic {
  color: #00ab84;
}

.color-advanced {
  color: #ff7e00;
}

.color-expert {
  color: #f12929;
}

.color-master {
  color: #8e1be5;
}

.color-remaster {
  color: #0BE9EE;
}

.color-we {
  background: linear-gradient(45deg, #0BE9EE, #ACE559, #FCE116, #CB00B0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
}

.honor{
  height: 32px;
}

.difficulty-detail-body{
  min-height: 32px;
}

.medal {
  width: 1rem;
}


.no-wrap{
  flex-wrap: nowrap;
}

.honor-img{
  height: 2.0em;
  aspect-ratio: 0.893617021276596;
}

.rival-img{
  height: 1.6em;
  aspect-ratio: 1.53061224489796;
}
.clear-img{
  height: 1.2em;
  aspect-ratio: 5;
}
.dx-score-container{
  white-space: nowrap;
}

.rank-icon{
  height: 2rem; width: auto
}
.color-utage {
  background: #870085 linear-gradient(45deg, #7c00a8, #ff6ffd, #870085);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
}

.music-info-container {
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    background-image: linear-gradient(to bottom, var(--color-from) 0%, var(--color-to) 100%), var(--jacket-img);
    background-size: cover;
    background-position: center;
    transform: translate(-50%, -50%);
    filter: blur(10px);
    z-index: 0;
  }
}

:host-context([data-bs-theme=light]) .music-info-container {
  --color-from: rgba(255, 255, 255, 0.3);
  --color-to: rgba(255, 255, 255, 1);
}

:host-context([data-bs-theme=dark]) .music-info-container {
  --color-from: rgba(33, 37, 41, 0.3);
  --color-to: rgba(33, 37, 41, 1);
}

.music-img {
  position: relative;
  z-index: 1;
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.card-body {
  position: relative;
  z-index: 2;
  background: rgba(255,255,255,0.8);
}

:host-context([data-bs-theme=dark]) .card-body {
  background: rgba(33, 37, 41, 0.8);
}
