/* You can add global styles to this file, and also import other style files */
@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins/breakpoints";
@import "/node_modules/bootstrap/scss/bootstrap-grid";


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
}

mat-card {
  margin: 20px auto;
}

.spacer-util {
  flex: 1 1 auto;
}

.content-container {
  height: 100%;
  overflow: auto;
}

.full-width {
  width: 100%;
}


table {
  width: 100%;
  border-spacing: 0;
  word-break: break-word;
}

.zebra tr:nth-child(odd) {
  background-color: #595959;
}

.zebra tr th {
  padding: 10px;
}

.zebra tr td {
  padding: 10px 2px;
}

.zebra th {
  text-align: left;
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  table {
    font-size: 0.8em;
  }

  .zebra tr th {
    padding: 8px;
  }

  .zebra tr td {
    padding: 8px 2px;
  }
}

pagination-template {
  display: flex !important;
}

.ngx-pagination {
  margin: 0 auto 1rem auto !important;
  padding: 0 !important;
}

.ngx-pagination .current {
  background: #424242 !important;
}

.ngx-pagination a, .ngx-pagination button {
  color: #fff !important;
}

.ngx-pagination a:hover, .ngx-pagination button:hover {
  background: #606060 !important;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 4px !important;
  /*height: 4px;*/
}

::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  -webkit-box-shadow: inset 0 0 5px #5d5f62 !important;
  background: #5d5f62 !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #373b3e !important;
  border-radius: 0 !important;
  background: #373b3e !important;
}


.btn-close{
  --bs-btn-close-focus-shadow: 0;
}
.btn-close:active {
  opacity: .5;
}

.btn-icon{
  border-width: 0!important;
  --bs-btn-border-width: 0;
}

.btn-icon:hover{
  opacity: .75;
}

.btn-icon:active {
  opacity: .5;
}

.cursor-pointer{
  cursor: pointer;
}

.ongeki-song-score-ranking {
  width: 35vw !important;
}

@media only screen and (max-width: 766px) {
  .ongeki-song-score-ranking {
    width: 100vw !important;
  }
}

.card-btn {
  cursor: pointer;
  transition: ease-in-out, background-color .15s;
}

.card-btn:hover {
  background-color: var(--bs-card-cap-bg);
}

.v-hidden{
  visibility: hidden;
}

.callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: var(--bd-callout-color, inherit);
  background-color: var(--bd-callout-bg, var(--bs-gray-100));
  border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}

.callout-info {
  --bd-callout-color: var(--bs-info-text-emphasis);
  --bd-callout-bg: var(--bs-info-bg-subtle);
  --bd-callout-border: var(--bs-info-border-subtle);
}

.callout-warning {
  --bd-callout-color: var(--bs-warning-text-emphasis);
  --bd-callout-bg: var(--bs-warning-bg-subtle);
  --bd-callout-border: var(--bs-warning-border-subtle);
}

.callout-danger {
  --bd-callout-color: var(--bs-danger-text-emphasis);
  --bd-callout-bg: var(--bs-danger-bg-subtle);
  --bd-callout-border: var(--bs-danger-border-subtle);
}

ng-icon{
  display: inline-flex!important;
  align-items: center;
  padding: 1px;
}

.page-heading {
  margin-bottom: 1.5rem !important;
}

h1 {
  font-size:175%;
}

h2 {
  font-size: 150%
}
h3 {
  font-size: 125%
}
h4 {
  font-size: 115%
}
h5 {
  font-size: 110%
}
h6 {
  font-size: 100%
}

.authorization-card {
  margin-top: 5rem !important;
  max-width: 36rem;
  box-shadow: $box-shadow;
}
@include media-breakpoint-down(lg) {
  .authorization-card {
    border: 0 !important;
    margin-top: 1rem !important;
    box-shadow: none;
  }
}

.btn-theme{
  display:flex;
  align-items: center;
}

[data-bs-theme=light] .btn-theme{
  --bs-btn-color: #{$gray-800};
  --bs-btn-bg: #{$white};
  --bs-btn-border-color: #{$gray-300};
  --bs-btn-hover-color: #{$gray-800};
  --bs-btn-hover-bg: #{shade-color($white, 10%)};
  --bs-btn-hover-border-color: #{shade-color($gray-300, 10%)};
}

[data-bs-theme=dark] .btn-theme{
  --bs-btn-color: #{$gray-200};
  --bs-btn-bg: #{$gray-900};
  --bs-btn-border-color: #{$gray-700};
  --bs-btn-hover-color: #{$gray-200};
  --bs-btn-hover-bg: #{tint-color($gray-900, 10%)};
  --bs-btn-hover-border-color: #{tint-color($gray-700, 10%)};
}
