.cannot-drag {
  -webkit-user-drag: none;
}

.logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.logo {
  position: absolute;
  z-index: 99;
  max-height: 100%;
  max-width: 100%;
  top: 0;
  transform: translate(-50%, 0);
  left: 50%;
  height: 100%;
}

.logo-bg {
  background: url('src/assets/turtle.svg') no-repeat center center / 100%;
}

.logo-bottom {
  z-index: 10 !important;
}

.logo-img_fault {
  background-blend-mode: screen;
}

.logo-container .logo-box {
  position: relative;
  width: 200px;
  height: 200px;
}

.logo-container .ongekiHead {
  width: 89%;
  position: absolute;
  /*top: 4.5%;*/
  top: 3.6%;
  left: -22.4%;
  z-index: 99;
}

.logo-img_fault::after,.logo-img_fault::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  mask: url('src/assets/turtle.svg') center/contain;
}

.logo-img_fault::after {
  transform: translateX(-2%);
  background-color: #f00;
}

.logo-img_fault::before{
  transform: translateX(2%);
  background-color: #00f;
}

@media only screen and (max-width: 575px) {
  .logo-container .ongekiHead {
    width: 84%;
    top: 5.5%;
    left: -19.1%;
  }
}
