<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          OAuth2 Login via {{type.toUpperCase()}}
        </div>
        <div class="card-body">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="spinner-border" role="status"></div>
            <span class="mt-2">Processing</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
