 <h1 class="page-heading">{{'Maimai2.SongList.Title'|translate}}</h1>

<ng-template #pagination>
  <pagination-template *ngIf="true" #p="paginationApi" class="user-select-none" id="server" maxSize="7"
                       style="cursor: default"
                       (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)">
    <ul class="pagination pagination-sm justify-content-center mb-2">
      <li class="page-item" [class.disabled]="p.isFirstPage()">
        <a class="page-link" (click)="p.previous()">&nbsp;<&nbsp;</a>
      </li>
      <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value" class="page-item">
        <a *ngIf="p.getCurrent() == page.value" class="page-link">{{ page.label }}</a>
        <a *ngIf="p.getCurrent() != page.value" (click)="p.setCurrent(page.value)"
           class="page-link">{{ page.label }}</a>
      </li>
      <li class="page-item" [class.disabled]="p.isLastPage()">
        <a class="page-link" (click)="p.next()">&nbsp;>&nbsp;</a>
      </li>
    </ul>
  </pagination-template>
</ng-template>
<ng-container *ngTemplateOutlet="pagination;"></ng-container>

<div class="accordion mb-2" id="Filter" >
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        {{'Maimai2.SongList.Genre'|translate}}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="row justify-content-start mb-2 g-2">
          <div *ngFor="let genre of genreOptions; let i = index" class="col-auto">
            <input type="checkbox"
                   class="form-check-input checkbox-btn"
                   [id]="'genre' + i"
                   [formControl]="genreControls.controls[i]">
            <label class="checkbox-label" [for]="'genre' + i">{{genre.name}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        {{'Maimai2.SongList.Version'|translate}}
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="row justify-content-start mb-2 g-2">
          <div *ngFor="let version of versionOptions; let i = index" class="col-auto">
            <input type="checkbox"
                   class="form-check-input checkbox-btn"
                   [id]="'version' + i"
                   [formControl]="versionControls.controls[i]">
            <label class="checkbox-label" [for]="'version' + i">{{version.name}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<form class="gy-2 gx-3 align-items-center my-2 d-grid d-sm-flex gap-2">
  <div class="w-100 flex-grow-1 flex-md-grow-0 mt-0">
    <div class="form-control input-container form-select-sm">
      <div class="row g-2">
        <div class="col">
          <input class="form-control-plaintext p-0"
                 [placeholder]="'Maimai2.SongList.Filter'|translate"
                 [formControl]="searchControl">
        </div>
      </div>
    </div>
  </div>

  <div class="ms-auto flex-shrink-0 d-flex gap-2 mt-0">
    <div>
      <select class="form-select form-select-sm"
              (change)="onSortOptionChange($event)">
        <option *ngFor="let option of sortOptions"
                [value]="option.id">
          {{ option.name }}
        </option>
      </select>
    </div>

    <div>
      <button class="btn btn-primary btn-sm"
              (click)="toggleSortOrder()"
              [title]="'Maimai2.SongList.Sort' | translate">
        {{ !sortOrder$.value ?
        ('Maimai2.SongList.SortByIDUp' | translate) :
        ('Maimai2.SongList.SortByIDDown' | translate) }}
      </button>
    </div>
  </div>
</form>
<div class="my-2 justify-content-end d-flex">
  <div class="text-nowrap d-flex" style="font-size: 0.9rem">
    <span class="text-muted">{{'Maimai2.SongList.MatchingSongs'|translate}}：</span>
    <strong>{{ (filteredSongList$ | async)?.length || 0 }}</strong>
  </div>
</div>
<div class="card-btn card mb-2 text-start user-select-none" (click)="showDetail(song)"
     *ngFor="let song of filteredSongList$ | async | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalElements }">
  <div class="song-info card-body hstack p-0" >
    <!-- 封面 -->
    <div class="jacket-container ratio ratio-1x1 position-relative"
        (contextmenu)="handleContextMenu($event, song.name)"
        (touchstart)="handleTouchStart($event, song.name)"
        (touchend)="handleTouchEnd()"
        (touchcancel)="handleTouchEnd()">
      <img class="position-absolute rounded-start"
           *ngIf="enableImages"
           [src]="host + 'assets/mai2/jacket/UI_Jacket_' + getJacketId(song.musicId) + '.webp'"
           (error)="imgError($event)"
           alt="{{song.name}}">
    </div>
    <div class="h-100 w-100 position-relative">
      <div class="position-absolute h-100 d-flex align-items-center px-3 py-1" style="left: 0; right: 0;">
        <div class="w-100 overflow-hidden">
          <div class="song-info-title text-truncate fw-bold">
            <div class="overflow-hidden" style="margin-right: 0.5rem; white-space: nowrap; text-overflow: ellipsis;">
                <span style="font-size: 0.75rem;">{{song.musicId}}. </span>
                <span>{{song.name}}</span>
            </div>
            <div class="badge rounded-pill"
              [ngClass]="{ 
                'badge-SD': getBadgeType(song.musicId) === 'sd',
                'badge-UTAGE': getBadgeType(song.musicId) === 'utage',
                'badge-DX': getBadgeType(song.musicId) === 'dx'
              }">
              {{ getBadgeType(song.musicId).toUpperCase().replace('UTAGE', song.name.substring(1, 2)) || "宴"}}
            </div>
          </div>
          <div class="song-info-artist text-truncate mb-1">
            <span>{{song.artistName}}</span>
          </div>
          <div class="row m-0 align-items-center gap-2 flex-nowrap overflow-x-auto scrollbar-hidden">
            <span *ngIf="song.details[0] != null" [ngClass]="getBadgeType(song.musicId) === 'utage' ? 'difficulty-utage' : 'difficulty-basic'" class="col-auto difficulty badge rounded-pill">
              {{song.details[0].levelDecimal/10}}
            </span>
             <span *ngIf="song.details[1] != null" class="col-auto difficulty difficulty-advanced badge rounded-pill">
              {{song.details[1].levelDecimal/10}}
            </span>
             <span *ngIf="song.details[2] != null" class="col-auto difficulty difficulty-expert badge rounded-pill">
               {{song.details[2].levelDecimal/10}}
            </span>
             <span *ngIf="song.details[3] != null" class="col-auto difficulty difficulty-master badge rounded-pill">
               {{song.details[3].levelDecimal/10}}
            </span>
             <span *ngIf="song.details[4] != null" class="col-auto difficulty difficulty-remaster badge rounded-pill">
               {{song.details[4].levelDecimal/10}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-container *ngTemplateOutlet="pagination;"></ng-container>
