<h1 class="mat-display-1">Import</h1>

<mat-card>
  <mat-card-title>
    Warning!
  </mat-card-title>
  <mat-card-content>
    While this could work, it is not recommended to use this feature.
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    CHUNITHM
  </mat-card-title>
  <mat-card-content>
    <input (change)="chunithm($event)" accept=".json" class="upload-button" type='file'>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    CHUNITHM New
  </mat-card-title>
  <mat-card-content>
    <input (change)="chusan($event)" accept=".json" class="upload-button" type='file'>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    ONGEKI
  </mat-card-title>
  <mat-card-content>
    <input (change)="ongeki($event)" accept=".json" class="upload-button" type='file'>
  </mat-card-content>
</mat-card>
