<h1>{{'ImportPage.Title' | translate}}</h1>

<div class="card my-3">
  <div class="card-header">
    Warning!
  </div>
  <div class="card-body">
    While this could work, it is not recommended to use this feature.
  </div>
</div>

<div class="card my-3">
  <div class="card-header">
    {{'Common.Ongeki' | translate}}
  </div>
  <div class="card-body">
    <input (change)="ongeki($event)" accept=".json" class="form-control" type='file'>
  </div>
</div>

<div class="card my-3">
  <div class="card-header">
    {{'Common.ChuniV2' | translate}}
  </div>
  <div class="card-body">
    <input (change)="chusan($event)" accept=".json" class="form-control" type='file'>
  </div>
</div>

<div class="card my-3">
  <div class="card-header">
    {{'Common.Mai2' | translate}}
  </div>
  <div class="card-body">
    <input (change)="maimai2($event)" accept=".json" class="form-control" type='file'>
  </div>
</div>
